[2022-02-22 10:58] wajda commented on #405
The issue seems to be caused by the way the `saveToEs()` method is [implemented](https://github.com/elastic/elasticsearch-hadoop/blob/v8.0.0/spark/sql-13/src/main/scala/org/elasticsearch/spark/sql/EsSparkSQL.scala#L81). It internally converts _DataFrame_ to _RDD_ before processing it. However Spline doesn't capture RDD operations automatically (See #33)

Try to write data to ES using an alternativ

[2022-02-22 13:17] cerveada commented on #405
There is a ticket to Support Spark's Datasource V2 API on elasticsearch-hadoop's github: https://github.com/elastic/elasticsearch-hadoop/issues/1801

This may solve the issue eventually without any changes from our side.

[2022-02-23 09:42] Taurus-Le commented on #405
@wajda
Thank you for your advice. It worked! I managed to capture the lineage. But there is still a tiny flaw. The output datasource is somehow recognized as HDFS which should be elasticsearch. The URI shown when the output icon is clicked dose not exist at all. I set the log level to trace and reran the job in case you need the log.
![企业微信截图_1645609365541](https://user-images.githubusercontent.co

[2022-02-23 15:36] wajda commented on #405
The URI doesn't have to be a real existing resource, it just names the data source in a unique way.
But the fact the URI starts with `hdfs://...` means that [ElasticSearchPlugin](https://github.com/AbsaOSS/spline-spark-agent/blob/release/0.7.3/core/src/main/scala/za/co/absa/spline/harvester/plugin/embedded/ElasticSearchPlugin.scala) did not recognize the output source to be an ElasticSearch one. (

[2022-02-24 21:00] 97nitt commented on #96
@uday1409 any luck implementing a `MergeIntoCommand` that works on Databricks? Just ran into this same issue, and was about to embark on the same journey...

[2022-02-25 00:48] Taurus-Le commented on #405
I see. Of course I'm willing to help. I'll have a try. I'll let you know if I made any progress. And we might as well close this issue for now. Thanks again.

[2022-02-25 00:50] wajda commented on #405
Please leave it open for tracking purposes.

[2022-02-25 22:27] 97nitt commented on #96
@cerveada looks like you added support for the Databricks `CreateDeltaTableCommand` [here](https://github.com/AbsaOSS/spline-spark-agent/issues/107).

Looks like I'll need something similar for `com.databricks.sql.transaction.tahoe.commands.MergeIntoCommandEdge` to get lineage from `MERGE INTO` SparkSQL statements. I may take a crack at this, any guidance on how you got the logging you needed (and

[2022-02-28 09:37] cerveada commented on #96
How to log is described here https://github.com/AbsaOSS/spline-spark-agent/discussions/394 especially the last paragraph. You need a TRACE level for evrything under `za.co.absa.spline` package.

You should find the MergeIntoCommandEdge command in an OBJECT DUMP BEGIN log. This is a log of the class structure and fields, that should hopefully be enough to see the fields you need to extract the data

[2022-02-28 21:27] 97nitt commented on #96
Looks like the attempt to dump that command is failing:
[code]
Will keep poking at this, but would greatly appreciate any suggestions that come to mind while I do...

[2022-03-01 03:10] 97nitt commented on #96
Looks like a problem in `ReflectionUtils` translating the Databricks command class.

I added a logging statement [here](https://github.com/AbsaOSS/spline-spark-agent/blob/release/0.7/core/src/main/scala/za/co/absa/spline/harvester/logging/ObjectStructureDumper.scala#L97) to log the offending exception (with no stack trace).

Resulting logging snippet below:
[code]

[2022-03-01 07:45] cerveada commented on #96
That try & catch is there to ignore errors like these, unfortunately it does not expect the stack trace to be empty.

If you replace the line 97 with this I think the ObjectStructureDumper should start working:
[code]

We will fix this ourselves, of course, but it might take some time to be released.

[2022-03-01 07:53] Taurus-Le commented on #405
Hi guys,
It took me quite a while to get the test running in IntelliJ IDEA. When I tried running ElasticSearchSpec, I just got an message showing that test is ignored. And I noticed the ignoredIf statement. I guess this statement means test will be ignored when version number of scala is greater than '2.12.0', is it? I just reversed the condition hoping test would be executed. But test was still i

[2022-03-01 08:25] cerveada opened #408 "ObjectStructureDumper - exception handling fails when stackTrace not present in Exception"
As mentioned in #96

#### Other small changes needed for OSD
Don create dump of objects/instnaces of (toString is enough)
- `java.util.Random`
- `scala.util.Random`
- `java.lang.Number`
- `scala.math.Numeric`

[2022-03-01 10:47] wajda commented on #405
The test was tagged ignored for Scala 2.12 because at the time of test creation there was no ElasticSearch-hadoop connector for Scala 2.12 I believe. If you upgrading the connector version to the one supporting Scala 2.12 the `ignoreIf` can be removed.

[2022-03-01 12:33] 97nitt commented on #96
Thanks, @cerveada that makes sense. The suggested code change above took care of the `ArrayIndexOutOfBoundsException`, but I still wasn't seeing the object dump in the logs. Added some more debug logging, logging each `ObjectBox` created, and found the issue.  It appears this `MergeIntoCommandEdge` class is quite complex, this produced a _ton_ of logging. And it revealed that the object dump had e

[2022-03-01 12:54] cerveada commented on #96
I think this could be fixed by adding another condition in `isReadyForPrint` function. Like `value.isInstanceOf[java.lang.Number]`

[2022-03-01 13:02] ganeshnikumbh opened #409 "Add Databricks environment details to execution plan"
@wajda @cerveada , after taking some inspiration from Openlineage installtion steps, I was able to do codeless spline installation on Databricks (please see attached document for detailed steps). What I am missing now is to get some additional details from Databricks cluster like notebook name, user etc.. is it possible to build this functionality in spline jar , so we don't need run extra code sn

[2022-03-01 13:09] cerveada commented on #96
No, I was wrong, actually it seems to be some kind of Random object is the case, not AtomicLong. So maybe it would help to add that Random object to that condition. Looks like it's `java.util.Random`

As you can see, the ObjectStructureDumper is not perfect. It is trying to print some useful data about any existing object, but it is hard to find all edge cases like this. It's basically last resort

[2022-03-01 13:27] uday1409 commented on #96
One important thing about MergeIntoCommand is that, the execution plan returned by the command does not contain all the dependent logical plan of source view or table used in merge (source view derivation may involve many transformations). It just gives target table , source view name and update statement if any. I may be wrong but this is what I get when I do .explain() on the merge command. Simi

[2022-03-01 21:59] 97nitt commented on #96
So I was able to see (via logging) the inputs/outputs of the Databricks merge command, but am now stuck figuring out how to get that data into an execution plan. I probably jumped into the deep end too quickly, with a limited understanding of the internals of Spark and Spline (and Scala). Probably can't justify spending much more time on this right now. Appreciate the help, I'll probably keep poki

[2022-03-02 01:07] uday1409 commented on #96
@97nitt can you please share the logs related to input and output

[2022-03-02 09:41] Taurus-Le commented on #405
Hi @wajda,
I've been working on this. But I'm not sure if I can make it. Here is one information I can share that embedded-elasticsearch is no longer maintained and ES 7.X is not supported. Testcontainer is recommended by their github. I'm stilling learning how to use it.

[2022-03-02 12:33] ganeshnikumbh commented on #263
@KeyboardMonkey221 @wajda @cerveada , if this is still a issue please refer to #409 where I have mentioned how to do codeless initialization. If you have also look into the other issue mentioned there, then that would be a great benefit for us all.

[2022-03-02 13:47] wajda commented on #409
Thank you very much @ganeshnikumbh, that is awesome! We'll review it and include into the [related how-to documentation.](https://github.com/AbsaOSS/spline-getting-started/tree/main/spline-on-databricks#readme). Or if you want to blog about it somewhere on Medium or other resource, we'll reference your blog in our readme.

[2022-03-02 13:58] ganeshnikumbh commented on #409
@wajda I was kind of hoping you will comment on building the feature for adding Databricks environment details into spline spark agent code  :) .. till now I was using below code to add this extra metadata. But I am sure this can built right into the main code. Any thoughts?

[code]

[2022-03-02 15:24] wajda commented on #409
Sorry, cannot comment on everything :) We don't have any need for such a plugin at the moment, but will be happy to accept a pull-request. We have a somewhat similar feature - [MetadataCollectingFilter](https://github.com/AbsaOSS/spline-spark-agent/blob/develop/core/src/main/scala/za/co/absa/spline/harvester/postprocessing/metadata/MetadataCollectingFilter.scala) - it doesn't support Databricks en

[2022-03-03 11:25] Taurus-Le commented on #405
@wajda
I cloned the develop branch and replace the elasticsearch-hadoop maven dependency with elasticsearch-spark-30_2.12. After some debug work, I managed to get the test running at last. The test is passed while the output source URI is still incorrect.

I set the log level to trace and ran the test. Below is the log file in case you need it.
[ElasticsearchSpec_TestResult.log](https://github.com

[2022-03-03 21:20] dirkdejager opened #410 "Does not compile on windows due to name collision on case-insensitive filesystem"
I tried to compile spline-spark-agent on windows, but as it has a case-insensitive filesystem, git threw an error shown below:
[code]

This in turn prevented the build-all.sh script from completing successfully due to errors related to the IdGenerators.scala file as shown below:
[code]

[2022-03-10 06:29] Taurus-Le commented on #405
Dear @wajda,
I found I made a extremely stupid mistake. After plenty of experiments, I finally figured out what the real problem is.
First, elasticsearch-hadoop might not be compatible due to reason about spark or scala version. I replaced it with elasticsearch-spark-30_2.12-7.13.4. And here comes the most important part, I forgot to place the jar under `spark.driver.extraClassPath` and `spark.exe

[2022-03-11 16:48] wajda opened #415 "Refactoring :: Dispatchers"
- Remove `dispatcher` suffix from the `za.co.absa.spline.harvester.dispatcher` sub-packages.
- Think about coding reuse between `http` and `openlineage` dispatchers. Currently there is a lot of duplication.
- TBD

[2022-03-16 15:39] cerveada opened #416 "Add JSON Schema URLs to OpenLineage payloads"
Create a repository to store immutable schema versions with permanent urls.

Use links to those schemas in open lineage requests.

[2022-03-18 22:04] wajda opened #417 "HTTP Dispatcher :: Cannot send lineage data / Async timeout"
The `spline.lineageDispatcher.http.timeout.read` property value isn't propagated to the server causing the server async timeout to fire earlier causing 500 error.

[code]

[2022-03-18 22:55] wajda commented on #417
related to  AbsaOSS/spline#485

[2022-03-21 10:22] #354 closed, assigned to cerveada

[2022-03-21 14:22] #417 closed, assigned to wajda

[2022-03-21 14:22] #408 closed, assigned to nobody

[2022-04-05 13:11] karatugo opened #419 "Backport of Spark 3.2 support from 1.0 to 0.7 version series"
## Background [Optional]

I am trying to run the getting started guide's TL;DR part.

Check versions:

[code]

So, according to the instructions, for Spark version 3.2.1 and Scala version 2.12.15, we need to run the following command.

[code]

But this gives the following error.

<img width="1008" alt="Screen Shot 2022-04-05 at 16 06 23" src="https://user-images.githubusercontent.com/11294823/1617

[2022-04-05 14:14] wajda commented on #419
Support for Spark 3.2 has only been added recently in the version that has not been released yet - 1.0.0
I'll see if I can backport it to 0.7 series and release a quick update

[2022-04-06 17:22] #419 closed, assigned to wajda

[2022-04-06 17:22] #353 closed, assigned to cerveada

[2022-04-06 17:22] #410 closed, assigned to wajda

[2022-04-08 06:35] asaiai18894 opened #421 "The project cannot compile properly"
Various packages are missing
Unable to compile from project

<img width="608" alt="image" src="https://user-images.githubusercontent.com/59914524/162378124-75c58aeb-1aa5-4823-8fb7-265fe0fe83f2.png">

[2022-04-08 06:44] cerveada commented on #421
Please run `mvn clean compile` and let us know if it is successful.

Also, please write which branch you are on and which Java version is used for compilation.

[2022-04-08 07:03] asaiai18894 commented on #421
mvn clean compile
The result ：Failed to execute goal net.alchim31.maven:scala-maven-plugin:4.5.0:compile (scala-compile) on project agent-core_2.11: Execution scala-compile of goal net.alchim31.maven:scala-maven-plugin:4.5.0:compile failed.

branch is develop
Java version  : 8

[2022-04-08 07:55] cerveada commented on #421
That is the result, but there must be another error in the Maven log, that caused the compilation to fail. Please send the error or maybe the whole Maven log.

[2022-04-08 08:04] asaiai18894 commented on #421
by making the implicit value `scala.language.reflectiveCalls` visible.
This can be achieved by adding the import clause `import scala.language.reflectiveCalls`
or by setting the compiler option `-language:reflectiveCalls`.
See the Scaladoc for value `scala.language.reflectiveCalls` for a discussion
why the feature should be explicitly enabled.
[code]

[2022-04-08 08:34] cerveada commented on #421
This looks like a duplicate of #410. Please update your branch to the latest commit, where it should be fixed.

[2022-04-08 08:47] asaiai18894 commented on #421
Pulled 0.7.6 again
[code]

[2022-04-08 11:51] cerveada commented on #421
This does not look like a Spline issue, more like some kind of Java configuration problem.
The compilation works fine on my machine as well as in our integration environment.

I would check that the paths in the error are correct. Also, that right jdk is on path and JAVA_HOME is set correctly.
If all of that is good, you may try to update the jdk or maybe maven.

[2022-04-08 20:47] #32 closed

[2022-04-08 20:47] #330 closed, assigned to cerveada

[2022-04-08 20:47] #331 closed, assigned to cerveada

[2022-04-08 20:47] #332 closed, assigned to cerveada

[2022-04-08 20:47] #335 closed, assigned to cerveada

[2022-04-08 20:47] #359 closed, assigned to wajda

[2022-04-08 20:47] #364 closed, assigned to wajda

[2022-04-08 20:48] #376 closed, assigned to wajda

[2022-04-08 20:48] #378 closed, assigned to cerveada

[2022-04-08 20:48] #398 closed, assigned to wajda

[2022-04-16 12:43] NickDudu commented on #41
Hi @wajda , May I confirm that the Structured Streaming is not supported such as writeStream API? Thanks

[2022-04-17 22:04] wajda commented on #41
No, streaming is not supported due to fundamental problems with the definition and representation of data lineage in context of streaming. The topic remains unclear.

[2022-04-19 02:35] NickDudu commented on #41
Hi @wajda No problem, thanks for the confirmation.

[2022-04-22 10:12] JeremyDel opened #423 "0.7.6 version not working on databricks"
Hey,

We've been using spline on our Databricks platform( runtime 9.1 LTS with spark 3.1.2 and scala 2.12) since last year and we recently switched to one of the latest databricks runtime with spark 3.2 because we saw that you released the new 0.7.6 release that supports spark 3.2.

When initialising there seems to be no issue, but when we launch a function that contains a merge operation, spark c

[2022-04-22 12:27] jozefbakus commented on #41
Hello Everyone,
We have been investigating spline and spark structured streaming.
We have been able to implement spline-agent for spark structured streaming using spark’s StreamingQueryListener, in a similar way as is described here: https://absaoss.github.io/spline/2018/10/04/Spline-Data-Lineage-For-Structured-Streaming.html (9:02 - 11:23). Code for our POC can be found here: https://github.com/j

[2022-04-22 13:10] wajda commented on #423
The error is caused by incompatible version of `json4s-ext` embedded into the Spline bundle. For some (not quite clear to me) reason Spark bundles unstable Json4s that changes public API like crazy and happens to be binary incompatible in almost every Spark minor release.
We must not specify version of any Json4s component project wide, and only do it in concrete Spark bundle POMs to always packag

[2022-04-22 17:36] wajda commented on #423
@JeremyDel try this JAR - https://teamcity.jetbrains.com/repository/download/OpenSourceProjects_AbsaOSS_SplineAgentSpark_AutoBuildSpark32scala212/3844696:id/bundle-3.2/target/spark-3.2-spline-agent-bundle_2.12-0.7.7-SNAPSHOT.jar
It should fix the issue. Please let us know if it doesn't.

[2022-04-25 12:17] #423 closed, assigned to wajda

[2022-04-26 18:46] elisabetao opened #426 "Iceberg tables support"
Hi

We're hitting an issue with the version 0.7.6, while inserting in Iceberg tables, we get the WARN, followed by the next ERROR, which fails the Spark app:
[code]
Do you have any ideas or have you encountered this?

Thanks a lot

[2022-04-27 07:50] cerveada commented on #426
The warning is about Spline not being able to extract the data source.

The error happens when spline attempts to log the structure of that table. As a workaround, you can turn off logging for `ObjectStructureLogging`.

@wajda we should modify the check for Non-fatal exceptions this case `NoClassDefFoundError` is considered fatal, but in this case we don't want to stop.

[2022-04-27 09:44] cerveada opened #427 "Do not propagate LinkageError from ObjectStructureDumper"
Even though LinkageError is considered fatal by scala, it should not be propagated from ObjectStructureDumper that serves just for logging.

Discoverd because of #426

[2022-05-06 17:32] adcb6gt opened #430 "Spline integration with Spark 2.3"
Hi
I'm following the steps for setting up spline as mentioned on the https://absaoss.github.io/spline/ (0.7 version).
Using following distributions:
Spark 2.3.0
Python 3.6.5

Have setup arrango db, spline server and spline ui successfully as per the instructions provided in documentation.
I'm now in process to test the setup by submitting a pyspark job for lineage.

Downloaded the spline-agent bun

[2022-05-09 06:41] cerveada commented on #430
Could low memory be the problem?
https://stackoverflow.com/questions/37252809/apache-spark-py4jerror-answer-from-java-side-is-empty

[2022-05-09 11:54] adcb6gt commented on #430
Why do I get the error:
pyspark.sql.utils.IllegalArgumentException: "Error while instantiating 'org.apache.spark.sql.hive.HiveSessionStateBuilder':"

[2022-05-10 14:28] arunprd opened #431 "java.lang.NumberFormatException: For input string: "1,146" for custom endpoint and java.net.SocketTimeoutException: Read timed out for spline server"
Hi,

spline agent - za.co.absa.spline.agent.spark:spark-2.4-spline-agent-bundle_2.11:0.7.1
spline server - absaoss/spline-rest-server:0.7.1

I am trying to integrate spline agent with spark version 2.4.4 and scala version 2.11.12  and getting below error , and also i see similar issue is fixed as part of #345  and in version 0.7.1

Endpoint URL - **custom**
[code]

Full Error:
[code]

Appreciate t

[2022-05-10 14:38] arunprd commented on #431
When tried spline rest server for the same version , getting time out error
[code]

Full error -
[code]

[2022-05-10 16:04] wajda commented on #431
@arunprd thank you for reporting. This is an oversight in a number format pattern that only manifests itself in a large execution plans, where a number of operations, attributes or expressions is greater than 1000, and only when the agent is talking to an old or custom spline server endpoint.

The second part of the issue (_Read timed out_) is again most likely caused by the size of your execution

[2022-05-10 16:15] wajda commented on #431
It's also important to mention that Spline Producer REST API utilizes special HTTP headers to negotiate API version and exchange some other settings, e.g. payload compression and connection timeout. So, to get maximum out of Spline agent your custom REST endpoint has to support those [headers](https://github.com/AbsaOSS/spline-spark-agent/blob/release/0.7.7/core/src/main/scala/za/co/absa/spline/ha

[2022-05-11 03:52] arunprd commented on #431
@wajda with 0.7.7 version also timeout error is happening for spline server endpoint

[2022-05-11 08:36] wajda commented on #431
Generally, timeout has to be configured on both a dispatcher and a server.
##### Agent:
[code]
##### Server:
[code]
The server also respects the agent timeout request specified in the `X-SPLINE-TIMEOUT` HTTP header, as long as it does not exceed the configured `timeoutMaximum` value (default is 2 hours). If no `X-SPLINE-TIMEOUT` header is sent in the request the `timeoutDefault` value is used.

[2022-05-13 02:02] adcb6gt opened #433 "How to get attribute level lineage "across" spark-jobs. through Spline-UI/AQL ?"
I've an application that sources data from upstream, processes it and then passes it to downstream.
The application does this using an in-house concept called "Workflows".
Workflows are nothing but a set of activities (that can be sequential or parallel). There is a start activity, then set of transformation activities (which can be sequential or parallel) and then an end activity.
Each activity b

[2022-05-13 09:13] wajda commented on #433
From what I understand you are looking for an attribute-level lineage. Spline collects all necessary information (https://github.com/AbsaOSS/spline/issues/114) that is required to build attribute-level lineage, and actually shows the path in the boundaries of a single execution plan (go to the execution plan detail and click on any attribute in the operation details pane). However, the AQL query,

[2022-05-16 09:13] jaldaadithya commented on #346
Guys, could you please tell us how did you pass the listener and producer URLs in the AWS glue job
For us, its not even reflected in the logs that AWS Glue is using spline Listener

[2022-05-17 12:04] cerveada commented on #405
@wajda should we close this?

[2022-05-19 01:21] adcb6gt commented on #433
Thanks @wajda for the pointers.
I did a detailed study on the data model you provided and also submit multiple pyspark jobs and tried to understand how documents get stored in arango.
Below are the details I did and my follow-up queries based on it:

I've an input dataset consisting of 3 columns, say c1 (string), c2 (string) and c3 (int).
I've applied a lineage on it as follows:
`df=spark.read(<in

[2022-05-19 09:13] wajda commented on #346
hopefully this helps
https://aws.amazon.com/blogs/big-data/build-data-lineage-for-data-lakes-using-aws-glue-amazon-neptune-and-spline/

[2022-05-19 09:22] #405 closed, assigned to nobody

[2022-05-19 11:36] cerveada commented on #430
It's hard to tell from the python errors. It would help a lot to know the Java errors with their stack trace. Is there some spark log with the Java Exceptions?

[2022-05-19 11:54] #421 closed, assigned to nobody

[2022-05-19 13:46] #318 closed, assigned to nobody

[2022-05-19 13:49] wajda commented on #365
should we close this?

[2022-05-19 13:50] #382 closed, assigned to nobody

[2022-05-19 13:50] #365 closed, assigned to nobody

[2022-05-19 13:56] #278 closed, assigned to wajda

[2022-05-19 17:48] wajda commented on #149
Cannot reproduce it since version 0.6.0. So I assume it was fixed in the context of another issue or as a side-effect

[2022-05-19 17:48] #149 closed

[2022-05-19 19:31] #427 closed, assigned to cerveada

[2022-05-19 19:31] #431 closed, assigned to wajda

[2022-05-19 19:32] #137 closed

[2022-05-19 19:33] #426 closed, assigned to cerveada

[2022-05-20 11:45] #261 closed, assigned to nobody

[2022-05-20 11:48] #134 closed

[2022-05-20 13:57] wajda commented on #261
Spline agent extension example project - https://github.com/AbsaOSS/spline-getting-started/tree/main/spark-agent-extension-example

[2022-06-01 09:50] #372 closed, assigned to cerveada

[2022-06-06 13:37] cerveada commented on #373
implemented in the scope of #372

[2022-06-06 13:37] #373 closed, assigned to cerveada

[2022-06-08 09:09] wajda opened #441 "Spline UI is not able to track Lineage when reading and writing to AWS S3 from EMR"
### Discussed in https://github.com/AbsaOSS/spline-spark-agent/discussions/440

<div type='discussions-op-text'>

<sup>Originally posted by **leadawsprofessional** June  7, 2022</sup>
Spline UI is not able to track the data lineage when writing to  AWS s3.  Getting the following errors

Use case: I have an EMR from which I was running a spark job sample
               (a) reading from S3 and writi

[2022-06-08 09:11] wajda commented on #441
fixes in the Agent 0.7.8 (#423)
Closing as a duplicate.

[2022-06-08 09:11] #441 closed, assigned to nobody

[2022-06-08 13:17] wajda commented on #433
@adcb6gt, I'm sorry for the late response.

According to your question:

In the Spline graph model, there is an edge `computedBy` that gives you an exact answer you are looking for.
While the `derivedFrom` edge shows the _attribute-to-attribute_ dependency skipping (or jumping over) the expressions on the path, the `computedBy` edge points to the very expression that was used to calculate values f

[2022-06-08 13:35] wajda commented on #433
Regarding the `uses` edge, it is irrelevant (almost) for your task. The `uses` edge depicts expressions involved in the _Operation_ level computation, e.g. filtering expression in the "Filter" operation, or "orderBy" expressions in the "Sort" operation etc.
I said _almost_ irrelevant because precisely speaking it depends if you are interested in _data_ or _control_ lineage. Currently Spline focuse

[2022-06-09 03:39] mariobarbosaTA commented on #423
Hi @wajda

I have tried do an execution with the agent 0.7.8 with this command (Spark version is 3.2.1):

[code]

But I got the same error. I was reviewing your publication "Issue #423 move json4s-exp dependency from the spline-core..." but I don't understand where this change should be applied.

Can you pelase guide me a bit to get Spline be able to track the linage when reading and writing AWS S

[2022-06-09 09:03] wajda opened #442 "Universal Agent bundle"
At the moment we ship bundles per Spark+Scala version pair. But currently and apparently the only reason we still need separate Spark bundles is the `json4s-ext` dependency that is linked with the `json4s-core` that is a part of the Spark runtime and is not binary compatible across different Spark versions. If we replace it with something else we could potentially get of bundles per Spark version.

[2022-06-09 13:21] wajda commented on #157
Closing in favor of https://github.com/AbsaOSS/spline/issues/689

[2022-06-09 13:21] #157 closed, assigned to nobody

[2022-06-09 14:03] #269 closed, assigned to nobody

[2022-06-09 14:08] #267 closed, assigned to nobody

[2022-06-09 14:09] #257 closed, assigned to nobody

[2022-06-09 14:14] wajda commented on #132
related to #361, #181, #33

[2022-06-09 14:18] wajda commented on #99
AbsaOSS/spline#689

[2022-06-09 14:19] wajda commented on #98
AbsaOSS/spline#689

[2022-06-09 14:20] #96 closed

[2022-06-09 14:37] wajda commented on #430
Closing the ticket as there is no precise information about the error.
If the issue persists or if you have more detailed logs don't hesitate to reopen the ticket.

[2022-06-09 14:37] #430 closed, assigned to nobody

[2022-06-09 14:39] #138 closed

[2022-06-09 17:18] wajda commented on #423
For Spark 3.2.1 you need to use bundle spark-3.2-spline-agent-bundle

[2022-06-10 13:11] cerveada opened #443 "Remove compiler warning when possible / reasonable"

[2022-06-10 13:12] #36 closed

[2022-06-10 21:24] ferozed opened #445 "Unable to see lineage info when using logging dispatcher"
I created the spark application as follows:

[code]

And then ran a query:

[code]

However I do not see any lineage info being logged. Or anything at all.

[2022-06-11 13:38] ferozed commented on #445
nvm... if i insert into a table, then i get lineage

[2022-06-11 13:38] #445 closed, assigned to nobody

[2022-06-16 10:16] d-m-h opened #449 "Allow users to extend information that Spline publishes"
All right, in a nutshell:

I'd like to be able to specify as part of my Spark configuration, a class (or classes) that the Spline Agent would pickup and then use to place extra metadata into the payload that it publishes.

Concrete example:

We have more than 1 Hadoop cluster, and we'd like to attach extra metadata to the execution plans that Spline publishes, in order to answer more complex quest

[2022-06-16 11:29] d-m-h opened #450 "When Spark is instructed to create a View, Attribute lineage breaks"
Hi folks,

Agent Version: `0.7.8`
Spark Version: `2.4.4`

I have discovered that the Spline Agent is unable to link attributes when Spark is instructed to create a view, and the view is then queried.

The following code provides a test case that replicates the problem:

[code]

This outputs the following execution plan JSON:

[code]

Notice the break in attribute tracking between `op-5` and its ch

[2022-06-16 12:09] cerveada commented on #449
We already have this feature, it's called post processing filters:
https://github.com/AbsaOSS/spline-spark-agent#post-processing-filters

You can implement `PostProcessingFilter` and there just add what information you need. There is a field called extra or extraInfo in lineage objects, that you can use to store and send this information.

There is also `MetadataCollectingFilter` that allows you t

[2022-06-17 12:53] wajda commented on #449
Also see the example - https://github.com/AbsaOSS/spline-getting-started/tree/main/spark-agent-extension-example

[2022-06-17 13:16] wajda commented on #34
@dwarry ,
Sorry for the long delay. Is this issue still valid?

[2022-06-17 13:27] cerveada commented on #34
The Hortonworks Data Platform is already EOL software:
https://endoflife.software/applications/big-data/hortonworks-data-platform-hdp

And new versions are not coming since the company was bought by Cloudera.

[2022-06-17 13:52] wajda commented on #34
Ok, So I'm closing the issue as "won't fix". If there is any other or similar issue found that is related to the up-to-date software don't hesitate to let us know.

[2022-06-17 13:52] #34 closed

[2022-06-17 21:43] wajda opened #452 "Spark 3.3 support"
https://spark.apache.org/releases/spark-release-3-3-0.html

[2022-06-20 13:31] cerveada commented on #450
This error happens when on Spark 2.4.4 and 2.4.8 but not on Spark 2.4.2

[2022-06-22 14:34] cerveada commented on #450
In some versions of Spark the actual connection between attributes in Spark LogicalPlan is missing.
- 2.3, 2.4.2 - it works
- 2.4.4+, 3.0, 3.1 - doesn't work
- 3.2 - works again

The workaround is to use Spark version where it works right now. To fix that we need to add the missing link back. I will create a filter that does that.

[2022-06-23 12:28] d-m-h commented on #450
Thanks for the investigations @cerveada - in my case, I'll just wait for the release of 0.7.9 as changing the version(s) of Spark deployed to our Hadoop clusters is an undertaking that team will not do.

[2022-06-28 13:00] cerveada opened #456 "Extract Spark dependency management into separate bill of material POMs"
With addition of Spark 3.3 support the main agent pom.xml will already have over 8000 lines. It would make sense to take the dependency management from each Spark profile and extract it to its own pom that will be imported as a dependency to each profile.

This will make the pom a lot smaller and also allow us to easily compare the BOM files and see the differences.

https://reflectoring.io/maven-

[2022-06-30 12:50] cerveada commented on #452
Some libraries we use  in integration tests are missing a version supporting Spark 3.3.0
- Iceberg - but there seems to be no issue with the current version
- Delta - it brakes some test

The tests that are missing the library support will be deactivated for Spark 3.3.0 until new version is released.

[2022-06-30 14:12] cerveada opened #460 "Exclude all tests from sonar duplication tests"
adding `sonar.cpd.exclusions`into `.sonarcloud.properties` should do it.

https://docs.sonarcloud.io/advanced-setup/analysis-scope/

[code]

- optionally remove any other reoccurring false positive warnings

[2022-07-02 10:36] wajda commented on #452
Let's create a ticket for this

[2022-07-07 06:30] cerveada opened #461 "Update integration tests when libs supporting Spark 3.3.0 become available."
Some libraries we use in integration tests are missing a version supporting Spark 3.3.0

- Iceberg - but there seems to be no issue with the current version #509
- Delta - it brakes some test #508
- Cassandra - test not working

The tests that are missing the library support will be deactivated for Spark 3.3.0 until new version is released.

related to #452

[2022-07-11 18:43] kylebuckingham opened #462 "Upload AVRO schema"
Is there any chance you could add the generated avro schema? I can make one, but I'm not sure what exactly it should by just looking at the result, and I assume you already have it somewhere.

[2022-07-12 06:39] cerveada commented on #462
Avro schema for which data? If you mean the lineage that the agent is sending to the server, we don't use Avro for that.

[2022-07-12 08:23] rinzool opened #463 "Databricks - Spark session stops before spline sends data"
Hi,

I tried to use Spline with databricks job where the cluster is built for the job and directly stopped after.
I noticed that in that case, the cluster stops directly after the `.write` operation, and too fast, so no data is sent to my API. (If I add some code after, data are sent)

Is there a way to configure spark or spline to _wait_ for `QueryExecutionListener` onSuccess or onFailure method?

[2022-07-12 12:44] wajda commented on #463
What spark version are you using and how do you _stop_ the cluster?
Normally, when Spark context is shutting down it waits until the event queue is empty.

[2022-07-12 12:51] rinzool commented on #463
I use spark 3.2.1 with agent `spark-3-2`
The cluster is automatically shutdown by databricks when the job is over
Maybe that databricks does not wait that spark context is fully down before closing :thinking:

I asked databricks about how the cluster is shutting down (to know if it waits for the spark context, or not...)

[2022-07-12 17:05] kylebuckingham commented on #462
Oh I didn't realize the avro format mentioned was just for what spark was writing/reading. JSON is fine. As a low priority future enhancement, you could add different outputs

[2022-07-12 17:05] #462 closed, assigned to nobody

[2022-07-13 10:43] wajda commented on #463
could be... Unfortunately it's not the first time we run into issues when Databricks works differently in some places in comparison to vanilla Spark. But if it's the case there is hardly anything we can do about it on our side I'm afraid.

[2022-07-13 10:57] cerveada commented on #456
implemented by #452

[2022-07-15 08:39] cerveada opened #467 "fix profile-less build and examples"
after support for Spark 3.3 was added in #452 the build without profiles fails, running examples via maven also fail.

[2022-07-15 15:14] #53 closed

[2022-07-15 15:14] #443 closed, assigned to cerveada

[2022-07-15 15:14] #450 closed, assigned to cerveada

[2022-07-15 15:14] #452 closed, assigned to cerveada

[2022-07-15 15:14] #456 closed, assigned to cerveada

[2022-07-15 15:14] #460 closed, assigned to cerveada

[2022-07-15 15:48] #467 closed, assigned to cerveada

[2022-07-15 16:06] #396 closed, assigned to cerveada

[2022-07-15 16:54] wajda commented on #255
The issue doesn't occur in Databricks 10.4 + Spline 0.7.10
Closing as "cannot reproduce"

[2022-07-15 16:54] #255 closed, assigned to nobody

[2022-07-18 10:07] vicharerohan07 opened #468 "REST API producer"
## Background [Optional]
I was trying to call "/Producer" Api from azure Databricks. and this /Producer api is written in C#. I want to send the data to my c# Application and not to any DB. i have install spline agent compatible with the Azure Databricks Runtime versions. but whenever i ran some query and and i am enabling the lineage tracking in python the it gives me error that za.co.absa.spline

[2022-07-18 10:27] #468 closed, assigned to nobody

[2022-07-18 12:11] wajda opened #472 "Generic HTTP Dispatcher"
As per #469 and #471 when a default HTTP dispatcher is used it tries to handshake with the server assuming there is a Spline server on the other end. This often creates inconvenience for users who are implementing their custom HTTP endpoints.

We need to create a generic HTTP dispatcher that would be functioning similarly to the default HTTP dispatcher or an OpenLineage one , but just would omit h

[2022-07-18 17:31] wajda opened #474 "Capture 'sparkUser' in the event extras"
as per #473

Since it's available in the `SparkContext`, we can easily capture it by default. Many people ask for that.
Perhaps we could simply create a predefined rules for the `userExtraMeta` filter and use it as a default.

[2022-07-18 20:42] vishalag001 commented on #474
https://github.com/AbsaOSS/spline-spark-agent/pull/475
Created a PR for this

[2022-07-19 09:38] wajda opened #476 "Add a "default" composite filter"
Some post-processing filters are active by default, e.g. `dsPasswordReplace`. Currently it is implemented via a composite filter that is configured as a root filter, and all optional filters that need to be active by default are simply added to the the root composite filter in the `spline.default.properties`. While this works it creates potential room for confusion. The aforementioned root filter

[2022-07-19 09:47] #474 closed, assigned to nobody

[2022-07-19 14:08] #476 closed, assigned to wajda

[2022-07-20 09:49] Taurus-Le opened #478 "SplineQueryExecutionListener: Unexpected error occurred during lineage processing for application"
**Version：**

- JDK: 11.0.10
- Scala: 2.12.12
- Hadoop: 3.2.2
- Spark: 3.2.0-bin-hadoop3.2
- spline: release/0.7.7
- spline-ui: release/0.7.4
- spline-spark-agent: release/0.7.10
- Delta Lake: 1.2.0
- Elasticsearch: 7.13.4

**Description:**
The app is  reading from multiple delta lake tables and writing the output of join as a new delta lake table. Spline successfully initialized. But unexpected e

[2022-07-20 10:13] cerveada commented on #478
There should be one ticket for an issue, I will create new one for the `java.util.NoSuchElementException: None.get` problem.

[2022-07-20 10:17] cerveada opened #479 "ViewAttributeAddingFilter causing java.util.NoSuchElementException: None.get"
**Version：**

- JDK: 11.0.10
- Scala: 2.12.12
- Hadoop: 3.2.2
- Spark: 3.2.0-bin-hadoop3.2
- spline: release/0.7.7
- spline-ui: release/0.7.4
- spline-spark-agent: release/0.7.10
- Delta Lake: 1.2.0
- Elasticsearch: 7.13.4

**Description:**
App is reading from a delta lake table and then writing into ES

**Error Log:**
[delta2es.log](https://github.com/AbsaOSS/spline-spark-agent/files/9148867/delt

[2022-07-20 10:18] cerveada commented on #479
@[Taurus-Le](https://github.com/Taurus-Le)
The issue is caused by spark view, but I don't see any view in your code, could it be defined outside the function you provided?

 Can you please post a code that is causing this issue? Ideally something self-contain, that I can run without any external data.

[2022-07-20 11:18] cerveada commented on #478
@Taurus-Le I split the issue in two, this one is for delta and #479 is for es. Feel free to add any relevant info or correct me if I split something wrongly.

[2022-07-20 13:50] Taurus-Le commented on #479
Hi @cerveada, thanks for helping.
Speaking of spark view, I checked my code and found something. Below is the related code I think:
[code]
In my code, I loaded plugins specified in a configuration file and created a SparkBatchExecution object to execute them. For every source plugin and transform plugin, I will register its output as a temporary view. I think this might be what you mentioned.

Tha

[2022-07-20 13:54] Taurus-Le commented on #478
Hi @cerveada, sorry for the trouble. I meant to save you some trouble. I did not do the opposite intentionally. Thanks for helping.

[2022-07-21 01:55] Taurus-Le commented on #478
Version of apache maven and JDK used to build spline-spark-agent:
[code]

And here is how I build the spline-spark-agent:
[code]

[2022-07-21 04:26] Taurus-Le commented on #479
Hi @cerveada, I checked the source code of spark-sql. `createOrReplaceTempView` of dataset calls `createTempViewCommand` which internally calls `CreateViewCommand`. According to [readme ](https://github.com/AbsaOSS/spline-spark-agent)of spline-spark-agent, `CreateViewCommand` will be ignored. Could that be the root cause? But I'm wondering why it works with Spark-3.1 and spline-spark-agent-0.7.3.

[2022-07-21 06:45] Taurus-Le commented on #479
Git history shows `ViewAttributeAddingFilter.scala` was created for #454.

[2022-07-21 08:56] cerveada commented on #478
It seems to be changes in Delta Lake: 1.2.0 that are causing the issue, the code was tested only on 1.1.0 so if you want to try a workaround try to switch to version 1.1.0

[2022-07-21 09:30] Taurus-Le commented on #478
Got it. Thanks. If there's anything I could help, please let me know. And I just found Delta Lake: 2.0.0 has been released.

[2022-07-22 01:53] Taurus-Le commented on #478
Hi @cerveada, I've switched Delta Lake:1.2.0 to Delta Lake: 1.1.0. And this time I got the same error as #479.
[code]
So, I think the problem might have something to do with the calling of `createOrReplaceTempView` in my code which calls `createTempViewCommand` that calls `CreateViewCommand` internally. According to [readme ](https://github.com/AbsaOSS/spline-spark-agent)of spline-spark-agent, Cre

[2022-07-22 05:23] Taurus-Le commented on #478
Hi @cerveada, I did several experiments and finally figured out a combination that would work for #479 as well. I just need to add Delta Lake:1.2.0 dependency in pom.xml and everything seems to work fine.

- Runtime Java: 11.0.10
- JDK for compiling spline spark agent: 1.8.0_331
- Scala: 2.12.12
- Hadoop: 3.2.2
- Spark: 3.2.0-bin-hadoop3.2
- spline: release/0.7.7
- spline-ui: release/0.7.4
- splin

[2022-07-23 14:33] wajda opened #480 "Delta Lake 2.0 support"

[2022-07-26 16:33] cerveada commented on #479
@Taurus-Le could you please test the agent version in this PR: https://github.com/AbsaOSS/spline-spark-agent/pull/481

Your problem should be fixed there.

If you use the bundle, you can take the artifact from the teamcity:
https://teamcity.jetbrains.com/repository/download/OpenSourceProjects_AbsaOSS_SplineAgentSpark_AutoBuildSpark32scala212/3904671:id/bundle-3.2/target/spark-3.2-spline-agent-bund

[2022-07-27 08:07] Taurus-Le commented on #479
Hi @cerveada,
I've tested Delta Lake:1.2.0 and Delta Lake:2.0.0 with agent built by myself and provided by you. I got an error like this always:
[code]

I checked the source code of `delta-core_2.12-1.2.0` and `delta-core_2.12-2.0.0`. I found there is no field called `properties` in `org.apache.spark.sql.delta.catalog.DeltaTableV2`.
But `DeltaTableV2` got a method called `properties()` which would

[2022-07-27 08:25] cerveada commented on #479
Yes and in my tests the agent is able to extract those, but for some reason it doesn't work for you. Maybe it's the java version. I will have to test it.

[2022-07-28 13:07] cerveada commented on #478
Hmm, I read the logs again and there seems to be an issue with Spark stoping.

[code]
This looks like Spline is trying to call `DeltaTableV2.properties` method, but the spark context is already stoped.
Can you try to not stop the Spark if it will change the outcome?

[2022-07-29 02:33] Taurus-Le commented on #478
Hi @cerveada, I did not stop the Spark myself. I never called `stop()` on SparkContext or SparkSession. Is it because I'm running spark on yarn? I had a suspicion there might be a connection between Spark stopping and dynamic allocation before. So I disabled dynamic allocation. But it did not help.
And I'm truely sorry I forgot to tell you I got the same error as https://github.com/AbsaOSS/spline-

[2022-07-30 11:06] ganeshnikumbh opened #482 "option to add custom headers for http dispatcher"
Hi @wajda, @cerveada

it would be really great if we can provide option (additional http dispatcher properties) to add parameters to http header. In our case (and I am sure for may others), the http endpoint (a Azure function) is secured with api key, which we want to pass through a parameter in http header.
I know we can always extend the dispatcher code to do this, but the problem is, internally

[2022-08-01 09:15] wajda commented on #482
Yes, I agree, it does make sense. If somebody makes a PR we'll merge it asap. Meantime I put it on a low priority track.

[2022-08-02 11:48] dhanju123 opened #483 "Unable to view the spline ui while running custom pyspark job"
We created a sample pyspark job and gave the spark-submit commands as following in ec2 instance

[code]

we are able to view the output in the console but unable to view in spline UI what additional steps need to be done ?

[2022-08-02 14:46] #483 closed, assigned to nobody

[2022-08-09 00:36] afgaron opened #486 "Incomplete tracking of lineage for passthrough columns"
If a query selects a column from one table and writes it to another without performing any operations on that column, then the execution plan doesn't differentiate between the old column and the new column and assigns both the same attribute id. For example,

[code]

will only have a single attribute with id `attr-0` and name `val`, rather than having two attributes for `A.val` and `B.val`. Even s

[2022-08-09 00:53] afgaron opened #487 "java.lang.NoSuchFieldException for CreateTableAsSelect statements"
- Scala v2.12
- Spark v3.2.1
- Spline v0.7.8

Running a command in the style of

[code]

throws a `java.lang.NoSuchFieldException`. The `CreateTableAsSelect` command seems like a pretty important one but isn't listed in the spline README anywhere. Full error log below:

[code]

[2022-08-09 07:20] cerveada commented on #486
I think in this case Spark simple consider them both the same column and righty so. There is no difference between them.
We don't want to change the attribute names, since the user can name them as they wish and we should not change that.

- If the names are important for you I would suggest using `as` to name the columns and you can later identify them by that name.

- if you really want to chang

[2022-08-10 08:50] cerveada commented on #487
From the log it seems you are using Databricks. Which version of Databricks have you used?

[2022-08-10 09:28] wajda commented on #486
If I understand you correctly then it is by Spark design. When you do `select val from A` Spark represents it as a `Projection` operation that emits the very same attribute `val` from the table `A`. So you have a single attribute and no place for ambiguity.

In your second example, when you do `select val as val from A` the `Projection` operation emits a new attribute with other ID but the same na

[2022-08-10 11:27] cerveada commented on #478
I don't know it might be.

On YARN do you run in local mode or cluster mode?

Do you still get the following errors?
[code]

[2022-08-10 17:06] afgaron commented on #487
I encountered this issue on runtimes 10.4 and 10.5. It didn't throw an error on 7.3 or 9.1.

[2022-08-10 17:13] #486 closed, assigned to nobody

[2022-08-15 12:02] rupesh3020 opened #488 "HttpLineageDispatcher.serverHeaders must not be fetched unless required"
Hi Team ,

I am working on a POC where we are using spark spline agent to get lienage data via Azure functions:

Requirement:
1.  I want to use spline in Required mode.
2. I want to get lineage by Azure functions HTTP triggered function.
3. I want to log lineage in Console if HTTP endpoint is not up.
4. Databricks Job should not fail if azure functions is not available.

What has been done:
As per

[2022-08-15 12:20] cerveada commented on #488
Hi, according to logs spline fails the initialisation and doesn't start to work at all.

It throws SplineInitializationException:
[code]

This happens because `HttpLineageDispatcher` contacts the server during initialisation and downloads some information about the server capabilities, but when server is not up it fails to initialise the whole Spline.

If you want to avoid this communication at th

[2022-08-15 13:48] rupesh3020 commented on #488
Hi @cerveada ,

I added these 2 properties but the result is same :
Below are the updated properties:
[code]
[errorlog.txt](https://github.com/AbsaOSS/spline-spark-agent/files/9337553/errorlog.txt)

This works fine if azure functions are up. Are the values for `spline.lineageDispatcher.http.apiVersion` and `spline.lineageDispatcher.http.requestCompression`.wrong?

Thanks
Rupesh

[2022-08-15 14:14] cerveada commented on #488
My bad, the `serverHeaders` are always downloaded by `HttpLineageDispatcher`. This is how it currently works.

I will think about whether this should be changed.

If you want to test the fallback functionality, you have several options:
- turn the server on to allow the initialisation to succeed and after that turn it off to test the lineage processing
- use different dispatcher then http
- create

[2022-08-15 14:15] rupesh3020 commented on #488
thanks :)

[2022-08-16 07:54] wajda commented on #488
Make them `lazy val`?

[2022-08-16 08:09] cerveada commented on #488
Yes, that was the idea, but I would like to shortly discuss the design of the dispatcher before doing that. Probably better to do in person.

The headers now work as server accessibility test at initialisation time. By changing them to lazy this feature will work only some times.

[2022-08-22 13:32] cerveada opened #489 "Remove spline.mode REQUIRED"
When using REQUIRED mode the agent currently propagate any exceptions thrown during initialisation to Spark. That means Spark fails when agent initialisation fails.

Unfortunately this not guarantee much, because when using codelles initialisation the job may be already finished when this fail happens.

So it makes sense to remove the REQUIRED mode and not try to stop spark on failures in agent.

[2022-08-24 08:30] wineternity opened #490 "Spline integration with Spark 2.3 throw java.lang.IllegalArgumentException: Error while instantiating 'org.apache.spark.sql.hive.HiveSessionStateBuilder'"
Hi,
I build spline for spark2.3， Scala-2.11, and running with py2 or py3, but exception throw like this:
spline: v0.7.11-SNAPSHOT
[code]

the submit command is like this:
[code]

It seems in SparkSession getOrCreate it triggers the QueryExecutionListener init, but the SplineQueryExecutionListener need sparksession to be active already, is it a deadlock for spark2.3?

[2022-08-24 08:31] wineternity commented on #490
the python code sample is like this
[code]

[2022-08-24 09:35] wineternity commented on #116
I compile with spark 2.3 and scala 2.11

[2022-08-24 09:36] cerveada commented on #490
Hello,

I am not sure why the session is not ready, but as possible workaround you can try [programmatic initialization](https://github.com/AbsaOSS/spline-spark-agent#programmatic-initialization) instead of codeless one.

[2022-08-24 09:40] wineternity commented on #490
thanks for reply
I tried the programmatic initialization and it works fine, but I want to not change the code for the existing spark apps, so codeless one is a better choose.
I want to know why spark session can not be reached

[2022-08-27 10:39] wineternity commented on #490
I found the reason, it is related to https://issues.apache.org/jira/browse/SPARK-23228, so spline codeless mode not worked with pyspark2 < 2.4.0

[2022-08-27 10:43] #490 closed, assigned to nobody

[2022-08-29 06:26] cerveada commented on #490
Thanks for letting us know.

[2022-09-01 05:13] simran-suri opened #491 "Integration with Python"
Hi Team,

I'm trying to create lineage for my pipelines and for it I used sc._jvm.za.co.absa.spline.harvester.SparkLineageInitializer.enableLineageTracking(spark._jsparkSession) above my python code.

Now, I need to install spark-3.1-spline-agent-bundle_2.12:0.7.8 in my python code repository, to create that lineage.

Is there any way to install this maven dependency in python code?

[2022-09-01 13:58] wajda commented on #491
What exactly do you mean?
The capability of downloading Maven artifacts depends on the tool/platform that you are using, not the programming language.
For example, with the `pyspark` you can do `pyspark --packages za.co.absa.spline.agent.spark:spark-3.1-spline-agent-bundle_2.12:0.7.8` while the Databricks notebook provides a specific UI for installing packages.

[2022-09-01 13:59] #491 closed, assigned to nobody

[2022-09-13 12:57] Madhan-RAGHU opened #494 "Spline Data Lineage not working for BIG DATA TALEND ETL"
## Bug Description
I am trying to implement SPLINE data lineage for TALEND SPARK JOB (basically generates JAVA SARK code in background), I successfully initiating spark session with Spline jars , in Talend log I am getting message saying “**Spline successfully initialized. Spark Lineage tracking is ENABLED**”. But I am not able to see lineage in SPLINE UI , I also checked in SPLINE logs Talend not

[2022-09-14 11:59] wajda commented on #494
Hi @Madhan-RAGHU,
Unfortunately the log output images that you've attached are too blurry and unreadable.
But please check the following answer, hopefully it will help - https://github.com/AbsaOSS/spline-spark-agent/discussions/394

[2022-09-15 11:40] Madhan-RAGHU commented on #494
Hello @wajda  sure , let me check the link #394 and get back to you.

[2022-09-15 15:04] rupesh3020 commented on #482
@wajda This is really required for our team too. Is it possible for you guys to add this functionality?

i will try to make a PR for this if there is no plan.

[2022-09-16 08:55] wajda commented on #482
@rupesh3020 PR is highly welcomed as we are busy with other stuff. Thank you

[2022-09-26 12:04] cerveada opened #498 "RDD lineage support (for RDD wrapped in LogicalPlan)"
Support lineage of this type:
[code]

This type of lineage is possible to capture, since the Write triggers Spark's `QueryExecutionListener` tha Spline already uses to capture the LogicalPlan lineage.

[2022-09-27 13:04] wajda commented on #480
implemented in the scope of #479

[2022-09-27 13:09] #479 closed, assigned to cerveada

[2022-09-27 13:09] #480 closed, assigned to cerveada

[2022-09-27 13:09] #488 closed, assigned to cerveada

[2022-09-28 10:29] wajda opened #501 "Add predefined Azure Functions dispatcher"
The user should be able to use a predefined lineage dispatcher to send lineage to a custom [Azure Functions](https://learn.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=in-process%2Cfunctionsv2&pivots=programming-language-csharp#api-key-authorization
) via REST API.

Example:
[code]

[2022-09-28 10:45] wajda opened #502 "Add predefined AWS API dispatcher"
A user should be able to use a predefined dispatcher to call his/her custom AWS REST API.

Example:
[code]

[2022-09-29 13:57] cerveada commented on #501
At the end we decided to not create specific dispatcher config for this since it is just one header, but the header config needed was added to readme as part of #482

[2022-09-29 13:57] #501 closed, assigned to nobody

[2022-09-29 13:57] cerveada commented on #502
At the end we decided to not create specific dispatcher config for this since it is just one header, but the header config needed was added to readme as part of #482

[2022-09-29 13:57] #502 closed, assigned to nobody

[2022-09-29 15:31] #482 closed, assigned to cerveada

[2022-09-30 12:15] #489 closed, assigned to cerveada

[2022-10-04 10:45] rupesh3020 opened #506 "Not able to authenticate using azure function key as header, returns 401"
Hi team,

Our team is using the new feature from 0.7.11 where user can give custom headers as spline configuration.
It throws 401 error.
Attaching configuration :
spark.spline.lineageDispatcher http
spark.spline.lineageDispatcher.http.producer.url https://mdc-d-01-azfunc.azurewebsites.net/api/func/TEST
spark.spline.mode REQUIRED
spark.spline.lineageDispatcher.http.header.x-functions-key somekey
sp

[2022-10-04 11:35] cerveada commented on #506
Hello, this feature is only in development branch and was not released yet.

release 0.7.11 does not include this at all:
https://github.com/AbsaOSS/spline-spark-agent/releases/tag/release%2F0.7.11

[2022-10-04 11:44] rupesh3020 commented on #506
is it possible to give information on timelines, when it will be part of a release?
Our team is excited to get this feature :)

[2022-10-04 12:25] wajda commented on #506
We do not have any precise release schedule, it's ready when it's ready.
But you are welcome to try the latest build downloaded directly from our CI - https://teamcity.jetbrains.com/project/OpenSourceProjects_AbsaOSS_SplineAgentSpark?mode=builds

Select the latest build from the "develop" branch that corresponds to your Spark and Scala version, and from there click the Artifacts tab.

[2022-10-04 12:26] wajda commented on #506
There might be some incomparable changes in the config, but we're happy to assist with that.
Waiting for you feedback.

[2022-10-05 13:21] dk1844 commented on #472
This was already implemented in the scope of https://github.com/AbsaOSS/spline-spark-agent/issues/482

[2022-10-05 13:21] #472 closed, assigned to nobody

[2022-10-07 05:12] mohitgarg4628 opened #507 "Lineage not showing for overwrite mode for delta table"
## Describe the bug
We are trying to capture lineage using spline using overwrite mode.
Data format is delta.
We are running our workflow on databricks. When we are using mode as append, we are able to capture lineage

## Versions
Spark Version: 3.2
Spline Version: spark-3.2-spline-agent-bundle_2.12:0.7.11

Could you please help me for the same

[2022-10-07 06:37] cerveada commented on #507
What code do you use to write (overwrite) the data to delta? I mean the one that is not triggering a lineage generation.

[2022-10-07 06:56] mohitgarg4628 commented on #507
[code]

[2022-10-07 07:28] cerveada commented on #507
ok, since databricks doesn't provide the source code we can't just debug it, but it should be possible get what we need from the logs.

Please set the logger level for evrything under `za.co.absa.spline` to `TRACE`.
Then run the overwrite and upload the log file here.

There should be message containing:
`was not recognized as a write-command. Skipping.` or  `Write extraction failed for:`

[2022-10-07 07:30] mohitgarg4628 commented on #507
We are getting following error
[code]

[2022-10-07 07:32] cerveada commented on #507
ok, but we need the full trace log, there should be `OBJECT DUMP BEGIN` and the structure of the object logged.

[2022-10-07 07:36] mohitgarg4628 commented on #507
[code]

[2022-10-07 08:05] cerveada commented on #507
The catalog is there, so I don't see what could cause the issue. Can you send the whole log? Maybe there will be something that will tell me more.

[2022-10-07 09:18] mohitgarg4628 commented on #487
Hi @afgaron

Are you able to solve this issue. I'm getting same issue on databricks

Thanks

[2022-10-07 09:23] mohitgarg4628 commented on #507
This issue is similar to https://github.com/AbsaOSS/spline-spark-agent/issues/487

[2022-10-07 12:21] juliuszsompolski commented on #507
Spark 3.3 does not have a "catalog" field in ReplaceTableAsSelect. It was removed in https://github.com/apache/spark/pull/34754/files#diff-594addaa7ed3dd43fd0dad5fa81ade5ec2e570adf7c982c0570e3358a08a8e0aL277
Since Spline Agent was reaching via reflection to internal Spark fields, it needs to find a new way to get this catalog...
Unfortunately, I don't have context on what does Spline need it for,

[2022-10-07 12:28] juliuszsompolski commented on #487
CreateTableAsSelect doesn't have catalog field anymore since https://github.com/apache/spark/pull/34667/files, which Spline agent is trying to grab through reflection.
Edit: That change is in Spark 3.3 only, but it is also present in Databricks Runtime 10.4 and 10.5, even though they are based on Spark 3.2. Databricks Runtimes internal interfaces do differ from Apache Spark.

[2022-10-07 12:48] cerveada commented on #507
@juliuszsompolski you are right, but @mohitgarg4628 said they are using Spark 3.2 So that might be other issue.

[2022-10-07 12:54] cerveada commented on #507
Indeed. But your OBJECT DUMP is different. Is it possible that it is missing indentation?

indentation is important in this case. As I wrote several times already full log would be useful in this case.

[2022-10-07 13:05] juliuszsompolski commented on #507
@cerveada I just checked that Databricks Runtime 10.x also has this change, even though it's based on Spark 3.2.
Databricks Runtime interfaces that are not Spark public APIs sometimes differ from Apache Spark's.

[2022-10-07 13:22] cerveada commented on #461
Following libraries suporting Spark *3.3* are now available:
- [Delta Lake 2.1.0](https://github.com/delta-io/delta/releases/tag/v2.1.0)
- [Iceberg 0.14.1](https://iceberg.apache.org/releases/#0141-release)

Doesn't support Spark 3.3 yet:
- https://github.com/datastax/spark-cassandra-connector/releases (Spark up to 3.2 suppported)

[2022-10-07 13:26] cerveada opened #508 "Delta Lake 2.1.0 support"

[2022-10-07 13:27] cerveada opened #509 "Iceberg 1.0.0 Support"

[2022-10-07 14:54] cerveada commented on #487
Yes, It seems like these changes were made in Databricks first and later merged into Spark 3.3 itself.

I already started working on #508. If my understanding is correct, it should fix this issue as well.

[2022-10-07 17:38] juliuszsompolski commented on #487
Thanks.
It looks to me that now CTAS and RTAS have a `name: LogicalPlan` which should be a `ResolvedIdentifier` , and then it has a `catalog: CatalogPlugin`, which can be one of multiple implementations of the catalog... if it's implementing a`TableCatalog` subinterface, you should get what you want... But I'm not really familiar with the DatasourceV2 interfaces, so I don't know more...

[2022-10-10 05:57] mohitgarg4628 commented on #507
Hi @cerveada
Can you please tell me, if issue is fixed or not?
If yes, how can I get latest maven dependency.
Thanks

[2022-10-10 08:25] wajda commented on #507
@mohitgarg4628 it's still being investigated. The issue is related to the closed source Databricks runtime, so fixing it is a pure trial and error approach.

[2022-10-10 08:38] cerveada commented on #507
@mohitgarg4628 could you please download the following jar and try if the issues is fixed for you?

https://teamcity.jetbrains.com/repository/download/OpenSourceProjects_AbsaOSS_SplineAgentSpark_PullRequestsSpark32scala212/3967771:id/bundle-3.2/target/spark-3.2-spline-agent-bundle_2.12-0.7.12-SNAPSHOT.jar

Just press log as guest and it should download.

[2022-10-12 14:05] cerveada opened #511 "Fix integration test on M1 apple processor"
currently several test are falling

[2022-10-17 05:26] mohitgarg4628 commented on #507
sure @cerveada . I have already taken a PR and build code on local machine. It was working fine. But when I tried with unity catalog, was getting error for the same.

I need to check with all use cases and will let you know.

Thanks for your overall support

[2022-10-18 04:26] yuribogomolov commented on #361
+100 to the feature request.
We found multiple coverage gaps caused by this. The pattern is quite common for data quality jobs, validate-and-publish workflows and ML flows (not all ML methods are supported by Spark and data scientists usually aggregate data in Spark and use `df.toPandas()` to collect data and run a model before moving data back to Spark).

[2022-10-18 09:06] wajda commented on #361
The lineage data model requires existence of a target data source that is represented by a URI.
I guess we could simply use a made up URI that would contain a host name, a type and a hash code of a result object/collection. Something like `memory://1.2.3.4/[Lorg.apache.spark.sql.Row;@486e6b30`

[2022-10-19 00:38] yuribogomolov commented on #361
Yeah, that works. I guess multiple steps need changes to support "read-only" actions. `collect` and `toPandas` are implemented outside of Catalyst, and the only action-specific information provided by the Spark QueryListener is available in `funcName`, [but it's not propagated](https://github.com/AbsaOSS/spline-spark-agent/blob/7ace110a4639cc6acff5ed0f5abb978bf1c98d5b/core/src/main/scala/za/co/abs

[2022-10-21 06:41] #511 closed, assigned to cerveada

[2022-10-23 09:53] ftjahn8 opened #514 "Bug: HTTP Dispatcher resulting in other format than console&logging dispatcher for v.0.7.11"
## Setup:
PySpark
Python 3.10.6

Spline Agent 0.7.11 downloaded from the maven repository ([here](https://mvnrepository.com/artifact/za.co.absa.spline.agent.spark/spark-3.2-spline-agent-bundle))
Spark 3.2.2
Bundled Hadoop: 3.3.1

## Job.py - Setup part
--> Writes into a Postgres DB, but not relevant for the error
-->  Content of Workflow also not relevant, its just about the output format in the e

[2022-10-23 10:02] ftjahn8 commented on #514
[console_plan_d8b9c63f-e1f4-5bb8-9400-bf2667fea6e3.json.txt](https://github.com/AbsaOSS/spline-spark-agent/files/9846207/console_plan_d8b9c63f-e1f4-5bb8-9400-bf2667fea6e3.json.txt)
[http_plan_d8b9c63f-e1f4-5bb8-9400-bf2667fea6e3.json.txt](https://github.com/AbsaOSS/spline-spark-agent/files/9846208/http_plan_d8b9c63f-e1f4-5bb8-9400-bf2667fea6e3.json.txt)
plans as files, maybe be better to see the d

[2022-10-24 07:22] cerveada commented on #514
Seems like different api versions.

console and logging dispatchers are using the latest one (that is 1.1 for this version of agent)

http dispatcher is able to negotiate the version with the server and use the latest one the server supports. This is done using http headers. There is also an option to set the version via property. `spline.lineageDispatcher.http.apiVersion`

see `spline.default.pro

[2022-10-24 08:53] ftjahn8 commented on #514
Thx a lot for the fast answer, i haven't seen this :)
I guess the fallback to the oldest supported version is done for compatibility reasons?
Otherwise i would expect intuitively all dispatchers to deliver the same version by default (without explicit version definition).

[2022-10-24 09:16] cerveada commented on #514
Yes, when the server is not providing the headers or does not support the new version the oldest supported version is used.

When used with the latest Spline server they all should use the latest version.

console and logging dispatchers are intended for debugging and logging, so there is no backward compatibility support.

[2022-10-24 09:18] ftjahn8 commented on #514
ok, thx.

[2022-10-24 09:18] #514 closed, assigned to nobody

[2022-10-25 00:25] yuribogomolov opened #515 "Spark 3.* bundles transitively depend on Spark 2.4"
The `agent-core` package version is agnostic to the Spark version and it depends on Spark 2.4. In result all Spark 3.* bundles have transitive dependencies on Spark 2.4. See the dependency tree for `spark-3.2-spline-agent-bundle_2.12` below:
[code]

[2022-10-25 06:58] cerveada commented on #515
When the bundles are created profiles are used. So to find out actual dependencies maven should be called with the profile.
[code]

[code]

From this you can see the dependency is provided and should not have any influence further down the line.

But the bundle itself is **not supposed to be used as maven dependency** anyway. It is an artifact ready to use with the specific Spark and Scala version

[2022-10-25 10:31] #515 closed, assigned to nobody

[2022-10-26 05:43] mohitgarg4628 commented on #463
Hi @wajda
I'm facing same issue, not able to capture lineage on databricks job cluster due to cluster shutdown immediately
Thanks

[2022-10-26 08:31] mohitgarg4628 opened #517 "Support for DELETE, UPDATE and MERGE in Delta"
Hi,

We are using following code for capturing lineage
[code]
# Create DeltaTable instances using the path of the Delta table
[code]
# Execute Upsert
[code]

Here SplineQueryExecutionListener is not getting called for merge operation.
Can you please help for the same.
Thanks

[2022-10-26 08:47] cerveada opened #518 "Databricks Unity Catalog support"
previously mentioned in #507

[2022-10-26 08:50] cerveada commented on #507
ok, seems like the original issue is fixed via #508, and there are new tickets for other issues (#517, #518). So I am closing this ticket.

[2022-10-26 08:50] #507 closed, assigned to nobody

[2022-10-26 08:50] #508 closed, assigned to cerveada

[2022-10-26 09:12] cerveada commented on #517
Python `merge` function is equivalent to `MERGE INTO` spark sql command

https://docs.databricks.com/spark/latest/spark-sql/language-manual/delta-merge-into.html

[2022-10-26 09:15] mohitgarg4628 commented on #517
@cerveada Can you please help for the same, how can we resolve this issue?

[2022-10-27 08:46] #498 closed, assigned to cerveada

[2022-10-27 09:20] cerveada commented on #487
fixed by #508

[2022-10-27 09:20] #487 closed, assigned to cerveada

[2022-10-31 10:01] #509 closed, assigned to cerveada

[2022-11-01 08:38] rupesh3020 opened #522 "Timelines to add headers to a release"
Hi Team,

When can we expect the new version of jar which will contain headers feature ?
7.12 was released but i don't see it supporting HTTP headers to be specified in configuration.

[2022-11-01 09:35] #522 closed, assigned to nobody

[2022-11-01 19:28] wajda opened #524 "HTTP dispatcher :: disable SSL validation"
Add `disable-ssl-validation` option

[2022-11-02 16:37] wajda opened #527 "Examples :: userExtraMeta filter doesn't seem to be applied"
Example jobs are supposed to be labeled with `tags: example` and `appName` labels, but no labels actually present in the output JSON

[2022-11-03 12:22] #527 closed, assigned to wajda

[2022-11-03 13:38] #524 closed, assigned to wajda

[2022-11-03 15:32] wajda opened #529 "Examples :: com.fasterxml.jackson.core.JsonParseException"
[code]

[2022-11-03 16:36] #529 closed, assigned to wajda

[2022-11-14 11:06] zacayd opened #531 "Get Notebook name of databricks"
Can we show in spline the name of the notebooks that run the execution plan?
Or is a rest-api for this?

[2022-11-14 11:13] wajda commented on #531
If I remember correctly, you have to call a Databrics specific API (`dbutils`?) to get the notebook name. Things like that are not collected automatically, but you can use a post processing filter to capture it and store it as an extra property in the execution plan or event entity.

In the development version there is a handy [MetadataCollectingFilter](https://github.com/AbsaOSS/spline-spark-agen

[2022-11-14 11:30] zacayd commented on #531
Question- how can i run on postman- rest api   aganist the Spline rest api

[2022-11-14 13:41] wajda commented on #531
What do you mean? Spline REST API is just like any other REST API.

[2022-11-14 13:56] zacayd commented on #531
yes but where can i find the documentation for this?
what actions can I do?

[2022-11-14 14:04] wajda commented on #531
Open the index page of the Spline Gateway server in a browse (e.g. http://localhost:8080) and you'll see a status page that, among other information, contains links to Swagger definition for both Producer and Consumer REST API. Unfortunately we do not have any solid developer documentation about the structure of those API, but some basic info is available in those Swagger defs.

[2022-11-16 14:53] zacayd opened #532 "Run Java Project of spark agent in IntelliJ"
HI
what steps i need to run the java project of Spark Agent in  my IntelliJ
I get an error of
[code]

[2022-11-16 16:02] wajda commented on #532
What do you mean by "run project"? What exactly are you trying to do? What commands do you execute?

[2022-11-16 16:03] #532 closed, assigned to nobody

[2022-11-22 06:37] NishchayAgarwal commented on #423
Hey @wajda
Hope you are doing well

As we are using latest spline spark jar file and running on the Runtime Version 9.1 LTS, I am getting the same error Custom Serializer as above mentioned,
Can you please help for the same. I am highly obliged to you

[2022-11-22 08:22] cerveada commented on #517
Support for DELTE, UPDATE and MERGE in delta was not yet implemented, it will be added under this ticket.

[2022-11-23 13:38] dk1844 opened #536 "Tests fail on Windows"
Having tried to run `tests` on Windows (Win 11 x64) with docker-desktop alternative running, I am failing to test-run the project.

I have run `mvn test > out.txt`, attaching a log
[out.zip](https://github.com/AbsaOSS/spline-spark-agent/files/10075978/out.zip)

@cerveada @miroslavpojer

[2022-11-23 13:45] cerveada commented on #536
Does the build works without tests?
[code]

[2022-11-23 16:10] dk1844 commented on #536
That is fine.
[code]

[2022-11-24 07:35] miroslavpojer commented on #536
I can confirm that this command is working.
[code]
[out_skipTest_after_checkout.zip](https://github.com/AbsaOSS/spline-spark-agent/files/10081723/out_skipTest_after_checkout.zip)

[2022-11-24 07:47] miroslavpojer commented on #536
If I follow example from readme to build an agent for Spark 2.4 and Scala 2.12:

[code]
then output passed too:

[code]

[2022-11-24 08:02] miroslavpojer commented on #536
Here is my build output when called command:
`mvn test -Pscala-2.12,spark-2.4`

[code]

[out_test_by_readme.zip](https://github.com/AbsaOSS/spline-spark-agent/files/10081913/out_test_by_readme.zip)

[2022-11-24 09:10] cerveada commented on #536
Seems like most of them are:
[code]
or different paths on windows like:
[code]

That may be good news because it could be enough to fix these two issues to fix most of these tests.

[2022-11-24 10:17] miroslavpojer commented on #536
Windows paths could be solved by correct using URI vs Paths. I can do it.

[2022-11-24 12:36] wajda opened #537 "Spline agent memory footprint for large and complex data processing pipelines"
### Discussed in https://github.com/AbsaOSS/spline-spark-agent/discussions/535

<div type='discussions-op-text'>

<sup>Originally posted by **juja76** November 23, 2022</sup>
hi there,

some of our data processing pipelines have extremely complex data transformation flows and operate on the datasets with huge number of input/output dataset attributes.
For example: 10+ input files with 100+ input c

[2022-11-24 12:56] wajda commented on #536
Should we add one more dimension to our CI build config? - Win/Linux operating system? So we'll have SparkVer+ScalaVer+OS builds?

[2022-11-24 13:01] miroslavpojer commented on #536
I guess no. From my research there is not expected end user with windows (except browsers running in windows.). Source of problem is my selection of windows machine in the middle of them living in Mac OS ecosystem. @Zejnilovic Do you agree?

[2022-11-24 14:43] zacayd opened #538 "Databricks with spline to kafka"
Hi Alex

I have a project to read lineage data of spline from spark databricks jobs to  kafka
From what I saw on the  https://absaoss.github.io/spline/
There Is an ability to connect the spine to kafka  -
So I created  a yml file to up the containers of  spline_ui_, spline_spline-kafka, spline_rest , spline_arangodb
See attached yml

Her is the result of docker ps

CONTAINER ID   IMAGE

[2022-11-24 16:00] #538 closed, assigned to nobody

[2022-11-24 16:07] zacayd opened #540 "Combining ExecutionPlan and ExecutionEvent in KafkaLineageDispatcher"
### Discussed in https://github.com/AbsaOSS/spline-spark-agent/discussions/446

<div type='discussions-op-text'>

<sup>Originally posted by **rkrumins** June 13, 2022</sup>
I am working on building out a service that takes the great work done by Spline Spark Agent in terms of capturing the lineage and metrics and eventually publishing that into the target metadata store. Spline Spark Agent works w

[2022-11-24 23:37] wajda commented on #540
@zacayd, I understand that you might have a lot of questions around Spline as well as other related technologies. But please, try to be more organized in what, how and where you post on GitHub. I noticed some of your messages are off-topics, or even totally confusing and meaningless like this one. Please save our and other community members' time by posting more clear questions into related issues

[2022-11-24 23:37] #540 closed, assigned to nobody

[2022-11-24 23:46] zacayd commented on #540
@wajda  i am new to the spline system - and  my way to learn is by asking questions
and i see i am getting lost - so can you support or not?

[2022-11-24 23:55] wajda commented on #540
It's OK to ask as many questions as needed and we are happy to answer them. All I'm asking is to be more organized and clear. What problem did you want to address in this current ticket? You copy/pasted another person question from an unrelated discussion with no additional comment from your side? What did you expect us to do with this?

[2022-11-24 23:59] zacayd commented on #540
my question realtes to using the kafka with databricks - i sent a detailed question of the issue- becaue it relared to kafka in spline

[2022-11-25 00:17] wajda commented on #540
I have answered to your question in another issue you created - AbsaOSS/spline-getting-started#38

[2022-11-25 11:08] fmx9 opened #542 "Exception with constant values in CTE"
This simple SQL query leads to an exception:
[code]
[code]
Reproduced with `spark-3.2-spline-agent-bundle_2.12`, versions `0.7.7` and `0.7.12`

[2022-11-25 11:24] fmx9 opened #543 "Exception with SQL query from Spark temporary view"
This code leads to an exception in 0.7.12. **Not reproduced in 0.7.7**.
[code]
[code]

[2022-11-28 08:35] cerveada opened #545 "Switch to Scala 2.12 as default version"
Scala 2.11 will still be supported, but default version used will be 2.12 instead of 2.11.

Scala 2.11 and 2.12 are mostly source compatible, but not binary compatible. Source compatibility is what we need to use the one code base for multiple Scala versions.

I was searching for some option to check that the source compiled under Scala 2.12 is still valid Scala 2.11 source but so far I was not su

[2022-11-29 08:44] #517 closed, assigned to cerveada

[2022-11-29 12:21] wajda commented on #423
Just tried agent 0.7.12 on Databricks 9.1 LTS and it worked as expected.

![image](https://user-images.githubusercontent.com/795479/204527408-c5e34738-2283-49c2-a24b-681e4bb48850.png)

Make sure you are using compatible libraries. 9.1 runtime is based on Spark 3.1.2 so you need to use agent version built for Spark 3.1, e.g. `za.co.absa.spline.agent.spark:spark-3.1-spline-agent-bundle_2.12:0.7.12`