[2018-10-22 07:45] wajda opened #62 "Spark write mode "Ignore" support"
We should ignore events of writes with mode "Ignore"
Related to: AbsaOSS/spline#52, AbsaOSS/spline#79

[2019-08-08 15:05] wajda opened #32 "Capture failed executions"
If a job fails we should still send an execution plan and the error to the server.
Failed events should be filtered out in the query when building a lineage across jobs.

[2019-10-24 09:27] Zejnilovic opened #53 "Add fallback option in case Producer is down and write doesn't pass"
If in case of reasons unknown spline is not able to log the lineage to the ArangoDB, I would love to have a fallback option of writing the data to local disk or HDFS, which then I would be able to manually insert into the ArangoDB.

### Why?
I might be allowed to only run the job once or once every X hours/days/weeks which means my data about the job is lost.

### Additions requests:
- I would not

[2019-10-31 15:19] cerveada opened #30 "Sanity check for codeless initialization"

[2019-11-22 17:11] wajda opened #57 "Track duration of executions"
At the moment we only track the end time of write event and do not collect a duration.
We need to track the start time (or duration)  as well.

See https://github.com/AbsaOSS/spline/pull/473#discussion_r349715363

[2019-12-12 16:20] bgopal-nlg opened #120 "Spline Libraries not working while Import class in databricks"
Hi, As instructed, I downloaded the spline libraries as given below and uploaded into Dbricks all clusters.
spline-bundle-2_4-0.3.9.JAR

za.co.absa.spline:spline-core:0.3.6
za.co.absa.spline:spline-core-spark-adapter-2.4:0.3.6
za.co.absa.spline:spline-persistence-mongo:0.3.6

admin-0.4.0-sources.jar
rest-gateway-0.4.0-sources.jar
client-web-0.4.0-sources.jar

and then went to Notebook given the be

[2019-12-16 15:48] wajda opened #31 "Cannot re-attempt Spline initialization after an error"
In Spark shell when I forgot to provide `spline.producer.url` Spline init fails due to missing configuration property as expected. But after that happens I have to close and open Spark shell again to re-attempt Spline init. Otherwise it says that Spline has already been initialized, even though it's actually not.

[code]

[2020-02-21 14:47] dwarry opened #34 "Should Spline capture Hive Warehouse Connector activity"
## Background
The old HiveContext etc. classes have been deprecated since Spark 2.0, in favour of the new [Hive Warehouse Connector](https://docs.cloudera.com/HDPDocuments/HDP3/HDP-3.1.4/integrating-hive/content/hive_hivewarehouseconnector_for_handling_apache_spark_data.html), which seems to be necessary to interact with LLAP.

## Question
Should Spline be capturing lineage operations performed th

[2020-03-11 13:54] ankitbko opened #35 "API for attaching user metadata to the execution plan and event"
## Feature
Allow pass custom key value pairs from spark job which is sent along with lineage data either in `executionPlan` or `executionEvent`. This will be powerful feature to allow users to add some metadata to the lineage. I am not sure if this feature already exists as I can see a property called `extraInfo: Map[String, Any] = Map.empty` in `ExecutionPlan` which looks like it is may be used f

[2020-03-26 13:17] avsthiagokbc opened #16 "Spark AppId missing on the new lineage schema"
Hi team, I was doing some analysis on the lineage file produced by the spline-spark-agent 0.5.0, and I noticed that the Spark appID attribute is not part of it as it was in Spline 0.3. Is there any plans on reintroducing this attribute in the future?

[2020-03-26 15:16] wajda commented on #16
It's in the `ExecutionEvent.extra` property
https://github.com/AbsaOSS/spline-spark-agent/blob/develop/core/src/main/scala/za/co/absa/spline/harvester/ModelConstants.scala

[2020-03-26 15:57] avsthiagokbc commented on #16
Thanks for the quick answer, @wajda.
I'll take a further look on what happened here. I recreated the HDFS dispatcher from Spline 0.3, and noticed on my tests that the AppID was not present on the output file.

<details>
  <summary>You can see here the sample file I created.</summary>

[code]

</details>

[2020-03-26 16:33] wajda commented on #16
Correct. Spline 0.4 has a different data model. Now the agent generates two documents for every Spark persistent action - the execution plan and the execution event. The former represents the static part of the lineage (logical plan and the data sources) while the later represents the fact that something has happened. Since Spark `appId` is different from run to run it (along with the timestamp) l

[2020-03-26 17:37] avsthiagokbc commented on #16
Thanks for the explanation @wajda, I will adjust the HDFS dispatcher accordingly.

[2020-03-26 17:39] #16 closed

[2020-03-30 12:31] lesbroot opened #17 "Codeless init problem"
Hi,

I was trying to setup codeless init with spark 2.4 with the following spark conf option:

[code]
It throws the following exception:

[code]

I tried to extend the `QueryExecutionListener` class, then it throws the following:

[code]

I'm probably trying to do it the wrong way, how to initialize the agent with just spark conf?

[2020-03-30 13:00] lesbroot commented on #17
I realized that I was using the wrong class, the actual listener is the following:
`za.co.absa.spline.harvester.listener.SplineQueryExecutionListener`

Closing this issue.

[2020-03-30 13:00] #17 closed

[2020-04-14 14:32] radford1 opened #36 "ElasticSearch-hadoop connector support Scala 2.12"
## Background
ElasticSearch currently only supports scala 2.11. Need to be able to support scala 2.12 when ElasticSearch releases new version

## Details
ElasticSearch connector: https://github.com/elastic/elasticsearch-hadoop
ElasticSearch open issue for scala 2.12: [elastic/elasticsearch-hadoop#1224](https://github.com/elastic/elasticsearch-hadoop/issues/1224)

[2020-04-16 14:23] wajda opened #38 "Cobol connector support (Cobrix)"
https://github.com/AbsaOSS/cobrix

[code]

[2020-04-21 22:20] wajda opened #39 "LocalRelation node should not capture the data"
![image](https://user-images.githubusercontent.com/795479/79919596-f90d9380-842e-11ea-8b89-a93408c52503.png)

CC @Zejnilovic

[2020-04-30 19:25] deeptibaghel opened #40 "support for databricks delta format"
## Background
Databricks delta format enables ACID transactions on data. Currently "delta" format is not supported by Spline.

## Feature
If the support for "delta" file format could be added, it would help a lot.

[2020-05-05 09:19] cerveada opened #60 "Window functions support in attribute lineage"
The window functions are not 100% supported in Spline 0.5.x. Current data model have some issue that make that support problematic. New data model in 0.6 should address this and Window functions attribute lineage should be supported.

This is related to AbsaOSS/spline-spark-agent#28

[2020-05-05 10:09] arijit999 opened #28 "UnsupportedOperationException: dataType"
[code]

[2020-05-05 10:09] #28 closed

[2020-05-05 10:12] wajda opened #29 "AVRO: a class name is captured instead of a format name"
Avro format is displayed as `org.apache.spark.sql.avro.AvroFileFormat@16c9ec5b`. Should be just `Avro`

[2020-05-05 10:12] #29 closed

[2020-05-05 10:16] karanglass34 opened #33 "RDD lineage support"
I am using the latest spline version. When I enable spline, I see incomplete lineage, my code reads the file from parquet and creates a temporary view, performs some transformations and creates a new view which is then finally written to a parquet. However I am not able to see lineages for my transformations.

![lineage](https://user-images.githubusercontent.com/52342684/60380541-46ca9280-99fc-11e

[2020-05-05 10:17] wajda opened #37 "ArangoDB Spark Connector support"
https://www.arangodb.com/docs/stable/drivers/spark-connector-getting-started.html

[2020-05-05 10:26] lucienfregosi opened #41 "Spark Streaming Support"
Is it planned to add an integration with Spark Streaming ? It could be useful to be able to apply some lineage for batch and streaming data

[2020-05-05 10:47] wajda opened #42 "java.lang.NumberFormatException: Not a version: 9"
_Originally posted by @Qurashetufail in https://github.com/AbsaOSS/spline/issues/588#issuecomment-587104712_

I tried the code with oracle today. The code is now throwing a new error.
[code]
Is the compatibility issue of scala and spark or it is the Spline error? Please let me know if you need any further details from my side.
The Java version details  I am using is mentioned below
[code]

Thanks,

[2020-05-05 10:47] #42 closed

[2020-05-05 10:47] wajda opened #43 "Spark DataSource V2 support"

[2020-05-05 10:47] #43 closed

[2020-05-05 10:55] wajda opened #44 "ElasticSearch connector support"
https://github.com/elastic/elasticsearch-hadoop

[2020-05-05 10:55] #44 closed

[2020-05-05 10:57] wajda opened #45 "Improve Spline agent init logging"
Spline agent should report the mode and the producer URL in the INFO log.

[2020-05-05 10:57] #45 closed

[2020-05-05 10:58] wajda opened #46 "MongoDB connector support"
https://docs.mongodb.com/spark-connector/

[2020-05-05 10:58] #46 closed

[2020-05-05 10:59] wajda opened #47 "Regression: Spline agent mode isn't properly respected in the agent init flow"
When the server isn't ready the agent cannot become _initialized_ regardless of the mode.

[2020-05-05 10:59] #47 closed

[2020-05-05 10:59] wajda opened #48 "Cassandra connector support"
https://github.com/datastax/spark-cassandra-connector

[2020-05-05 10:59] #48 closed

[2020-05-05 11:01] igreenfield opened #49 "scala 2.12 support"
from spark 2.4.1 the release move to scala 2.12 do you have release for scala 2.12?

[2020-05-05 11:01] #49 closed

[2020-05-05 11:05] cerveada opened #50 "Improve spark-agent "sanity check" error messages"
The message should give more information about what is working and what not.

[2020-05-05 11:05] #50 closed

[2020-05-05 11:06] benedeki opened #51 "Add template resource files to runable modules"
To make it clear what can be set for runable modules of the project, it might be useful to include template resource files. E.g files like `application.conf.template` or `application.properties.template`
These files would include things that can be set in the module - keys with some good example values and explanatory comments if considered so.

[2020-05-05 11:06] #51 closed

[2020-05-05 11:07] wajda opened #52 "spark-shell / pyspark --packages not working"
[code]

[2020-05-05 11:07] #52 closed

[2020-05-05 11:12] wajda opened #54 "User defined operation grouping"
The developer of a spark job should be able to demarcate logical goups of transformations that would be visualized in Spline UI as named sub-graphs or clusters, collaped by default with the possibilities to expand and drill down.

[2020-05-05 11:14] ShawnHouCHN opened #55 "Snowflake EDW Write Operation Support"
## Background
Currently, Spline seems to not support Snowflake which recently has become popular among EDW solutions

## Feature
Snowflake Spark connector read/write support https://github.com/snowflakedb/spark-snowflake

[2020-05-05 11:19] wajda commented on #55
Unfortunately Snowflake refused to provide a free testing account to an open-source community. A time limited trial account isn't an option from a long-term build stability perspective (unless we could automate a new demo account creation as a part of the build process).

[2020-05-05 11:21] prabdeb opened #56 "Azure Cosmos DB write operation support"
## Background
Spline is not able to track lineage while writing to Azure Cosmos DB

## Feature
Azure Cosmos DB write operation support

## Example
Sample Scala code of write operation to Cosmos DB, that is not able to track lineage

[code]

[2020-05-05 11:22] metametametameta opened #58 "Lineage Calculation not triggered when using Spark Connector for SQL Server BulkCopy API"
When using the Spark Sql Server connector (https://github.com/Azure/azure-sqldb-spark), there are two ways to produce the final output:

One way the Spark SQL Connectior API works is by using the usual df.write style operation which triggers lineage via the "Save" action (see example below)

However, when calling df.bulkCopyToSqlDB (also shown below), no lineage is triggered as no action is produc

[2020-05-05 11:23] dmoore247 opened #59 "Capture user identity?"
## Background [Optional]
One aspect of 'clarity', auditing & lineage is understanding 'who' ran the query or transformation. Many compliance regimes require knowing who access what and when. Further which spline does is to capture the 'how' of the transformation (or query).

## Question
Does Spline capture any form of user identity, is it feasible to capture the identity and to do so as transparen

[2020-05-05 12:36] wajda opened #61 "Upgrade to Producer API ver.1.1"
Agent should support both Producer API v1 and newer 1.1

Add Content-Type header:
`Content-Type: application/vnd.absa.spline.producer.v1.1+json` to all POST requests

Replace `producer.api.json` with the fresh one

Update Harvester to produce a lineage data in a new format, including attribute dependencies, schemas and expressions.

[2020-05-06 14:01] cerveada commented on #62
The `SaveMode.Ignore` works the similar way as `CREATE TABLE IF NOT EXISTS` in sql. The data are stored only when the target destination is empty (the file doesn't exist for example), otherwise the write is just ignored.

The problem is to get the information which of those two happend. The best way to do it seems to be write metric `numFiles`. This seems to work, but not for every source. For exa

[2020-05-07 11:12] wajda commented on #62
It seems to me that we are dealing with _false positive_ vs _false negative_ dilemma. If we treat absence of change metrics are ignored write we might loose some lineage information. Otherwise we might record lineages that did not actually happen.
What if we make this strategy configurable in the agent, so the user can decide which (mis)behavior is more tolerable for this needs?
E.g.
[code]

[2020-05-07 12:21] cerveada commented on #62
When metric is absent we still always want to ignore by metric zero. What about:
`spline.ignored_write_metrics_missing_action=IGNORE_WRITE | CAPTURE_WRITE`

[2020-05-07 15:29] wajda commented on #62
let's do it even cleverer, using a future-proof approach. Let's use a strategy pattern for the ignore write detection logic with the built-in default implementation. And the property we are are discussing will then be a property of the _default_ implementation. Hence the hierarchical configuration (spline -> strategy -> impl -> property):
[code]
If somebody wants to override it with say `com.foo.M

[2020-05-09 20:43] wajda opened #64 "Multiple Producer API versions support"
Agent should negotiate highest compatible API version with the server.
Agent should warn about deprecated versions.
Agent should suggest upgrade if a newer server version detected.

Related to AbsaOSS/spline#671

[2020-05-10 13:32] wajda opened #65 "Attribute level lineage isn't resolved correctly on UNION operation"
Even though UNION's inputs have identical schema the output attributes are only traced to the 1st input group.

Expected behavior: UNION output should be traced to both input groups.

![image.png](https://images.zenhubusercontent.com/5c04fd55820d8748e06666cd/b4754545-3527-467a-bdd1-eb2530a5e180)

[2020-05-16 12:08] roman-novosad opened #69 "Security issue: JDBC URI contains plaintext password & username"
## Proposal
Spline Agent should contain URI filtering for, at least, passwords. Captured Lineage data are send insecurely thru HTTP protocol to Producer, which can be located out of the secured network, so anyone can listen and capture the password.

I believe this issue should be solved on either Agent and UI sides. Best solution is not sent it at all or securely mask it (f.e. with asterisks).

#

[2020-05-17 21:49] wajda commented on #35
New API example:

[code]

There is also `NoopUserExtraMetaDataProvider` class with all `forXXXX()` methods returning empty `Map`. You can extend that class and only override methods that you need.

[2020-05-21 13:10] wajda opened #71 "Upgrade to Producer API v1.1"
Add Content-Type header:
`Content-Type: application/vnd.absa.spline.producer.v1.1+json` to all POST requests

Replace `producer.api.json` with the fresh one

Update Harvester to produce a lineage data in a new format, including attribute dependencies, schemas and expressions.

[2020-05-25 13:40] DaimonPl opened #72 "Spline fails to report lineage when plan contains Scala 2.12 lambda"
Checked on spline agent 0.5.1 with Scala 2.12, Spark 2.4.5

Code uses Scala Dataframe/Dataset transformation including lambda expressions it fails with following error:

[code]

[2020-05-25 17:33] DaimonPl commented on #72
@wajda I'll try to prepare example tomorrow but it happened in very typical job with Scala code with lambda, something like

[code]

[2020-05-25 18:35] wajda commented on #72
Thanks, we'll take a look.
Technically it's a bug, and is definitely should be fixed. But on the other hand, since a lambda is a black box for JVM runtime you will hardly get any usable lineage from that type of Spark code anyway. Using structured API is more beneficial from both Spline a Spark perspective. The more detailed logical plan your job produces, the better it can be optimized by Spark C

[2020-05-25 18:44] DaimonPl commented on #72
Source to target (input table to output table) is enough for us, this part should work fine even with lambda expressions?

Regarding api and catalyst I'm fully aware - I've been working with every spark version since Spark 1.4 :) dataframe/dsl api is ok for simple data transformations but complex business logic is often easier to write/test/maintain with pure Scala code - UDFs are sometimes not en

[2020-05-25 18:47] wajda commented on #72
true :)

[2020-05-25 21:25] wajda commented on #72
Looks like it's a slippery spot in Scala reflection - https://github.com/scala/bug/issues/11828
The only decent workaround that comes to my mind would be placing a guard condition to the `ModuleClassSymbolExtractor` to check that the class isn't synthetic before trying to get a symbol.

[2020-05-26 05:35] DaimonPl commented on #72
@wajda ok so as i understand it's easily reproducible with any lambda in plan?

Lineage will work anyway with that workaround? I mean table/datasource lineage - I fully understand that with lambda expressions there's no way to have column lineage :)

If you have any fix in your mind and we can get it to some public snapshot repo I can test it - we are now checking spline with spark jobs - most of

[2020-05-26 10:46] wajda commented on #72
Yes, that's correct.
With lambdas you can still get source to source and operation level lineage. You even will also get a partial attribute level lineage (in the next Spline 0.6 release). What will be missing however is the lambda structure itself, that will in turn affect precision of the attribute lineage at places when lambda occurs. For instance, in your example above Spline won't tell you th

[2020-05-26 13:53] wajda commented on #72
Spline Agent v.0.5.2 is released.
@DaimonPl, could you please confirm that it works?

[2020-05-26 14:33] DaimonPl commented on #72
Yep, I'm not getting this problem anymore

There's other problem, I'll create different issue

[2020-05-26 14:33] #72 closed

[2020-05-26 14:39] DaimonPl opened #74 "Lineage not being reported from production Hadoop+Hive+Spark"
I verified that lineage is reported from end-to-end tests (local spark context)

However when run on hadoop cluster with Hive and Spark 2.4.5, no lineage, nor any warning or error is reported

configuration:

[code]

build.sbt:

[code]

logs from job:

[code]

Same code run from local spark context sends lineage successfuly and it's visible in spline UI

Any idea how to debug problem? I see no log

[2020-05-26 16:28] wajda opened #75 "BuildInfo.version reports 'null'"
Most likely a collision between 'build.properties' files from different JARs.

[2020-05-26 16:38] wajda commented on #74
It could be caused by a different event type sent by Spark when in Hive environment.
Can you reproduce it locally having Hive enabled?
Or if you could connect with a debugger to a Spark driver and put a breakpoint on this line: https://github.com/AbsaOSS/spline-spark-agent/blob/release/0.5.2/core/src/main/scala/za/co/absa/spline/harvester/builder/write/WriteCommandExtractor.scala#L42

[code]

[2020-05-26 16:44] wajda commented on #74
Here Spline tries to figure out what is the `LogicalPlan` instance it holds in hands, whether it represents any kind of write command or not. If it's not recognized as a known write command the lineage is ignored, because Spline only captures lineage of persistent operations where data is actually written to some persistent location. This is vital.

[2020-05-26 16:55] DaimonPl commented on #74
I tried with hive enabled locally (local spark master) and it works just fine.

No way to connect debugger to live spark job on cluster - our setup does not allow it.

Would changing spline mode to REQUIRED generate any helpful exception error message to intercept cause?

[2020-05-26 20:40] wajda commented on #74
No, I don't think it related. I bet it's because of some specific logical plan node that only appears on that environment, and is ignored as non-write node.

Could you try to add some log statements into that method that I pointed above? And see what happens. Hopefully it'll shed some lights. Specifically focus on that `LogicalPlan` instance that is passed into the `asWriteCommand` method. Print i

[2020-05-26 20:49] wajda opened #76 "Add more debug logging to the Harvester"
The issues like #74 is quite common. We need to log more stuff on DEBUG level to make it easier to tackle issues like that.

[2020-05-27 07:08] DaimonPl commented on #74
@wajda sure i'll try to get some info but I've already seen this PR: https://github.com/AbsaOSS/spline-spark-agent/commit/0e0c5490e64d6bfc007a1e95469c713dd2b3a3cd

do you have snapshot maven repo available co i could get it directly from snapshot repo?

[2020-05-27 09:04] wajda commented on #74
No we don't. But you can build it yourself. It's as simple as `./build-all.sh`. All you need is Java 1.8 and Maven

[2020-05-27 09:42] DaimonPl commented on #74
Thx, I managed to build it locally and run job. It's "strange" because I can clearly see that spline reports it harvested lineage from command which was supposed to be harvested

[code]

still no lineage in spline UI

here's full log from spline:

[code]

[2020-05-27 09:52] cerveada commented on #75
Fix used in gateway: https://github.com/AbsaOSS/spline/commit/336b4a636ad5d343b01673a4bc4dc7be3edbe315#diff-aa5607a2c784368e17340bfa6903c66a

[2020-05-27 10:19] DaimonPl commented on #74
Oh i found different log :) it was `org.apache.spark.sql.util.ExecutionListenerManager` logger

[code]

I'm using spline-rest-server 0.5.1 with 0.6.0-SNAPSHOT agent now

[2020-05-27 10:25] DaimonPl commented on #74
Unfortunately nothing helpful from docker container catalina logs

[code]

[2020-05-27 13:04] wajda commented on #74
Hm, That's interesting! The logs were helpful though :)

[2020-05-27 13:30] DaimonPl commented on #74
@wajda does spline-rest-server return anything in http response? We could add spline logs to log exact cause of lineage data sending failure ?

[2020-05-27 13:45] wajda commented on #74
So, from what I see is the error is most likely caused by incorrectly deserialized data (HTTP 400). Also the payload size (if it's a payload size displayed after 400) is way to small to me. So I'd check for data corruption.

Regarding the logs and response, normally if the error happens on the server it is both logged (with a unique ID) and also returned in a response body to the client.
Try to ch

[2020-05-27 14:00] wajda commented on #74
Another thought - since version 0.5 the agent negotiates data encoding with the server, and gzips the data if the server supports compressed requests. In this case the agent adds "Content-Encoding" header to the request. Unfortunately request encoding isn't quite an HTTP standard. So what could hypothetically happen is that if the request is passed through a proxy that is very strict in term of HT

[2020-05-27 14:03] wajda commented on #74
To exclude this case could you try Spline 0.4 on the server. If it works, then the problem would in the broken encoding.

[2020-05-27 15:01] DaimonPl commented on #74
There's no http proxy in between

I'll check tommorow with some additional logs

[2020-05-28 08:14] DaimonPl commented on #74
@wajda I added some logs to sparka gent and managed to get cuase

[code]

So probably it's directly related to https://github.com/AbsaOSS/spline-spark-agent/issues/75

[2020-05-28 08:17] DaimonPl commented on #75
It looks like it completely breakes lineage reporting in my setup. Is it possible to fix it in spline 0.5.x ?

[2020-05-28 11:27] DaimonPl opened #85 "Spline does not display schema/database for Hive tables"
Hive supports multiple schema/databases for example `my_db.my_table`, `different_team_db.my_table`

Spline correctly recognizes URI for both but UI only displays `my_table`. Database/Schema `my_db` is very crucial and it would benefit everyone to also display database/schema in lineage - or maybe just full table name like `my_db.my_table` ?

[2020-05-28 16:29] DaimonPl opened #81 "Ability to replace pattern in application name for lineage"
In our setup we have jobs with generated names - usually dates, for example `my-app-2020-05-01`

For lineage purposes it would be better to report it as `my-app-YYYY-MM-DD`

@wajda have you thought about such feature? Do you think it would be useful for others? I could try to add implementation for it but let me know first

[2020-05-28 17:17] radford1 opened #83 "Add Table Catalog params for non hive tables"
When spark is using a hive metastore and the table type is using parquet instead of hive then the table catalog params are not populated.

[2020-05-28 17:17] wajda commented on #81
Do you mean dynamically replacing the app name specifically for lineage purposes, based on a user pattern?

[2020-05-28 17:28] DaimonPl commented on #81
Exactly, example:

real app name: `my-app-2020-05-01`
replace pattern config: `\d{4}-\d{2}-\d{2}`
replace value config: `YYYY-MM-DD`
lineage app name: `my-app-YYYY-MM-DD`

of course config would be optional

[2020-05-28 17:29] wajda commented on #81
It's possible in the Spline agent 0.6. See https://github.com/AbsaOSS/spline-spark-agent/issues/35#issuecomment-629865953

The App name is reported as an extra property of the execution plan:
[code]

You can extend `UserExtraMetadataProvider` to override this key as you wish, and register it in the config as `spline.user_extra_meta_provider.className=...`

[2020-05-28 17:29] DaimonPl commented on #83
Looks like i had same issue but thought that cause was different: https://github.com/AbsaOSS/spline/issues/685

[2020-05-28 17:50] DaimonPl commented on #81
Ok, looks I'll need to wait for 0.6 then :)

[2020-05-28 19:17] radford1 commented on #83
Ah got ya. I'm working on a fix that I'm getting ready to push that will add these to the params the same way hive tables work. Hopefully this will also help to solve your issue as well.

[2020-05-28 19:59] wajda commented on #81
Or I'll need to backport it to 0.5 :)
We've got plenty of work for 0.6, it won't come out anytime soon.

[2020-05-28 20:27] wajda commented on #85
possible duplicate for #83

[2020-05-28 20:54] wajda commented on #81
there - 5984af8f23606f4ce80e686b9af15991b36113c8

[2020-05-29 04:32] bighanraj opened #89 "Spline 0.3.7 is not working when actions are triggered by GlueContext"
## Describe the bug
Spline 0.3.7 is not working when actions are triggered by GlueContext.
Basically gluecontext internally uses Spark context to read and write. So while using AWS  GLUE in our ETL, we are not able to capture the lineage. Spline only captures input/output info.

Do you guys have nay info about this...

## Versions
0.3.7

## To Reproduce
use gluecontext to read and write and use gl

[2020-05-29 11:00] DaimonPl commented on #74
@wajda I wanted to test your branch but it looks that it already contains version fix so i cannot really test if logging is fine, but my problem no longer occurs :)

[code]

[2020-05-29 11:31] DaimonPl opened #86 "Failure to report lineage in some specific scenario"
One of (about 20) tested jobs reports following error when reporting lineage:

[code]

[2020-05-29 11:31] DaimonPl commented on #74
@wajda looks like logging works OK, here are details of other problem found https://github.com/AbsaOSS/spline-spark-agent/issues/86

[2020-05-29 13:30] #74 closed

[2020-05-29 23:03] #76 closed

[2020-05-29 23:03] #75 closed

[2020-05-29 23:05] #85 closed

[2020-05-29 23:06] wajda commented on #81
Closing in favor of #35

[2020-05-29 23:06] #81 closed

[2020-05-29 23:39] wajda commented on #86
I'm struggling to understand what's happening here. It looks like a _json4s_ bug, but what triggers it?
What do you by saying that it's related to `org.apache.spark.sql.types.Metadata`
Is it trying to serialize something that isn't supposed to be serialized?
Can you reproduce it locally?

[2020-05-29 23:41] wajda commented on #86
What branch didn't you encounter it on? Have you tried latest _relese/0.5_ ?

[2020-05-30 00:01] DaimonPl commented on #86
I was using your branch with additional http logs

Yes I was able to reproduce it locally (we have e2e tests for each job using local spark context)

I used debugger and json4s fails when it encounters 'private final scala.collection.immutable.Map org.apache.spark.sql.types.Metadata.map'
on field named 'id' in that schema I sent you - looks like each spark datatype extends base type with 'metadata

[2020-05-30 11:36] wajda commented on #86
Aha, serializing a Spark type seems to be wrong already. Can you find what lineage property holds a `CatalogTable` instance?

[2020-05-30 11:57] DaimonPl commented on #86
Not sue if this is helpful (partial lineage toString)

[code]

[2020-05-30 12:06] DaimonPl commented on #86
@wajda but just to be sure I've just rebuilt latest release/5.0 (0.5.3-SNAPSHOT) instead of your branch and it works just fine!

Any chance you had some changed/additional code on your branch regarding http logging?

[2020-05-30 12:25] DaimonPl commented on #86
Works fine on latest release branch

[2020-05-30 12:25] #86 closed

[2020-05-30 12:28] DaimonPl commented on #85
@wajda it looks that after @radford1 fix databse is proeprly reported to spline backend, but UI still does not display database name on graph

[2020-05-30 12:34] DaimonPl commented on #85
So probably this issue could be reopened in spline project

[2020-05-30 13:00] uday1409 opened #88 "Unable to build spark agent as producer is missing"
This package import za.co.absa.spline.producer.model._   is imported into LineageHarvester class but this package cannot be found in this module.

[2020-05-31 13:53] wajda commented on #88
Agent is multi-module Maven project. You need to build it from the root module. Execute `mvn install` from the root project directory.,

[2020-05-31 13:58] wajda commented on #85
No worries, it will be handled in the scope of another task - https://github.com/AbsaOSS/spline/issues/645#issuecomment-635901189

[2020-05-31 14:00] wajda commented on #86
Yep, that was it! That why asked to try on the latest release branch :) Cool!

[2020-05-31 14:01] wajda commented on #86
Thanks for helping with this @DaimonPl

[2020-05-31 14:23] #83 closed

[2020-05-31 14:26] DaimonPl commented on #83
@wajda any chance to have 0.5.3 released soon? I'd like to deploy spark agents for 3 teams and check how everything is working - so far 0.5.2 would fail quite fast

[2020-05-31 14:38] wajda commented on #83
The release procedure started - https://teamcity.jetbrains.com/buildConfiguration/OpenSourceProjects_AbsaOSS_SplineAgentSpark_Release?mode=builds

[2020-05-31 17:40] wajda commented on #89
Hi @bighanraj,
Spline 0.3 version series is on the end-of-life and is not supported by the team anymore.
Can you try Spline 0.5 please?

[2020-05-31 17:43] #35 closed

[2020-05-31 17:43] #62 closed

[2020-05-31 17:44] #40 closed

[2020-05-31 17:44] #39 closed

[2020-05-31 17:45] wajda commented on #83
done

[2020-06-02 12:08] cerveada commented on #30
The problem is that when the Listener is being initialized by spark (codeless) the spark session is not yet fully ready and any request for sparkSession.config will trigger another initialization - causing cycle and stack overflow.

There is a listener that can be registered and used, but the callbacks for application start are called too soon, or on job start.

We decided that best way to solve t

[2020-06-02 12:43] cerveada commented on #30
The flag will be still used to avoid multiple manual initializations.

[2020-06-02 14:08] DaimonPl commented on #81
@wajda one more question, because there are multiple overrides

[code]

following setting should be overwritten in each of them?

[code]

[2020-06-02 18:12] wajda commented on #81
No-no, only the one that you need. It's like in a _Visitor_ pattern. Those methods are called for extra info to be included in respected elements of the lineage data structure. In your case you need to implement `forExecPlan()` because you want to alter an execution plan extra info.

[2020-06-02 20:05] radford1 commented on #69
This might be a little difficult to solve as a blanket fix. Most drivers have the variable as password=<password> so that would be easy to catch and replace with **** but I'm not sure if all jdbc drivers have this exact parameter name as password=<password>. Would it be ok to implement a small method that will take the url and start by replacing password=<password> with password=****. If new varia

[2020-06-03 07:03] DaimonPl opened #91 "Dependency improvements?"
I've got some questions/suggestions regarding spark-agent dependencies https://mvnrepository.com/artifact/za.co.absa.spline.agent.spark/agent-core_2.12/0.5.3

1) make all apache spark dependencies provided/optional. Why spark-core and spark-sql are non-optional? If anyone is using spark agent he would be using spark anyway, why enforcing compile time dependency which creates problems with fat-jars

[2020-06-03 08:09] cerveada commented on #91
1) The optionality is telling you whether the library is required for running agent. The optional libraries does not have to be on classpath when you run the agent. We could consider making the spark-core and spark-sql provided.

2) Xml is required dependency right now, but the agent's code could be changed so the xml is not mandatory.

3) Yes, it's used in Harvester

[2020-06-03 08:12] cerveada commented on #91
Don't understand the question about commons, sorry. If it's about commons itself (unrelated to agent) maybe create ticket at commons repo.

[2020-06-03 08:21] cerveada opened #92 "Make spark-xml library optional dependency"
Most other data source dependencies (kafja, jdbc, excel, ...) are optional. We should make this one as well.

Inspired by #91

[2020-06-03 09:00] wajda commented on #91
Scalaz is used in a couple of places, yes. What's the issue with it?

Regarding the rest of dependencies, what can be optional/provided are marked such. You are probably confusing optional and provided dependencies. Bundle modules have their own dependency management section per Spark version, where all deps provided by Sparked marked as _provided_ and aren't included into the final artifact.
I wi

[2020-06-03 09:52] wajda commented on #91
Ok, XML can be made optional as well.

[2020-06-03 10:41] wajda commented on #69
Very good point. JDBC standard is indeed too flexible in terms ways to pass credentials to the driver.
Here's a related StackOverflow question - https://stackoverflow.com/questions/5547224/username-password-in-jdbc-connection-url

The problem here is a bit more general than just hiding JDBC passwords.
Ideally a data source URI should only contain parts that identify the location (no auth credentia

[2020-06-03 11:38] DaimonPl commented on #91
@wajda not an issue yet, just trying to avoid dependency hell. Spline spark agent is a kind of library which will be added to multiple jobs. So the less dependencies the better. Every single additional dependency is potential incompatibility if other job uses same library in different version.

Also most common scenario for Scala jobs is to use far jars. Every additional dependency makes fat jar f

[2020-06-03 13:50] radford1 commented on #69
Ok sounds good. I'll put something together along these lines in the next week or two and we can review

[2020-06-03 15:57] wajda commented on #69
Awesome. Thank you David!

[2020-06-03 16:50] wajda commented on #91
Ah, I see what you are talking about. Of course, let's don't make fat-jars fatter :))

Ok, so first of all, `agent-core` isn't meant for including into the Spark jobs blindly. Probably the documentation doesn't make it clear (our documentation sucks, we need somebody to help us with that). `agent-core` is a normal Java library that makes no assumptions about the runtime context in which it will be

[2020-06-03 17:00] wajda commented on #91
Regarding `scalaz`, honestly it never occurred to me that it might create any class-path collision in practice. Frankly speaking we only use one or two methods from it, so if it does collide with something at some point it wouldn't be a problem to extract those methods and get rid of `scalaz` as a dependency. I just would be reluctant to do it purely as a matter of precaution.

[2020-06-03 19:07] DaimonPl commented on #91
[code]

Yep and so far I'm doigng exactly that + exclude spark dependencies + exclude some other dependencies which would be in spark anyway + shade scalaj http and others to avoid problems in future

I created this question/suggestion because I expect that others in future will have similar problems

If someone is using pyspark then using bundle is no-brainer. With scala-spark jobs using many add

[2020-06-03 19:45] radford1 commented on #89
It looks like it's partially capturing lineage but not everything.

[code]
Glue partial code
[code]

[2020-06-03 20:02] wajda commented on #89
`"rdd": "MapPartitionsRDD[16] at map at DynamicFrame.scala:292",`

GLUE apparently uses RDD under the hood. Unfortunately Spline cannot capture RDD lineage. See #33

[2020-06-03 20:54] radford1 commented on #89
Just for reference @bighanraj, spline is capturing lineage if you use the straight spark api within glue and do not utilize the glue context.
[code]
produces
[code]

[2020-06-04 03:09] bighanraj commented on #89
Hi Guys,

Hearty thanks to you.Currently we are had to stop the plan using
glueContext and moved to spark context to retrieve the lineage which solve
this problem.
Additionally, it is really helpful to know that spline doesn't capture
lineage during RDD actions (only when actions on DataFrame).

So Moving on, I would like use this section to clarify one of my question
here - *why do we encode the

[2020-06-04 08:03] wajda commented on #89
Those are just IDs. The names are defined in the `executionPlan.extraInfo.attributes`. (See the snippet above)

Note that that structure will change a little in the future Spline 0.6, because of introducing attribute level lineage generic model.

[2020-06-04 08:15] DaimonPl commented on #81
@wajda one more question. Can it be somehow used to modify datasource URI?

For example when writing data i have following URI:

hdfs://xyz/tables/my_table/dt=2020-05-15

but when reading spline resolves

hdfs://xyz/tables/my_table/

is there a way to use extra metadata to intercept write uri and modify it on the fly ?

[2020-06-04 08:47] wajda commented on #81
Not with this API, but you can do it in a custom dispatcher. Similar to this one -  https://github.com/AbsaOSS/spline-spark-agent/issues/35#issuecomment-597789962

[2020-06-04 14:03] DaimonPl commented on #81
Ok git it working :)

One more question, what's difference between exec plan and exec event? I'd like to filter out certain plans but exec events contain only ids

[2020-06-04 17:02] wajda commented on #81
Currently, for the Spark agent the difference is only semantic, because for every job run there will be one exec plan and one exec event created. But from the perspective of Producer API the difference is fundamental:
- _Execution Plan_ describes static aspects of the data transformation - **where** we read from, **how** we transform the data, **where** we write the result to. In other words it re

[2020-06-05 08:02] hugeshi opened #125 "attribute dependency cycle"
## Describe the bug
can't generate the lineage info by accessing attribute-lineage-and-impact

## Versions
Spline 0.6.0-SNAPSHOT
Spark 2.3.2
Scala 2.11.6

## Components State
- [ yes] ArangoDB running without errors
- [ yes] ArangoDB spline database initialized
- Rest Gateway running and
  - [ yes] connects to ArangoDB
  - [ yes] there are no errors in logs
- Spline UI running and
  - [ yes] conne

[2020-06-05 16:44] ashyamala commented on #33
@wajda Do you still feel that Spline is still on track to support user-defined RDD lineage or any kind of RDD lineage within the 0.6 release or before the end of the year?

[2020-06-05 18:09] wajda commented on #33
@ashyamala, it's still on the road map, the demand for this feature is growing. But apparently it won't fit into 0.6, as we've got plenty of stuff to do in 0.6 already.

[2020-06-05 18:13] wajda commented on #33
End of the year - I'd say very likely.
Or, of course if anybody from the community could help us with that it could be released earlier.

[2020-06-08 09:24] anujambekar opened #93 "Spark 3.0 support"
Spark 3.0 preview was released in December. Have you tested Spline with Spark 3.0? Are there any plans / roadmap for Spark 3.0 support?

Btw, this tool is really awesome! Kudos to all the great work!

[2020-06-09 07:09] DaimonPl commented on #93
Yep, tool is great especially after latest fixes :)

Spark 3 already has 3rd release candidate so final version is pretty soon http://apache-spark-developers-list.1001551.n3.nabble.com/vote-Apache-Spark-3-0-RC3-td29499.html

[2020-06-13 11:49] uday1409 opened #96 "Throwing runtime exception for delta commands"
##
Current spline is not supported for delta commands such as MergeInto, Update, Delete

##
I have added `io.delta` package with scope provided as databricks cluster by default has `io.delta` imported, and made changes to `WriteCommandExtractor.scala` file.

##
[code]
and added below code to commandsToBeImplemented just to see if it throws custom exception when run in Required mode.

[code]

##
Bu

[2020-06-13 18:08] wajda commented on #96
It means that `io.delta:delta-core` library isn't actually provided by your Spark environment. Check your Spark setup and make sure the `delta-core` is there, and the version is 0.3.0+

[2020-06-14 13:06] uday1409 commented on #96
Thats correct. I further debugged the issue and found that databricks does not provide all functionalities from io.delta , and has inhouse support for delta commands.

If I try to import io.delta into databricks , we cannot basically run any delta job as it fails with datasource instantiation error as 2 delta modules are imported now.

The command, MergeIntoCommandEdge is a native command provided

[2020-06-14 23:21] wajda commented on #96
That's why Spline agent is full of dirty reflection hacks :) We're living in wild water...

[2020-06-15 03:57] uday1409 commented on #96
Could you please share the graph model relationship and entity details. We will try to find a way to write Merge command directly to database and see if that works.

[2020-06-15 11:16] wajda commented on #96
You can find Swagger definition for the protocol on the `$SPLINE_SERVER_URL/docs/producer.html`

`WriteCommandExtractor` is the right place for adding new commands to.
Basically all you need is to return an instance of `WriteCommand` class, the most important  properties of which are `sourceIdentifier` and `query`.

`query` is a Spark logical plan that this write command represents. Every write co

[2020-06-18 07:51] DaimonPl commented on #93
Actually "final" 3.0.0 is already available on maven :)

https://mvnrepository.com/artifact/org.apache.spark/spark-core_2.12/3.0.0

[2020-06-18 07:54] DaimonPl opened #98 "Removing unnecessary parameters from JDBC URIs"
When spark is reading/writing with JDBC datasource spline reports its URI to lineage - that's greate because database and table are visible there

Unfortunately some non-datasource-identifing parameters are also added in that URI, for example:

`jdbc:mysql://host:3336/my_database?serverTimezone=Poland&useSSL=false&characterEncoding=utf8:my_table`

Not sure if there's generic way to remove such `se

[2020-06-18 08:03] DaimonPl opened #99 "JDBC dbtable query option support"
That's tricky one :) I've found one case where JDBC datasoruce is used for reading with `dbtable` option, where `dbtable` is a query :)

here's example what spline reports in such situation

[code]

It probably would be very difficult but ideally 2 lineage sources `some_table` and `other_table` could be reported here

[2020-06-18 09:09] wajda commented on #98
This is a known issue, I tried to explain it in #69

[2020-06-18 09:21] wajda commented on #99
Yeah... just like with the #69 the rabbit hole actually goes much deeper. `some_table` could easily be a view putting us in the same situation as with an inlined query, but this time we wouldn't even see the query.

[2020-06-19 08:02] DaimonPl commented on #93
https://spark.apache.org/releases/spark-release-3-0-0.html

[2020-06-19 12:52] DaimonPl opened #100 "Possibility to add datasource support"
Does spline agent allow to add custom spark datasource without modifying spark agent code?

Case when we'd like to add new datasource but it's rather custom so not really good to be added to spark agent itself

[2020-06-19 13:10] wajda commented on #100
Not at the moment. But it's a good point. We'll add in 0.6

[2020-06-25 15:39] ayanbizz opened #102 "Unable to run Spline in yarn cluster mode unable to access producer url"
I am getting the following error while trying to initialize spline in yarn cluster mode.
The  error is related to the producer url access.
I am able to run spline in deploy-mode = client , the issue is with cluster mode.
This is how I tried to run the spark-submit
**spark-submit --master yarn --deploy-mode cluster --queue sparkjobs --jars spark-2.3-spline-agent-bundle_2.11-0.5.3.jar --conf "spark.

[2020-06-26 07:16] jnshubham opened #101 "Spline 0.5.3 not working with aws glue"
I am trying to run glue job with the spline dependency but it is failing with this error, it seems there are multiple bindings which are causing the issue.

![image](https://user-images.githubusercontent.com/43238222/85830492-5107a400-b7aa-11ea-8996-755d57f15bf9.png)

Can you please provide a way or show me the correct way to implement lineage in glue jobs.

I am passing the conf parameters as

[c

[2020-06-26 07:27] cerveada commented on #101
Wrong Scala versions, probably. Try to google the exception >
https://stackoverflow.com/questions/56007488/exception-in-thread-main-java-lang-nosuchmethoderror-scala-predef-refarrayop

[2020-06-26 08:35] jnshubham commented on #101
The job works fine if I don't provide the admin jar.

So possibly a class is responsible for the conflict.

And we cannot control the versions of scala in glue, so if possible can this be fixed so that we can incorporate this with glue jobs also?

[2020-06-26 08:43] cerveada commented on #101
How do you provide the Spline jar? And which one exactly? Spline admin is only for initializing database if you want to capture lineage you have to use Spline agent.

[2020-06-26 09:03] wajda commented on #102
It looks more like _Scalaj-Http_ or _Hadoop_ issue, or a mix.
Look at this line:
[code]
A `FsUrlConnection` connection is used in place where `HttpUrlConnection` is expected.

[2020-06-26 09:10] jnshubham commented on #101
Thanks for quick reply..
My bad I was using the wrong jar but after using the spline agent jar My job succeded but still no lineage is generated so I checked the logs and found the error as spline agent is not able to connect.

And failed due to connection refused error.

I am running the rest server and web api on an EC2 instance and given the EC2 ip as the producer to the glue job.

If anyone ca

[2020-06-26 09:16] wajda commented on #102
A similar issue was reported in Spark - https://issues.apache.org/jira/browse/SPARK-25694

[2020-06-26 09:25] wajda commented on #102
The issue should be fixed in Spark 3.0.0, and supposedly also backported to Spark 2.4. (see https://github.com/apache/spark/pull/26530#issuecomment-630493684)

@ayanbizz
Can you try it with Spark 2.4?

[2020-06-26 09:48] cerveada commented on #101
This seems to be AWS issue. I never used glue, so I cannot help you with that. Make sure the producer url is correct and that the connection is not blocked by AWS firewall rules.

[2020-07-01 07:57] jnshubham commented on #101
Thanks a lot.
I resolved it as my VPC was blocking the traffic

[2020-07-01 07:57] #101 closed

[2020-07-02 11:39] bighanraj commented on #89
Hi Team,

can you please help me or re-direct me to the code that supports subquery.
As when we are using sub-query in spark SQL , it doesn't capture the input
datasets.

Thanks
Bighna Raj

[2020-07-02 12:10] wajda commented on #89
What do you mean by _sub-query_?
Spline reports everything that is in the Spark logical plan.
Can you give an example?

[2020-07-07 07:27] schaloner-kbc opened #104 "Pluggable handling of arbitrary relations"
At the moment, only hard-coded relations (XMLRelation, JDBCRelation, etc) are handled by the agent.

It would be nice to have support for a pluggble mechanism that allows arbitrary relations to be handled as an extension mechanism.

I've already made the changes, and will attach a pull request immediately.

[2020-07-12 12:41] deepaksekaranz opened #116 "Spark session issue in pyspark"
## Describe the bug
The simple pyspark file to write a dataframe to a file errors out with any version of spark other than 3.0

## Versions
Spline: 0.5
Spark: 2.4.0, 2.4.3, 2.4.6 (same error in every version)

[code]

[code]

[2020-07-21 09:54] mithun1979 opened #107 "Support for SaveAsTable and SQL (Azure Databricks)"
Hi,

I was testing out Spline (0.4). Its  a great tool. Thanks for sharing the tool.

It seems Spline 0.4 does not have support for SaveAsTable, or SQL Statements such as
INSERT OVERWRITE...., CREATE TABLE TAB1 USING DELTA LOCATION "/mnt/..." AS SELECT ....LOCATION, which are dependent
of schema catalog.

Just wanted to check if these features are available in any of the higher versions of Spline,

[2020-07-21 11:01] wajda commented on #107
What Spark version are you using?

[2020-07-21 11:05] wajda commented on #107
Most common SQL operations are supported (those that you mentioned should be). Please check https://github.com/AbsaOSS/spline-spark-agent README

[2020-07-21 11:37] mithun1979 commented on #107
Hi Wajda,
Thanks for the prompt response.
I am using Spark 2.4.5 in Azure Databricks,  along with Spline 0.4.2 (spark_agent_bundle_2_4_0_4_2.jar).
I will have a look at the link.

Just wanted the mention my observations thus far for reference.
For normal load and save operations, I am able to see the lineage. For instance, the following shows the lineage in the UI tool:

val rawdata = spark.sql("s

[2020-07-21 12:50] mithun1979 commented on #107
I upgraded the Spark fat jar  dependency to spark-2.4-spline-agent-bundle_2.11-0.5.3, as per the documentation in the link. Its seems that the behavior is still the same, as mentioned above.
I am still using the 0.4.2 versions for the rest service war and ui war files in this test.

Thanks and Regards
Saurav Chakraborty

[2020-07-21 13:31] wajda commented on #107
Isn't it the same as #40?

[2020-07-21 17:21] mithun1979 commented on #107
Yes. Seems to be the same. Thanks for reference.
Regards
Saurav Chakraborty

[2020-07-23 13:35] wajda opened #108 "Plugin API to support 3rd party connectors, relations etc."

[2020-07-23 13:38] #104 closed

[2020-07-23 14:08] wajda commented on #100
will be implemented in #108

[2020-07-23 14:08] #100 closed

[2020-07-30 12:06] cerveada commented on #107
Hi @mithun1979 I just tested both examples from you (a and b) and both seems to be working fine. Could you make sure you are using the latest Agent version (0.5.3) and test again?

[2020-07-30 13:18] mithun1979 commented on #107
Hi @cerveada ,
Thanks for the update. I will test and confirm.
Thanks and Regards
Saurav Chakraborty

[2020-07-30 13:40] #92 closed

[2020-07-30 13:40] #38 closed

[2020-07-31 07:40] mithun1979 commented on #107
Hi @cerveada ,

I tested with the latest version of the agent jar downloaded from - https://search.maven.org/search?q=a:spark-2.4-spline-agent-bundle_2.11.
It seems I am still getting the same issue. Should I refer to some other location.

PS: I am still using 0.4.2 versions for the rest service war and ui war files in this test.
Thanks and Regards
Saurav Chakraborty

[2020-07-31 08:43] cerveada commented on #107
This is strange. I have Scala 2.11 Spark 2.4.5 and Delta 0.3.0 (and also tested with 0.6.1) and it works.
Which version of delta do you have?

[2020-07-31 12:13] mithun1979 commented on #107
I am using Delta Lake 0.5.0 on Databricks Runtime 6.5 ( Spark 2.4.5, Scala 2.11).

Thanks and Regards
Saurav Chakraborty

[2020-07-31 12:21] mithun1979 commented on #107
I

[2020-07-31 12:29] mithun1979 commented on #107
I will try on a lower version of Databricks runtime and provide an update.

Thanks and Regards
Saurav Chakraborty

[2020-07-31 13:21] wajda commented on #104
@schaloner-kbc
Hi Steve, we've introduced a new Plugin API that is intended to make handling 3rd party relations even easier. Could you please check if it works for your case? See [README#plugins](/AbsaOSS/spline-spark-agent/blob/release/0.5/README.md#plugins)

[2020-07-31 13:55] cerveada commented on #107
I tried Delta 0.5.0 and still works.

- Do you have any errors or warnings in log of agent or spline gateway?
- You could try to update gateway and UI to the latest version as well. (It should work with gateway 0.4, but to be sure error is not there)
- Could you provide a runnable piece of code that is failing for you? Best would be with some dummy data.

[2020-07-31 14:57] mithun1979 commented on #107
Ok...Thanks. I will get back with updates.
Regards
Saurav Chakraborty

[2020-08-01 19:07] mithun1979 commented on #107
Please find the sample code I tried below. with inline comments.

import org.apache.spark.sql.types._

case class Employee(id: Int, name: String)
val (emp1,emp2) = (Employee(1,"Harry"),Employee(2,"Ron"))
val empList = Seq(emp1, emp2)
//Creating sample dataframe
val dfEmp = empList.toDF()

/*Scenario 1: Writing Dataframe to delta path
Result: Successfully shows up in Spline UI.
*/
dfEmp.write.forma

[2020-08-01 19:54] mithun1979 commented on #107
I don't see any errors in Spark Driver Logs. Noticed in the gateway Tomcat access logs, for scenario one mentioned above, entries in the following format get registered:
"POST /rest-gateway-0.4.2/producer/execution-plans HTTP/1.1" 201 49
"POST /rest-gateway-0.4.2/producer/execution-events HTTP/1.1" 201 -

However, for scenario 2 and scenario 3, there are no such entries.

[2020-08-01 20:01] mithun1979 commented on #107
I will test with the updated UI and Gateway versions and provide further updates.

[2020-08-03 11:27] cerveada commented on #107
Yes, these two POSTs should appear for each lineage captured. That's the agent sending lineage data to gateway.

[2020-08-03 11:33] cerveada commented on #107
The only remaining difference seems to be that you run Databricks Spark On Azure. I run the spark only locally. I will try to test it on Azure.

[2020-08-03 11:41] cerveada commented on #107
If you could test the same code locally instead of on Azure, that would also help us to narrow down the issue.

[2020-08-03 18:39] mithun1979 commented on #107
Ok..Thanks. Currently, I am not using a local version of Spark. I will  setup, test and provide an update.

[2020-08-05 04:40] mithun1979 commented on #107
Hi @cerveada ,

Would it be ok if  I  try to set up a databricks workspace with relevant dependencies on Azure and add you as a user.
That way, we we can have a look at the same compute engine.

Thanks and Regards
Saurav Chakraborty

[2020-08-05 07:54] cerveada commented on #107
Yes that would be great, I'm not sure what you need to add me, but this is my account on azure: Adam.Cervenka@absa.africa

I requested access to databricks on Azure, but it takes some time to set it up, so I haven't test anything yet.

[2020-08-05 11:26] mithun1979 commented on #107
Ok....Great. I have tried to add you as a guest user. You might have received an email on Adam.Cervenka@absa.africa for registering. Once you have registered, I can add you to Databricks account.

Thanks and Regards
Saurav Chakraborty

[2020-08-05 11:56] cerveada commented on #107
I am registered.

[2020-08-05 13:37] mithun1979 commented on #107
Ok..Thanks for the confirmation. I have added you in Databricks.  Could you please try accessing the notebook URL to confirm the connectivity.
Kindly let me know in case you have any issues.

Thanks and Regards
Saurav Chakraborty

[2020-08-05 15:12] cerveada commented on #107
I'm able to access the notebook, I found the logs and there are few logs from Spline, but not many. Could we configure the logger to log everything under `za.co.absa.spline` using TRACE? That would give as much more information. It will be also good to log more than just the class name, so we can easily find logs for spline.

Spline is using the same logging as Spark. So the configuration should b

[2020-08-05 16:01] mithun1979 commented on #107
Ok...I will configure the log4j for the driver and confirm.

Thanks and Regards
Saurav Chakraborty

[2020-08-05 19:23] mithun1979 commented on #107
I have configured the logging.Please find attached the log for reference.
[stdout.spline.txt](https://github.com/AbsaOSS/spline-spark-agent/files/5030734/stdout.spline.txt)

[2020-08-05 20:37] wajda commented on #107
`class com.databricks.sql.transaction.tahoe.commands.CreateDeltaTableCommand was not recognized as a write-command`
Looks like a cause.

[2020-08-06 08:22] cerveada commented on #107
It seems to be some close source code. Closest one I found is `org.apache.spark.sql.delta.commands.CreateDeltaTableCommand` I'm not sure why that one is not used.

Anyway I will prepare an agent package that will log more info about that command. That should help us to extract the lineage. It's not ideal, but It looks like we have any other option.

[2020-08-06 09:36] sreeraaman opened #111 "Spline not tracking lineage for destinations that are prefixed with protocols"
Hi,

I have a dataframe. I do some aggregations and write it out to Azure ADLS Gen2. See code below.

import org.apache.spark.sql.functions._
val aggregate = df.groupBy("YEAR_ID").agg(sum("SALES").as("YTD"))
aggregate.write.format("parquet").mode("append").save("abfss://xx@yy.dfs.core.windows.net/enriched/SalesAggregate")

However, if I have a mount point created and save using the following comma

[2020-08-06 09:42] cerveada commented on #111
Hello,
could you please set logger to log everything under za.co.absa.spline using TRACE and send as the log?

[2020-08-06 10:01] sreeraaman commented on #111
All,
Sorry for the confusion. I had forgotten to set the producer url via spark conf / system property.  It is working now. Sorry for the confusion.
Thanks

[2020-08-06 10:51] wajda commented on #107
Just an idea - we could add an option to an agent that would enable automatic reflective inspection of selected commands (or all unrecognized commands), and dump that info to a disk (later maybe even to the server). That package could then be used to easily implement a corresponding plugin. That way adding support for proprietary environments would be greatly simplified.

[2020-08-06 11:07] #111 closed

[2020-08-07 13:10] cerveada commented on #107
@mithun1979 I found out it's not that easy to get that debug log for generic object, but it seems to be mostly working now. If you can try to use the jar in this message, it should log more info about the data source.

I have to zip it because github doesn't allow me to upload jars here.
[spark-2.4-spline-agent-bundle_2.11-0.6.0-SNAPSHOT.jar.zip](https://github.com/AbsaOSS/spline-spark-agent/files

[2020-08-07 13:41] mithun1979 commented on #107
Ok..Thanks. I will try out and provide and update.

Thanks and Regards
Saurav Chakraborty

[2020-08-07 14:09] mithun1979 commented on #107
Please find attached the updated logs after using the latest jar.
[stdout.spline.txt](https://github.com/AbsaOSS/spline-spark-agent/files/5041855/stdout.spline.txt)

Thanks and Regards
Saurav Chakraborty

[2020-08-07 15:41] cerveada commented on #107
That looks like it could be enough. I will go trough it in more detail on Monday and I will try to implement the extractor.

[2020-08-11 12:56] cerveada commented on #107
Please try this new version. It should hopefully recognize the write.

[spark-2.4-spline-agent-bundle_2.11-0.6.0-SNAPSHOT.jar.zip](https://github.com/AbsaOSS/spline-spark-agent/files/5057062/spark-2.4-spline-agent-bundle_2.11-0.6.0-SNAPSHOT.jar.zip)

[2020-08-11 15:33] mithun1979 commented on #107
Ok..Thanks. I will try and provide an update.

Thanks and Regards
Saurav Chakraborty

[2020-08-12 07:34] mithun1979 commented on #107
Works Great. I am able to see the lineage now. Thanks a ton for your help. Including screenshot for reference.
[
![Screenshot](https://user-images.githubusercontent.com/1445286/89987822-46db2f80-dc9c-11ea-8a47-b71bc97edc8d.png)
](url)

Thanks and Regards
Saurav Chakraborty

[2020-08-12 07:58] cerveada commented on #107
That's great! Would you mind also checking the read source in the lineage? We would like to be able to process both read and write using the DataBricks delta. It should have correct url and DatasourceType.

[2020-08-12 09:41] mithun1979 commented on #107
Sure...Here is the Lineage with source for Scenario 2 with saveAsTable, where we are reading from dataframe and writing to delta.

![SaveAsTable](https://user-images.githubusercontent.com/1445286/90000642-0edce800-dcae-11ea-81ac-3c4c7367cec1.png)

[2020-08-12 09:43] mithun1979 commented on #107
Here is the Lineage with source for Scenario 3 with CREATE TABLE AS , where we are reading from delta table and creating
another delta table.

![Create Table](https://user-images.githubusercontent.com/1445286/90000832-464b9480-dcae-11ea-8545-efb853c5b9ed.png)

[2020-08-12 12:47] cerveada commented on #107
That seems to be correct. Thanks for your help with this issue. The fix will be part of the next release. Let us know if you found any other issues.

[2020-08-12 15:09] mithun1979 commented on #107
Sure. Thanks for your cooperation.

Thanks and Regards
Saurav Chakraborty

[2020-08-12 15:23] mithun1979 commented on #107
Just to be on the same page, Should I close this issue or would  you want to keep this open for tracking/reference for the next release.
Thanks and Regards
Saurav Chakraborty

[2020-08-12 15:36] cerveada commented on #107
Let's keep it open. Thanks

[2020-08-12 17:45] mithun1979 commented on #107
Ok..Thanks!
Regards
Saurav Chakraborty

[2020-08-17 10:11] mithun1979 commented on #107
Just had an additional query.
Are there any plans to support Spark 3, Scala 2.12 in near future.

Thanks and Regards
Saurav Chakraborty

[2020-08-17 10:43] cerveada commented on #107
Scala 2.12 is supported already. Spark 3 support is planned, but I don't know when it will happen. Problem is mostly libraries incompatibilities.

[2020-08-17 14:47] mithun1979 commented on #107
Ok....Thanks!
Regards
Saurav Chakraborty

[2020-08-17 14:54] wajda opened #113 "java.lang.ClassNotFoundException: scala.reflect.io.JavaToolsPlatformArchive"
On behalf of @lokm01

spline 0.5.3
AdoptOpenJDK 8 [1.8.0_222]
2.11.12 / 2.12? -- **TBD**

[code]

POM

[code]

[2020-08-17 15:02] cerveada opened #114 "Log unrecongized opearation structure"
When dealing with closed source code it may be difficult to simulate some data sources locally. For this logging the operation object structure will be helpful.

[2020-08-18 12:16] lokm01 commented on #113
I think we can close this one. These errors were weird and dependent on the specific scala version used.

Probably some sort of binary incompatibilities due to two scala depedencies on the classpath.

[2020-08-18 12:17] #113 closed

[2020-08-19 08:45] ben050228 opened #117 "Pyspark write parquet python worker cannot connect back in time"
Hi there,

I have a dataframe generated from pyspark.sql.SparkSession locally. When I tried to save it as parquet format using the following code:

from pyspark.sql import SparkSession
spark = SparkSession.builder.getorCreate()

orig_dat = spark.read.parquet("my_orig_dat")
mydata = myfun(orig_dat)
mydata.write.mode('overwrite').parquet("file:///mypath/master")

The myfun is the pyspark code that I

[2020-08-19 08:45] #117 closed

[2020-08-19 08:48] bgopal-nlg opened #118 "Spline is not initialized properly!"
Spline is not initialized properly!

Using Python version 3.7.4 (default, Aug  9 2019 18:34:13)
SparkSession available as 'spark'.
[code]

[2020-08-19 08:48] #118 closed

[2020-08-19 08:48] bgopal-nlg opened #119 "Spline Spark Agent dependacy setup"
Installed pyspark 2.4 in windows 10 - executed the spline spark agent  dependency which is throwing an error.
Copied spark-agent-bundle-2.4-0.4.1.jar into  C:\SPARK\spark-2.4.4-bin-hadoop2.7\jars folder.
executed `pyspark ----packages "za.co.absa.spline.agent.spark:agent-core:0.4.1"`
throwing error as below..
[code]

[2020-08-19 08:48] #119 closed

[2020-08-19 08:52] #120 closed

[2020-08-19 09:09] wajda commented on #116
AFAIK there is no Spark 2.3 compiled against Scala 2.12. Hence there is no Spline agent for Spark 2.3 + Scala 2.12 combination.
Please make sure you use correct binaries.

[2020-08-19 17:00] pratapmmmec opened #123 "Explicitly capturing lineage for provided SQL"
## Background
Our workloads are mix of Spark and Hive. Spline is great in capturing Spark lineage but end lineage breaks the moment we have a Hive job (SQL).

## Question
Is there a way to provide an API which accepts SQL ("Spark compatible") in spark-agent or even an end point in rest-gateway and harvests and capture lineage out of that SQL. I do understand that it will require an explicit call b

[2020-08-19 18:19] wajda commented on #123
A short answer is yes, although not super easy but doable.
But before going into capturing a custom lineage let me ask you what Hive SQL are you executing that isn't captured automatically? Spline agent is supposed to support Hive queries out of the box.

[2020-08-20 08:41] pratapmmmec commented on #123
We have Hive on Tez. I am not sure if spline can capture lineage for such workloads. If we have some plugin etc, I would be happy to explore or take that route.

[2020-08-20 10:46] cerveada commented on #123
Could you please configure the logger to log everything under za.co.absa.spline using TRACE and send us the log?

If the lineage wasn't captured but an event was trigged by Spark it should appear in the log.

[2020-08-20 17:11] #114 closed

[2020-08-20 17:11] #107 closed

[2020-08-20 17:11] #64 closed

[2020-08-20 17:11] #31 closed

[2020-08-20 17:11] #30 closed

[2020-08-20 17:11] #108 closed

[2020-08-27 13:20] ASchwad opened #124 "Question: Further Documentation for agent"
Is there some documentation upon the data model in Arango DB and the internals of the agent?

I am curious about your design decisions and requirements for the existing backend model. According to the spline paper, there is a mongoDB running under the hood, which seems a bit confusing.
I am asking, because we are thinking about connecting the agent to AWS Neptune. I could also imagine, that having

[2020-09-02 10:04] wajda commented on #124
Hi @ASchwad,
Yes, you are right. We need to write some more detailed developer oriented doc eventually. We'll try to do it as soon as we complete our a few outstanding big features (like attribute level end-to-end lineage or streaming support) that might have a severe impact on the Spline internals. When our design decisions are proved to be sufficient to accommodate those requirements we'll consi

[2020-09-02 14:15] pratapmmmec commented on #123
May be I wasn't clear in first place. When I say Hive SQL, they run via Hive on Tez and not via spark-submit & nor Hive on Spark which means that we don't have any spark session. Its purely a hive process and not spark.

That's why I was checking if we have a way to capture lineage explicitly for SQLs which are Spark or Hive compatible.

[2020-09-02 14:43] wajda commented on #123
Ah, Ok, that makes sense. Spline has a so called _Producer REST API_ which is used to record lineage data. It's used by Spline Spark Agent, but it's designed to be generic. You can call this API to record Hive lineage manually, or you may develop a specific Hive Agent to do it in a similar way Spark Agent does it.
https://opensource.bigusdatus.com/spline/rest/docs/producer.html

Basically you need

[2020-09-07 14:32] ASchwad commented on #124
Hi @wajda
thanks a lot for your elaborate answer! I will reach out, if there are further and more specific questions.

[2020-09-10 03:33] hugeshi commented on #125
what's the priority of this issue, what's the timeline for 0.5.5 version?

[2020-09-10 07:21] wajda commented on #125
We should be able to get to it on Monday. We still have yet to understand the impact of this issue on the rest of the system. `0.5.5` is planned to be released by the end of the next week. If this fix can't make it to `0.5.5` it'll go to the next possible release.

[2020-09-14 14:59] cerveada commented on #125
I found the cause of the issue. Spark's `AttributeReference` has attribute `qualifier: Seq[String]`. This attribute is empty, but not always and for example when I create tempView to access dataframe from spark sql the qualifier will contain the name of the view. It's still the same attribute with same id, but when it's taken from the view the qualifier is different. As a consequence the hashcode

[2020-09-17 10:48] cerveada commented on #125
Hello @hugeshi,
Fix to the issue is already in [release/0.5 branch](https://github.com/AbsaOSS/spline-spark-agent/tree/release/0.5). Could you test the agent form there and let us know if it solves the issue?

[2020-09-23 03:22] uday1409 opened #128 "Facing issues with spline 2.12"
## Describe the bug
Lineage is not captured and throwing error that spark context is stopped. below is the error. Can  you please help me where it is going wrong

[code]

## Versions
2.12

[2020-09-23 08:45] uday1409 commented on #128
We are using as bundle and trying to run it on Spark3.0. I suspected that it could be because of package incompatibility, and even tried with newer version of json4s but it did not work.

[2020-09-23 09:15] wajda commented on #128
Yes, Spark 3.0 isn't supported yet, partially due to some libraries incompatibilities like this one.
We have tickets for that:
- #93
- AbsaOSS/commons#27

[2020-09-23 09:16] #128 closed

[2020-09-23 16:27] wajda commented on #125
I'm counting it to be fixed and releasing 0.5.5.

[2020-09-23 16:40] #125 closed

[2020-09-30 15:17] wajda commented on #93
_Originally posted by @uday1409 in https://github.com/AbsaOSS/commons/issues/27#issuecomment-699745535_

[2020-09-30 15:32] wajda commented on #93
Regarding points No. 1 and 2, Commons 0.0.16 should support multiple json4s versions automatically, sp no profiles are needed.

Re point No. 3 - Kafka is an optional dependency, only used by `KafkaPlugin` and tests, so can be disabled to proceed with the rest remaining testing.
If `kafka-sql` 2.4 and 3.0 APIs are incompatible we could try solve it by invoking that API reflectively, or by using sep

[2020-10-02 23:12] wajda opened #130 "get rid of expanded field name literals"
this
[code]
should be just `inputStreamProvider`.

Related to #AbsaOSS/Commons#8

[2020-10-06 17:46] jcnorman48 opened #132 "Capturing Lineage when Data is not Written"
I have a question on capturing lineage for operations that are not Written, but reads are still performed.

Take for example this code:
`result = spark.sql("select * from hive.table limit 1").collect()`

Has a materialized dataframe, which could be used to parameterize subsequent queries, or produce reports or datasets that may be written to resources outside spark, but I don't believe lineage is

[2020-10-06 21:25] wajda commented on #132
Hi @jcnorman48, thanks for a good question.
I honestly tried to answer it in a few words, but failed to do so :)
The problem you've described looks a bit like an _XY-problem_ to me.

Well, the topic can be approached from different sides. The answer to you question depends on what you are trying to capture - the _data lineage_ or the _execution plan_ of the job. Technically speaking you can captur

[2020-10-12 16:22] liangjun-jiang opened #134 "SplineQueryExecutionListener JsonMappingException: No content to map due to end-of-input"
I am seeing the following exception while running with spark-2.4-spline-agent-bundle_2.12:0.5.5, even though I am seeing the produced json correctly in my endpoint.

It looks like a serialization issue from Spline model to JSON within spline agent?

[code]

This is the spark -submit job I used
[code]
Also this is [the sample app ja](https://github.com/liangjun-jiang/distributed-tracing-in-datahub-

[2020-10-14 15:20] wajda opened #135 "Computation of log messages shouldn't occur unless the respected logging level is enabled"
E.g. `ObjectStructureDumper` is kicked even though TRACE level is disabled.

Also check other logging statements.

[2020-10-14 15:31] cerveada commented on #135
Maybe, we could use this: https://github.com/lightbend/scala-logging

[2020-10-14 18:35] wajda opened #136 "Swallowed NPE in the integration tests"
[code]

[2020-10-14 18:48] wajda opened #137 "ObjectStructureDumper should ignore fields of type `Class`"
Exclude the following fields from serialization:
- fields of type of `Class[_]`
- transient fields

[2020-10-14 18:53] wajda opened #138 "Excel Plugin: illegal cyclic reference involving object InterfaceAudience"
Thrown from the `ExcelSpec`:

[code]

[2020-10-15 08:21] wajda commented on #135
I was thinking about [slf4s](http://slf4s.org/) that we already have in the classpath. At the first glance both libs look identical to me. Is there any substantial difference?

[2020-10-15 08:38] wajda commented on #134
Do I understand it correctly that regardless the error the lineage data is still captured and reaches your endpoint?
There has to be two documents produced per job run - an _execution plan_ and an _execution event_

[2020-10-15 08:52] wajda commented on #138
The error occurs when trying to extract `file` field from the `org.apache.hadoop.fs.ChecksumFileSystem$FSDataBoundedInputStream`

[2020-10-15 09:13] wajda commented on #138
Similar issues are posted by other people:
- https://stackoverflow.com/questions/38983923/illegal-cyclic-reference-involving-object-interfaceaudience-when-using-scala-2
- https://blog.csdn.net/sinat_35045195/article/details/81667979

[2020-10-15 11:08] wajda commented on #138
Filed a Scala bug - scala/bug#12190

[2020-10-15 11:33] cerveada commented on #135
Not sure but scala-logging's repo seems to be more active slf4s seems to be dead (last commit was in 2017), but there is a fork timo-schmid/slf4s.

[2020-10-15 11:44] wajda commented on #138
Placed a workaround in AbsaOSS/commons#39

[2020-10-19 17:27] liangjun-jiang commented on #134
yes, I am still getting `execution plan`, even with the error information.
for the way I ran the sample project, I didn't receive anything on `execution-events` endpoints.

[2020-10-19 17:59] liangjun-jiang opened #140 "Capture SparkSession.config"
This is a feature request.
In our Spark application, we use SparkSession's config feature to add custom metadata fields.
For example, we define
[code]
In Spline agent, we want those custom metadata, `("application_owner", "johnDoe")` and `("code_repo", "https://https://github.com/AbsaOSS/spline-spark-agent")` to be tracked in the `extraInfo` of Spline, as such

[code]

[2020-10-19 18:02] wajda commented on #134
Looking at the [QueryExecutionEventHandler.scala:46](https://github.com/AbsaOSS/spline-spark-agent/blob/develop/core/src/main/scala/za/co/absa/spline/harvester/QueryExecutionEventHandler.scala#L46) I see nothing special but just parsing a a string as _JSON string_ (which is essentially just unquoting).
[code]
Can you debug it and see what value does the `idAsJson` variable contain?

[2020-10-21 04:31] liangjun-jiang opened #142 "Question about documentation: Use spline in your application"
I am reading the documentation: https://absaoss.github.io/spline/
The portion of `Use Spline in your application`, the documentation says

I could understand the `spline.properties file in the classpath`, but what do I need to do with `Hadoop config (core-site.xml)` and `JVM system properties`? how and what and why do I need to set them?

Thanks

[2020-10-21 07:32] cerveada commented on #142
Spline is searching for the properties in all these sources. This is to make your life easier. You just need to set the properties once in any source that is most convenient for you.

So if you specify the properties in `spline.properties file in the classpath`. You don't need to do it anywhere else.

[2020-10-21 08:43] wajda commented on #142
A little clarification - it only concerns the Spline settings, how they are resolved. It doesn't affect Spark or anything else in any way.
Also mind the precedence. The values set in Hadoop config have the highest precedence while `spline.properties` has the lowest one.

[2020-10-21 08:48] nevi-me opened #143 "Guidance on Atlas Integration"
Hi, I understand the reasons why Spline 0.5 doesn't support Atlas, so I'm not asking about that.

We are trying out an Atlas implementation, and as part of that, we've found ourselves with no good source for lineage.
I understand that the Spline Spark agent communicates with Spline via API, so we're thinking of hooking into that in order to send lineage data to Atlas instead.

Is there guidance on

[2020-10-21 10:39] wajda commented on #143
Plugin API is for extending/customizing the lineage harvesting from the Spark execution plan. If you only need to send your lineage data to another endpoint the easiest way is to create your own implementation of the `LineageDispatcher` interface and register it via `spline.lineage_dispatcher.className` config property.

E.g.
[code]

Then register it in the config property:
[code]

[2020-10-21 11:13] wajda opened #144 "LineageDispatcher: method `send(execPlan)` should return UUID"
For the sake of consistency `LineageDispatcher.send(plan: ExecutionPlan)` method should return the type of `ExecutionPlan.id` property. Currently it's expected to return a double-quoted string which is confusing.

[2020-10-21 13:55] nevi-me commented on #143
Thanks Alex, I'm currently going through the process, looks like it'll work with Kotlin.
I'm creating a stub that implements `LineageDispatcher` and returns errors on the `send()`s; so I can see what the output looks like

[2020-10-22 08:15] cerveada opened #145 "Build fails on systems with Java 11"
Bug in scalatest-maven-plugin is causing problems on systems with Java 11. The plugin is not using the same Java as the rest of Maven build. This is causing issues when the build is run with Java 8, but the system default is Java 11.

[2020-10-22 15:46] liangjun-jiang opened #147 "[Question] Working with Spring Boot Application"
Our spring boot application integrates with Spark feature, Can Spline agent work directly with a Spring Boot application in the codeless way?

[code]

[2020-10-22 18:53] wajda commented on #147
In a codeless mode Spline agent is initialized by Spark by instantiating a listener. Unless I'm missing something the Spring Boot should not interfere with this process. So yes, I think it should work in Spring boot.

[2020-10-23 18:55] liangjun-jiang commented on #147
I have setup a sample spring boot application. the codeless way does work. Thanks

[2020-10-23 18:58] #147 closed

[2020-10-28 15:45] #142 closed

[2020-10-28 15:54] liangjun-jiang opened #148 "generate DDL as part of Execution Plan"
not sure whether DDL is already included in the Execution Plan, from what I have experimented, I have not seen it.
From I read, the following commands are implemented, what would be the outcomes of those commands? I assume it should be some kind of DDL?
[code]

as
[code]

[2020-10-28 17:01] wajda commented on #148
The SQL syntax is translated into a Spark execution plan long before Spline kicks in. So what you get back is actual operations that Spark executed, not the original DSL. Unfortunately AFAIK there is no way to recreate the original DSL from the execution plan in Spark. Theoretically an equivalent DSL can be created, but that kind of functionality is not in the scope of Spline, and I doubt it will

[2020-10-28 20:25] liangjun-jiang commented on #148
Sure. So when Spline says it has implemented `CreateDataSourceTableAsSelectCommand` etc, what does it exactly mean?

[2020-10-29 09:39] wajda commented on #148
It means that the execution plan is captured from that command.

[2020-11-12 01:19] metametametameta opened #149 ".collect() call hangs indefinitely when spline lineage tracing is enabled"
## Describe the bug
Calling .collect() on a DataSet obtained using jdbc hangs indefinitely. Same code works just fine when Spline lineage is turned off. It also works fine on spline 0.5.3, but not on Spline 0.5.5

## Versions
Scala 2.11
Spark 2.4.6
Spline 0.5.5 (hang doesn't occur on Spline 0.5.3)

## Components State

- [x] ArangoDB running without errors
- [x] ArangoDB spline database initialize

[2020-11-12 11:03] wajda commented on #135
Just realized that the Spark logger that we are currently using is actually `slf4j` logger that supports lazy logging as well.

[2020-11-12 11:44] wajda commented on #149
@metametametameta Can you try to capture a thread dump to see how which class or method it's stuck in?

I have reasons to suspect `ObjectStructureDumper`. If so then the PR #150 should temporarily fix the issue when the TRACE level logging is disabled.

[2020-11-12 18:43] metametametameta commented on #149
Using REQUIRED
No Errors or warnings from Spline in the logs

[2020-11-12 18:46] metametametameta commented on #149
Here is the thread dump I see in jvisualvm (ObjectStructureDumper does seem to be involved as you suspect)

 `
   java.lang.Thread.State: RUNNABLE
        at java.util.Arrays.copyOf(Arrays.java:3332)
        at java.lang.AbstractStringBuilder.ensureCapacityInternal(AbstractStringBuilder.java:124)
        at java.lang.AbstractStringBuilder.append(AbstractStringBuilder.java:448)
        at java.lang

[2020-11-12 19:14] wajda commented on #149
`ObjectStructureDumper` is only used for collecting debug info and particularly reflecting the Spark execution plan. It should only kick in if the TRACE level logging in enabled. Version 0.5.5 had it always enabled. That issue was fixed in the latest `develop` branch (v.0.6). I'll also backport it to 0.5.
Again it's not fixing the original error in `ObjectStructureDumper`, but it keeps it disabled

[2020-11-12 20:11] metametametameta commented on #149
Great! Thank you.

[2020-11-12 20:14] wajda commented on #149
Actually, I've being too fast. Overseen something, the issue still persist in develop. Working on it, will be fixed soon.

[2020-11-12 20:46] wajda commented on #135
I've forgot that there is no pass-by reference in Java. and `Logger.trace(...)` arguments are still passed by value. So all SLF4J laziness boils down to a lazy `.toString()` call, nothing more. Instead `spark.Logging` extra methods should be called to achieve true laziness.

[2020-11-13 07:42] cerveada commented on #135
Yeah, I missed that too. Typically, in Java it would be done using lambda expressions.

[2020-11-13 14:44] wajda commented on #149
The above issue is fixed in the agent v0.5.6.
It's just released, so might take a few hours until it appears in the maven central

[2020-11-13 14:44] #135 closed

[2020-11-13 23:55] metametametameta commented on #149
I verified the following in 0.5.6 agent (running against 0.5.5 spline rest server):

In log4j properties, with

log4j.logger.za.co.absa.spline.harvester=debug

no more hanging

With

log4j.logger.za.co.absa.spline.harvester=trace

continues to hang (as expected in 0.5.6)

So, basically, unless someone wants trace level in 0.5.6, the fix works. Thanks!

[2020-11-15 11:11] codejoyan opened #152 "Spline Initialization fails"
I am trying to enable lineage for one of the spark jobs but the initialization fails with the below error. Please help and let me know what I am missing?

**Error:**
[code]
The spline setup seems to be correct because I am able to see the spline dashboard
http://xx.xx.xxx.xxx:8080/client-web/app/dashboard

Below are the steps I did for enabling the lineage:
1. Added the pom dependency for spline a

[2020-11-15 16:14] wajda commented on #152
[code]
That's interesting. The class is a part of `agent-core.jar`, the same jar that contains the other `za.co.absa.spline.harvester.*` classes. So why wouldn't it find `DefaultIgnoredWriteDetectionStrategy` when it finds the others?
As I understand you are using Spline agent core as a dependency to build your own fat jar.
Do you apply any sort of class filtering, shading or class renaming in you

[2020-11-15 18:11] codejoyan commented on #152
Yes, I am building a fat jar. I do have filtering in the build process but I could not find any position to filter out these classes.
Also, as you said the aforementioned class is absent in the resultant fat jar. I am cross-checking if the build process is causing this. Thanks. Any other points I might be missing

$ jar tf XXXXXXXXX-1.0.20-SNAPSHOT-fat.jar|grep za.co.absa.spline.harvester.iwd
za/c

[2020-11-17 12:23] codejoyan commented on #152
This issue was due to few configurations in the build process. After removing these in the pom.xml the resultant jar had all the necessary class files and we were able to see the lineage generated.

<minimizeJar>true</minimizeJar>
<shadedArtifactAttached>true</shadedArtifactAttached>

[2020-11-17 12:23] #152 closed, assigned to nobody

[2020-11-19 05:17] shanebell commented on #93
Hi @wajda , I'd like to help progress this to get an official release of the Spline agent that supports Spark 3.

I’ve had a look through the "spark-3-support" branch. I made a few tweaks and managed to create a bundle jar that seems to work ok with a simple Spark 3 job (using PySpark).

But I need some guidance on where to go from here. Looking at the "bundle-2.x" directories there are a LOT of d

[2020-11-19 11:21] wajda commented on #93
Thank you Shane!
Those bundle poms are created semi-automatically by using the [jar-pommefizer](https://github.com/wajda/jars-pommefizer) tool against respective Spark's _/jars_ directory.
The main idea under those resultant fat jars' POMs is that we need to exclude all dependencies that are used by Spline core and are also available in the Spark runtime, so we don't create a classpath collision w

[2020-11-27 11:03] #145 closed

[2020-11-27 14:39] wajda opened #154 "Documentation: Add a configuration guide"
Explain the following:
- How to configure Spline Spark agent
- What properties are available for the `DefaultSplineConfigurer`
- How and when to use a custom configurer
- How to extend `LineageDispatcher` or how to decorate `HttpLineageDispatcher`
- How to capture extra user metadata
- anything else that might be relevant

[2020-11-27 14:39] wajda commented on #154
@Zejnilovic

[2020-12-08 20:15] azurele commented on #154
Hi, It would be great if the documentation could cover how to use Spline on Databricks too. Current documentation doesn't elaborate how to setup Spline with Databricks clusters, particularly Spline UI. Thanks!

[2020-12-08 21:25] wajda commented on #154
Noted. Thanks.

[2020-12-10 23:02] #88 closed

[2020-12-10 23:37] wajda opened #156 "More lineage dispatcher types"
In addition to the existing REST (sync) dispatcher, there is a demand for:
  - Async implementation (Kafka)
  - Offline implementation (HDFS)

~All dispatchers could be extracted to their own modules to avoid including unused dependencies to the bundle~ (for now only the Http and Kafka dispatchers require extra dependencies, where Kafka is considered a default production impl anyway, and the Http

[2020-12-10 23:52] wajda commented on #89
As the original question is resolved I'm closing the issue.

[2020-12-10 23:52] #89 closed

[2020-12-10 23:55] #102 closed

[2020-12-11 00:05] wajda opened #157 "AWS S3 data source URI versus Glue Data Catalog"
For the reference:
https://issues.apache.org/jira/browse/ATLAS-2760

[2020-12-11 00:57] #116 closed

[2020-12-11 00:58] #123 closed

[2020-12-11 00:59] #124 closed

[2020-12-11 01:09] #143 closed

[2020-12-11 01:10] #148 closed

[2020-12-11 01:21] wajda commented on #57
it was fixed in the scope of #35
The duration is sent as an execution event extra parameter `durationNs`

[2020-12-11 01:21] #57 closed

[2020-12-11 12:22] wajda opened #158 "REST Dispatcher: wrong Content-Type for v1.1 API"
Should be `application/vnd.absa.spline.producer.v1.1+json`

[2020-12-14 18:51] wajda opened #160 "Project home URL doesn't exist"
POM:
[code]

[2020-12-16 08:25] cerveada commented on #60
Solved by #61

[2020-12-29 22:08] wajda commented on #61
More changes are required, rel to AbsaOSS/spline#677

[2021-01-04 10:34] Venky-mca commented on #152
@codejoyan @wajda
I'm also getting the same issue in my fat jar I don't have DefaultIgnoredWriteDetectionStrategy. I only had IgnoredWriteDetectionStrategy

Please help me what to do

[2021-01-11 08:09] ASchwad commented on #69
Sounds like a good feature. #139 is merged by now, could you share some insights how to leverage the feature by adding an example to the docs?

[2021-01-11 08:33] cerveada commented on #69
This is a part of Spline 0.6 that is not released yet. We will create docs for it when it's ready.

But the usage is simple. An Example of custom filter is [DataSourceUriLineageFilter](https://github.com/AbsaOSS/spline-spark-agent/blob/develop/core/src/main/scala/za/co/absa/spline/harvester/postprocessing/DataSourceUriLineageFilter.scala). You can create custom filters the same way by extending Ab

[2021-01-11 09:15] ASchwad commented on #157
We use Spline with Glue and S3 the following way:

The [Glue Data Catalog](https://docs.aws.amazon.com/glue/latest/dg/populate-data-catalog.html) uses databases and tables as abstractions, where one database consists of n tables.
In S3, this relationship is displayed within the S3 bucket uri.

e.g. `S3://my-database/my-table/p_ingest_data=2020-09-25`
where `p_ingest_data=2020-09-25` is the partiti

[2021-01-11 10:54] wajda commented on #157
Thanks. Yes, that's a more generic data source identity problem that will be partially addressed in AbsaOSS/spline#689

[2021-01-12 08:51] ASchwad commented on #32
I will just drop this here for discussion / implementation notice:
Within an AWS Glue Job execution (Spark 2.4; Scala 2.11), the method `onSuccess` in `QueryExecutionEventHandler.scala` is called correctly, but if the execution fails `onFailure` is not called. I experience the same behaviour, when i try to run a PysparkShell locally. For testing this behaviour, I have inserted a log.info(...) for

[2021-01-12 11:05] ASchwad commented on #69
Please correct me if I am wrong: when I want to use the DataSourceUriLineageFilter, I should add the following line into the spline.default.properties, correct? (for testing purposes, even if 0.6 is not yet released)

`spline.postprocessing_filter.classNames=za.co.absa.spline.harvester.postprocessing.DataSourceUriLineageFilter`

[2021-01-12 12:53] cerveada commented on #69
That will work, but usually the properties are set externally, so you can change them without changing the jar

https://absaoss.github.io/spline/#properties

`spline.default.properties` are meant to be a fallback when the user does not set the property himself.

[2021-01-12 13:26] ASchwad commented on #32
https://github.com/apache/spark/pull/27904

This seems to explain the problem

[2021-01-12 14:32] cerveada commented on #32
Thanks for info. The first Spark version including this fix is `Spark 2.4.6`

[2021-01-12 15:11] wajda commented on #32
Wow, that's interesting. The PR is merged in Spark 2.4, but I kinda disagree with that.
`java.lang.Error` should normally never be caught, as it usually indicates a problem with the JVM itself (Like OOM, thread dead etc). Unless I misunderstand something Spark `QueryExecutionListener.onFailure()` is designed to deal with the _query execution failures_, not JVM failures. Also, the method signature

[2021-01-14 07:37] boje opened #162 "Add nootebook url from Databricks to custom API (build in Azure Function)"
On the Databricks cluster `za.co.absa.spline.agent.spark:spark-2.4-spline-agent-bundle_2.11:0.5.3` in installed with exclusions of org.json4s:json4s-ext_2.11:${json4s.version}
Cluster is running 6.4 (includes Apache Spark 2.4.5, Scala 2.11)

With the code below, nothing happens and no errors. If `spline.mode` is set to `REQUIRED` then a error in showed then initialise spark.enableLinegeaTracking()

[2021-01-14 07:49] boje commented on #111
@cerveada what maven you have installed and your system.property. I have hard time getting this to working to a custom rest server from Databricks.

[2021-01-14 09:07] cerveada commented on #162
There is a check for `HEAD producer/status` that is trying to make sure the gateway is alive. You will have to add this to your API.

You can see the 0.5 producer API here:
https://github.com/AbsaOSS/spline/tree/release/0.5/producer-rest-core/src/main/scala/za/co/absa/spline/producer/rest/controller

[2021-01-14 09:54] wajda commented on #111
[code]

[2021-01-14 19:51] boje commented on #162
Thanks.. It is working now with spark-2.4-spline-agent-bundle_2.11:0.5.3.
The core issue from my situation, is that the API need to revice PUT request-

[2021-01-14 19:51] #162 closed, assigned to nobody

[2021-01-26 10:44] wajda commented on #61
fixed in #164

[2021-01-26 12:00] wajda commented on #32
I'd suggest that we make the failed execution handling configurable, e.g.:
[code]
Basically we could use an approach similar to [NonFatalQueryExecutionListenerAdapter](https://github.com/AbsaOSS/commons/blob/abf9a75a15e4ced49df9153a9fd72259a04dbf64/src/main/scala/za/co/absa/commons/spark/NonFatalQueryExecutionListenerAdapter.scala) to handle _fatal_ and _non-fatal_ events separately.

[2021-01-26 12:20] wajda opened #165 "Spline config to support more dispatcher types"
To accommodate for multi-dispatcher setups, we need to change the Spline config schema such that different dispatchers' properties are defined in their own namespace and do not collide with others.

Example:
[code]

[2021-01-26 12:24] wajda opened #166 "Kafka lineage dispatcher"
Lineage info to be optionally sent over the Kafka.
Execution plans and events to be sent in different topics.

Config example:
[code]

[2021-01-27 10:15] cerveada commented on #144
Type of `ExecutionPlan.id` is `Option[UUID]`, but the send method should return just`UUID`, right?

[2021-01-27 11:47] cerveada commented on #144
Yes

[2021-01-27 21:39] wajda commented on #165
Tip: Apache Configuration utils might come in handy for dealing with property namespaces.

[code]

[2021-02-04 23:34] wajda commented on #165
Looks like something is wrong with 05 config adapter.
Getting this exception when running examples with all defaults (that are set in old config - see `examples/run-example.xml`).
[code]

[2021-02-05 14:40] wajda opened #169 "Declarative way for adding user extra metadata"
Related to AbsaOSS/spline#737 and extending #35

The idea is to create a mechanism through which users could declaratively control what additional info should be captured (or setting constant values like tags etc) under the `extra` property of the execution plan and the execution event.
This should be achievable (in majority simple cases) without any code change, purely via the configuration.

Ima

[2021-02-05 14:45] wajda commented on #140
Closing in favor of #169
See https://github.com/AbsaOSS/spline-spark-agent/pull/141#issuecomment-774074920

[2021-02-05 14:45] #140 closed

[2021-02-16 21:15] wajda opened #172 "Composite lineage dispatcher"
Create a `LineageDispatcher` implementation that delegate the lineage data to one or more other dispatchers.

[2021-02-16 21:15] wajda commented on #172
@Zejnilovic @benedeki

[2021-02-17 12:56] wajda opened #174 "HDFS lineage dumper"
A port of https://github.com/AbsaOSS/spline/tree/release/0.3.9/persistence/hdfs/src/main/scala/za/co/absa/spline/persistence/hdfs

A lineage dispatcher implementation that simply offloads the lineage data into an HDFS. The location of the lineage file is relative to the target data file.

Only HDFS writes to be supported by this dispatcher.

[2021-02-17 12:56] wajda commented on #174
@benedeki @Zejnilovic @aaishaosman

[2021-02-17 13:43] lokm01 commented on #174
@dk1844 think we can contribute S3 support for this dispatcher?

[2021-02-17 15:08] wajda commented on #174
Sure, please go ahead.

[2021-02-18 00:00] wajda commented on #174
Done.
Please note that this implementation is basically just a port of the aforementioned impl from Spline 0.3.9 that is being used in Enceladus at the moment. It is by no means a generic implementation, is based on a number of assumptions about a particular use case (i.e. data is written to HDFS, no concurrent writes. no appends supported).

[2021-02-18 08:15] lokm01 commented on #93
Hey all, has there been any progress from the community on testing with spark 3 & scala 2.12?

[2021-02-19 00:45] #165 closed, assigned to cerveada

[2021-02-19 00:45] #61 closed

[2021-02-19 00:47] #158 closed, assigned to wajda

[2021-02-19 00:47] #130 closed

[2021-02-19 00:47] #144 closed

[2021-02-19 00:48] #174 closed, assigned to nobody

[2021-02-19 00:48] #172 closed, assigned to wajda

[2021-02-23 17:12] wajda opened #177 "Console and Logging Lineage Dispatchers"
Because why not...

Makes it easy to experiment / debug / investigate some agent issues without having to worry about Spline Producer endpoints.
It might also serve as another way of taking the lineage data out of the agent into whatever application or process that one might need to.

  - `ConsoleLineageDispatcher` writes lineage data into the standard output or standard error, according to the `s

[2021-03-04 00:46] wajda commented on #33
It didn't make it to 0.6. It doesn't seem to be a priority so far...

[2021-03-04 00:55] wajda opened #181 "UDF lineage?"
To be investigated.

_Originally posted by @vidma in https://github.com/AbsaOSS/spline/issues/114#issuecomment-705439880_

[2021-03-16 18:04] elisabetao opened #185 "java.lang.RuntimeException: missing OpenAPI input! when tryin to build the package"
Hi,

When trying to build the agent  I am hitting the following error:
[code]
Anyone has encountered this/has any ideas?

Thanks a lot

[2021-03-17 12:35] wajda commented on #185
That apparently is a Windows related issue, we're investigating.
We run builds primarily on Linux or MacOS, there we never had such issue.

[2021-03-17 14:43] wajda commented on #185
fyi @oleksandr-korchak

[2021-03-17 14:47] wajda opened #187 "POM: Enable Examples docker image publishing on the docker hub"
See #183

[2021-03-17 15:04] cerveada commented on #185
This is caused by swagger-codegen bug:
https://github.com/swagger-api/swagger-codegen/issues/10844

We will fix it by downgrading to version 3.0.21 where the bug is not present for now.

[2021-03-17 15:06] #185 closed, assigned to nobody

[2021-03-19 15:03] #177 closed, assigned to wajda

[2021-03-19 15:04] #156 closed, assigned to nobody

[2021-03-23 08:27] Zejnilovic opened #188 "implicit SparkSessionWrapper is too general of a name"
There is an issue when imported together with Atum. Maybe we should rename it to SplineSparkSessionWrapper.

Current workaround is
[code]

Needs to be imported in the same level/scope

[2021-03-25 11:58] doraboughzela opened #190 "Unable to run examples"
Hello,

I am new to Spline. I was trying to run the example mentioned in the README file but I got this error:
[code]
Any help please :) !
DB

[2021-03-25 12:48] wajda commented on #190
There has to be more error messages in the logs, can you please post them here?

[2021-03-25 13:09] doraboughzela commented on #190
There is the Log:
[log_spline.txt](https://github.com/AbsaOSS/spline-spark-agent/files/6204834/log_spline.txt)

[2021-03-25 13:15] doraboughzela commented on #190
Here is my log file.  It was quite long for a comment 👍
[log_spline.txt](https://github.com/AbsaOSS/spline-spark-agent/files/6204880/log_spline.txt)

[2021-03-25 13:44] cerveada opened #191 "Spark 3.0.X DataSource V2 support"
DataSource V2 is API for data sources in Spark 3.0.
- Introduced in Spark 2.x but was not used much and was greatly refactored in Spark 3.0.
- Spark 3.0. still mainly uses the old API, but V2 is starting to be used on the background, notably by delta and cassandra
- It is expected to be used more and more in future
- it tries to unite all the data sources and keep the semantic same for every comma

[2021-03-25 14:49] wajda commented on #190
Seems like it's a Hadoop misconfiguration issue.
As you can see there are a bunch of the errors like this preceding the final error:
[code]
A quick googling gave me these links that might be helpful:
  - https://stackoverflow.com/questions/48010634/why-does-spark-application-fail-with-ioexception-null-entry-in-command-strin
  - https://www.javaer101.com/en/article/15756601.html

[2021-03-25 17:03] doraboughzela commented on #190
Thank you for your return. Indeed, it was a Hadoop misconfiguration issue.

Now it works fine howerver I am not able to capture the lineage. Nothing appears on the Spline UI.

Actually, I used the docker deployement. Do I need to specifiy something when running this cmd?
[code]

[2021-03-25 20:55] wajda commented on #190
When there are any problems during capturing lineage they all should appear in logs. Please examine them closer.
If you run examples using `mvn test -P examples` without any additional parameters then by default Spline agent is set to the `BEST_EFFORT` mode which literally means "try to capture lineage if you can, otherwise print a warning and carry on". It also assumes that Spline REST Gateway se

[2021-03-25 23:38] doraboughzela commented on #190
Indeed, I modified the spline.mode to REQUIRED and I was able to capture the lineage.  In the  Spline UI, when i access detailed lineage. I am not able to get informations about operations/transformations. Actually, I get this error when I click on an operation icon:

[code]
Thank you for your help.

[2021-03-26 00:56] doraboughzela commented on #190
Please another question because along with examples, I wanted to run pyspark code. I followed the instruction by running like this :
[code]
This is the code that I was trying to run with pyspark similar to the one in the python example:
[code]
The code executes with no error. However, no lineage is captured .

Any idea why ?

[2021-03-26 12:54] wajda commented on #190
Regarding UI error, please take a look at the server response body. When 500 happens the server should respond with a unique error ID. Use that ID to find the corresponding server side error (in the Spline Server logs). There you should be able to find more details.

[2021-03-26 12:58] wajda commented on #190
Regarding why the lineage is not captured. As I already explained above, there could be many reasons, and 99% of them should be reflected in logs. Use DEBUG, or even TRACE level to find even more details, but generally INFO level should give you sufficient amount of information.

[2021-03-26 13:00] wajda commented on #190
[code]
That is a complete non-sense. Where did you take it from?

[2021-03-27 19:31] doraboughzela commented on #190
Hello again,

I was trying to find users' examples on the web. I think with older versions of spline, some examples used to have this. I can relate now that is not the case. I managed so far to cpature lineage and learn from my mistakes.

Thank you for the work you are doing.
DB

[2021-03-29 10:48] wajda commented on #190
Those properties never existed, it's purely a result of internet users' creativity :)

[2021-03-29 10:48] #190 closed, assigned to nobody

[2021-03-29 14:32] cerveada commented on #191
Cassandra seems to be not compatible between Spark 2 and 3. The newer version uses API V2. We should make sure that the lineage Cassandra for Spark 3 produces is tested.

A Special test just for Cassandra may not be needed since the Data source API V2 may be identical for all V2 sources, but this should be verified.

[2021-03-29 14:34] cerveada opened #196 "Spark 3.0.X changes evaluation"
- check that changes in the API doesn't break the semantic assumption Spline makes. Mainly override and append modes semantics.

[2021-04-06 11:45] cerveada commented on #191
In case test for Cassandra is needed this could be used:
[code]
maven:
[code]

[2021-04-09 09:25] Zejnilovic opened #199 "SparkListener in Spark on YARN does not work"
We need to investigate how to enable SparkListener in Spark on YARN.

This makes the spark agent not work in codeless mode on the cluster.

[2021-04-09 09:45] wajda commented on #199
For the reference:

The issue #102 confirms that Spline on YARN works for some users. (The fact the user gets that error means that Spline is in action already)

On the other hand other users out there complain about Spark query listeners in general aren't called on their YARN
https://stackoverflow.com/questions/48822020/custom-queryexecutionlistener-not-being-called

[2021-04-09 13:59] wajda opened #200 ""null" should be a valid literal"
The agent is now using the removing-empty-values serialization strategy that doesn't assume existence of semantically valid `null` values, e.g. in literals. That results in producing invalid JSON that misses required properties (e.g. literal value that happens to be `null`)

[code]

We need to fix serialization in a way that allows for having `value: null` where appropriate.

[2021-04-09 14:00] wajda commented on #200
@dk1844, @AdrianOlosutean

[2021-04-09 14:07] wajda commented on #200
the simplest and quickest fix would be adding a default value to the producer model case class on the server side, but that would result in effectively making `value` an optional property for literals which is logically incorrect. So, to preserve the current level of Producer API model correctness I'd rather fix it on the agent.

[2021-04-09 15:15] wajda opened #201 "Missing attribute data when using producer 1.0 protocol"
# Test case:
Agent 0.6.0 --> Server 0.5.6

[2021-04-09 18:32] #188 closed, assigned to wajda

[2021-04-13 08:44] cerveada commented on #154
I think we need special pages for agent, gateway and UI on https://absaoss.github.io/spline/, so we can put artifact specific documentation there. The current page should still stay and have guide how to run everything together and general Spline overview.

[2021-04-13 08:46] cerveada commented on #160
Maybe it should point to https://absaoss.github.io/spline/? I don't think we need additional Spline pages on absaoss.github.io/

[2021-04-14 13:35] #196 closed, assigned to cerveada

[2021-04-15 16:56] wajda commented on #200
Seems that `NoEmptyValueSupport` isn't needed in the current agent version as the majority of the meaningless empty values used to come from the reflected entities, but the currently used revision of `ValueDecomposer` seems to take care of it naturally during recursion. Running example jobs without `NoEmptyValueSupport` revealed no impact, so I guess the one can be safely removed and the original

[2021-04-21 11:55] #160 closed, assigned to wajda

[2021-04-21 14:31] #166 closed, assigned to cerveada

[2021-04-23 14:08] wajda opened #209 "Shorten agent version info"
Only append scm revision to the agent version info when it's a a non-release version.
Also shorten it to 7 digits.

[2021-04-23 14:37] #201 closed, assigned to wajda

[2021-04-23 16:06] #209 closed, assigned to wajda

[2021-04-26 14:29] araujo-filipe commented on #69
Hey, I've been trying to use this feature using the code from the develop branch, but it doesn't seem to be working...
I've tried setting either by themselves or together these properties:
spline.postprocessingFilter.classNames=za.co.absa.spline.harvester.postprocessing.DataSourceUriLineageFilter
spline.postprocessing_filter.classNames=za.co.absa.spline.harvester.postprocessing.DataSourceUriLineag

[2021-04-27 09:43] wajda commented on #69
@araujo-joao,
This one was correct in your snapshot `spline.postprocessingFilter.classNames=za.co.absa.spline.harvester.postprocessing.DataSourceUriLineageFilter`.
But I just created a pull-request that changes the way filters are configured, as well as the name of the filter.
From now on you can enable the pre-configured password replacing filter like this:
[code]
See this change for details - ht

[2021-04-27 09:47] wajda commented on #69
But if the previous config that you tries didn't work, there might be a bug. Can you share the URI example where passwords aren't replaced by the filter?
Also note that the filter only processes data source URIs stored in the `ReadOperation.inputSources` and `WriteOperation.outputSource`. It doesn't scan other operation properties.

[2021-04-27 10:37] araujo-filipe commented on #69
Hey @wajda, thanks for the replies. After looking a bit into the code (scala noob) I figured out exactly what you said on the last reply... I am giving spark the password as an option to the reader and not on the jdbc url itself, so the password shows up in  `ReadOperation.params` and is not filtered.

**Py-spark:**
[code]
**Returned execution plan:**
[code]

One thing I noticed was that even if I

[2021-04-27 10:57] wajda commented on #69
Yeah, we need to scan for passwords in more places. Will create a PR

[2021-04-29 16:42] #200 closed, assigned to wajda

[2021-05-07 09:12] wajda opened #216 "Switch to the released package-pom"
Related to AbsaOSS/spline#887

[2021-05-07 09:13] #187 closed, assigned to wajda

[2021-05-07 13:26] wajda opened #217 "Decrease the size of the Docker container"
Currently the Docker image is over 1Gb. I wonder if it's justifiable.
Think about not to embed all the 3rd-party dependencies into a single image.
What about replacing in-process Mongodb, Elasticsearch etc with external services, and run them is separate containers, combined with the docker-compose for instance?

[2021-05-07 13:27] wajda commented on #217
@dvagapov

[2021-05-07 15:01] #216 closed, assigned to wajda

[2021-05-07 17:51] elisabetao opened #219 "NoClassDefFoundError: org/apache/commons/configuration/Configuration"
Hi,

When building the latest Spline Spark agent with Spark 3, and running a test I get
[code]
similar to this issue: https://www.gitmemory.com/issue/AbsaOSS/spline/870/823610404.
Due to this one needs to specify
[code]
instead of
[code]

Do you have any suggestions? Thanks a lot

[2021-05-07 18:11] elisabetao commented on #219
I am guessing the
[code]
 should be in core pom.xml.

[2021-05-07 18:11] #219 closed, assigned to nobody

[2021-05-07 21:42] wajda commented on #219
What exact version of Spark are you using?
I've checked 3.0.2 and 3.1.1 distributions and both contain `commons-configuration` library in them.

[2021-05-07 22:58] wajda commented on #69
In addition to the `inputSources` and `outputSource` properties, the filter now also looks for sensitive values in `params` of the `Read` and `Write` operations. (The other operations are _not_ scanned as we assume no secrets in data transformation operations).

[2021-05-07 23:11] #93 closed

[2021-05-10 16:34] xfontes42 commented on #69
Hello @wajda , looking at the most recent changes and the PR for this issue, cases like this are completely solved:
[code]
However, there is still the case:
[code]
Would it be possible to change the regex in the properties such that this scenario is also handled?
Thanks in advance for your help!

[2021-05-10 17:49] wajda commented on #69
Are you looking at the pull request - #220? It's not yet merged.
If so then it would be strange that it's not working, as there is a unit test that specifically checks the pattern you mentioned - https://github.com/AbsaOSS/spline-spark-agent/pull/220/files#diff-def5fcded193d2e425683f495ee3bdfe97a890043c2e6182b74399183700a34fR85

The filter uses two sets of regular expressions - one is applied on k

[2021-05-10 19:38] wajda opened #221 "Rename synthetic attributes of a union operation to match original attribute name"
In the following example
[code]
`df3` schema consists of attributes `_1, _2, _3`, while Spline reports different attribute names:

![image](https://user-images.githubusercontent.com/795479/117713108-83a96800-b1d5-11eb-9325-7ed8db5f9bbd.png)

Even though it might seem logical from the technical perspective to reflect the true nature of the resulted attributes, introducing new attribute names into t

[2021-05-10 19:38] wajda commented on #221
@cerveada

[2021-05-10 19:57] #65 closed

[2021-05-11 11:01] xfontes42 commented on #69
Hello @wajda ,

I've checked and I wasn't overriding the defaults.
I also tested adding to the `spline.postProcessingFilter.dsPasswordReplace.nameRegexes` property the specific name for my case (basically just `password`), still to no avail.

It might also be a particular circumstance of my setup, so I will look a bit further into that.
Nonetheless, I appreciate your quick answer!

[2021-05-11 11:14] wajda commented on #69
Are those "params" located in a read/write operation or a generic (other) operation?

[2021-05-11 11:16] xfontes42 commented on #69
They're in a read operation.

[2021-05-11 11:25] wajda commented on #69
I got it, nevermind :facepalm:  will fix shortly :)

[2021-05-11 11:50] wajda commented on #69
Please check it now, should be working.
It was my oversight, the filtering was applied for the n-th level of nested properties, but not the 1st one.
I've added more unit tests as well.

[2021-05-11 13:52] xfontes42 commented on #69
Works perfectly!
Thank you @wajda

[2021-05-12 06:41] cerveada commented on #221
It's not ideal either way. But at least the users still can see that the attributes are not the same by highlighting them.

[2021-05-12 09:40] #69 closed

[2021-05-12 10:10] wajda commented on #221
I'd follow the least astonishment principle and preserve/mimic the Spark representation where possible.
The spark union operation emits the attributes from the 1st dataset. So even though we emit new attributes we at least should name them accordingly.

[2021-05-12 17:34] #221 closed, assigned to wajda

[2021-05-12 19:43] #60 closed

[2021-05-13 11:00] wajda commented on #154
It will be covered in AbsaOSS/spline-getting-started#5

[2021-05-14 14:48] wajda opened #223 "Configuration: IWDStrategy to use the standard config pattern"
[code]

[2021-05-17 14:57] #223 closed, assigned to wajda

[2021-05-17 15:25] #154 closed, assigned to wajda, cerveada

[2021-05-25 14:26] whocanhu opened #226 "illegal cyclic reference involving object InterfaceAudience"
[code]

[2021-05-25 14:29] whocanhu commented on #226
the method i use spline is maven and program, when i use udf sql it occurs error like above, spline version i used is
<dependency>
            <groupId>za.co.absa.spline.agent.spark</groupId>
            <artifactId>agent-core_2.11</artifactId>
            <version>0.6.0</version>
        </dependency>
        <dependency>
            <groupId>za.co.absa.commons</groupId>
            <artifactId>c

[2021-05-25 14:41] cerveada commented on #226
Which version of Spark and Scala are you using?
Could you share the Spark SQL code that is causing this exception?

Thanks

[2021-05-26 07:13] whocanhu commented on #226
spark 2.4.0 and scala 2.11.12

[2021-05-26 07:25] whocanhu commented on #226
im sorry i can't paste it here, i can email it to you, how can i email it to you
Thanks

[2021-05-26 08:52] cerveada commented on #226
adam.cervenka@absa.africa

[2021-05-26 09:26] whocanhu commented on #226
the sql has been emailed to you

[2021-05-26 12:35] cerveada commented on #226
Thanks, I will check it out.  Removing my email for spam protection.

[2021-05-31 09:00] wajda commented on #226
possible duplicate for #138

[2021-06-01 14:30] cerveada commented on #226
From the logs the error is caused by expression inside four binary expressions (like `and`, `or`, `<`, etc). I tried to test some other expressions in the sql I received, but none of them seems to be causing any exception.

I suspect it's caused by the UDF `get_distance`, but it's strange because from the logs it seems to be the type is not spark's `ScalaUDF` but something else.

@whocanhu Could y

[2021-06-02 09:01] wajda opened #227 "Spark 3.1 support"

[2021-06-02 11:34] whocanhu commented on #226
ok, i will try it later

[2021-06-02 11:49] whocanhu commented on #226
I tried to delete the code use udf and it works, and then i checked the jar code, it writes by java code, you are right, but can this java type be resolved automic by program?

[2021-06-02 14:44] cerveada commented on #226
Ok, that means the UDF is causing the Exception. Sorry, I don't understand the question.

Could you send me the source code of the UDF, so I can run it locally and fix this issue in Spline?

[2021-06-03 10:40] wajda opened #230 "IllegalAccessError on Databricks"
Environment: Databricks notebook, Spark 3.0.1

[code]

[2021-06-03 17:26] wajda opened #232 "Logging: Log the dispatcher type in use as INFO"

[2021-06-04 16:09] bensenberner opened #235 "Unable to run example docker image"
Steps to reproduce:
[code]

output:
[code]

[2021-06-05 13:18] wajda commented on #235
I think the error message is clear:
[code]
You have to use a host name / IP that is accessible from the inside the docker container.

[2021-06-05 13:18] #235 closed, assigned to nobody

[2021-06-10 17:15] wajda opened #240 "Make Spark 3.1 and Scala 2.12 a default profile for dev and tests"

[2021-06-11 06:51] cerveada commented on #240
There is a downside to this. It's really easy to write code that works in 2.12, but not in 2.11. But not vice versa.

[2021-06-11 08:57] #232 closed, assigned to wajda

[2021-06-11 11:43] #230 closed, assigned to wajda

[2021-06-11 11:53] wajda commented on #240
As discussed, closing it as "won't fix" due to cross building issues. The best we can do is to stick with Spark 2.4 (as the only Spark version that supports both Scala 2.11 and 2.12) unless we drop support for Spark 2.x series.

[2021-06-11 11:53] #240 closed, assigned to wajda

[2021-06-11 11:56] wajda opened #242 "POM: Add <dependencyManagement> to Spark-xxx profiles"
In order to more precisely simulate the target Spark classpath during development and integration testing we need to add `<dependencyManagement>` sections to the Spark-xxx profiles.

[2021-06-11 13:15] #227 closed, assigned to wajda

[2021-06-11 13:35] #242 closed, assigned to wajda

[2021-06-14 16:07] wajda opened #248 "AWS EMR error - java.lang.NoClassDefFoundError: org/apache/commons/configuration/Configuration"
This issue only occurs on Spark 3.0.1-amzn version that is running on AWS EMR.
The error is presumably caused by missing [commons-configuration.jar](https://search.maven.org/artifact/commons-configuration/commons-configuration/1.10/jar) on the driver.
The simplest workaround is adding that library as an additional JAR-file.

For example:
[code]

See: https://github.com/AbsaOSS/spline-spark-agent/d

[2021-06-14 16:40] wajda commented on #248
Instead of documenting a workaround I decided to change a POM for Spark 3.0 series to include `commons-configuration` into the spline assembly. Since version 3.0 isn't LTS, there shouldn't be any new releases in the series. And for those that exist and are shipped with `commons-configuration`, duplicating this library in the assembly should not lead to any classpath collision, so I assume it is sa

[2021-06-15 08:02] #248 closed, assigned to wajda

[2021-06-15 12:26] wajda opened #250 "Set `spline.mode` to REQUIRED by default"
Having `spline.mode` set to `BEST_EFFORT` by default often leads to a false assumption that if the job completes with no errors then the lineage info should have been captured successfully as well. And when people don't see lineage on the Spline UI they are wondering what and where could go wrong. The astonishment could get even greater when everything worked perfect from the start, but then when

[2021-06-16 12:45] wajda opened #252 "Switch to AbsaOSS root POM"

[2021-06-17 14:26] wajda opened #255 "Duplicated events on Databricks"
On Databricks, when using SQL dialect, the last statement of the cell produces two execution events (or is it executed twice?).

For instance:
[code]

Produces four events with the last one duplicated:

![image](https://user-images.githubusercontent.com/795479/122415264-0fa67080-cf88-11eb-9c47-caf3c441f4ad.png)

Likewise the following code produces three insert events instead of two:

[code]

![im

[2021-06-18 00:52] mfrictionless opened #256 "Executions missing for Delta vs Parquet"
Hey Spline Team,

We're starting to test the Spline bundle on our Databricks clusters where we are defaulting our storage to Delta.  I've run through a test script that creates tables and inserts some data with the following bundles:

- za.co.absa.spline.agent.spark:spark-3.0-spline-agent-bundle_2.12:0.6.0 (DBR 7.6)
- za.co.absa.spline.agent.spark:spark-3.1-spline-agent-bundle_2.12:0.6.1 (DBR 8.3)

[2021-06-18 12:38] #252 closed, assigned to nobody

[2021-06-18 15:34] wajda commented on #256
The problem is most likely in between Databricks and Spline.
Spline supports delta, but Databricks uses their own slightly modified Spark runtime with certain internals different from the open-source Spark distribution. Enable DEBUG log level and look for the phrase "XYZ was not recognized as a write-command". If there is such message, enable TRACE logging, find the object dump JSON (it should be

[2021-06-18 19:00] mfrictionless commented on #256
Debug output:

`21/06/18 18:04:47 DEBUG LineageHarvester: Harvesting lineage from class org.apache.spark.sql.execution.command.DescribeTableCommand
21/06/18 18:04:47 DEBUG LineageHarvester: class org.apache.spark.sql.execution.command.DescribeTableCommand was not recognized as a write-command. Skipping.`

Trace Logs attached:

[trace-log-1.txt](https://github.com/AbsaOSS/spline-spark-agent/files/6

[2021-06-21 08:29] wajda commented on #256
Could you share a test Spark code that reproduces this behavior please?

I don't see any Delta related commands in the logs, but I do see some traces of commands that aren't expected to be there, like, for instance, `LocalRelation` or `Project` nodes appeared in a place where some write commands should be. Having a source code of the Spark job would greatly help to understand what's happening. Tha

[2021-06-21 23:50] mfrictionless commented on #256
I've attached the code and a part of the trace for a more concise example.

[spline-test-delta-trace.txt](https://github.com/AbsaOSS/spline-spark-agent/files/6690049/spline-test-delta-trace.txt)
[log4j-active.txt](https://github.com/AbsaOSS/spline-spark-agent/files/6690051/log4j-active.txt)

<img width="416" alt="Screen Shot 2021-06-21 at 4 51 57 PM" src="https://user-images.githubusercontent.com/

[2021-06-22 08:05] uuarttt opened #257 "Initialization problem"
I think your codeless initialization part still needs to be executed. Can you directly use static SQL configuration to achieve initialization?

[2021-06-22 08:08] uuarttt opened #258 "Initialization problem"
I think your codeless initialization part still needs to be executed. Can you directly use static SQL configuration to achieve initialization?

[2021-06-22 08:21] wajda commented on #257
Not sure I understand it. What problem do you have exactly?

Codeless initialization is done purely on the Spark configuration level.

[2021-06-22 08:37] wajda commented on #256
`org.apache.spark.sql.catalyst.plans.logical.CreateTableAsSelect`
Looks like that class was added in Spark 3, and we missed it. We'll fix it shortly. Thanks for report.

[2021-06-22 08:40] wajda opened #259 "Missing support for some Spark 3.0 commands"
`org.apache.spark.sql.catalyst.plans.logical.CreateTableAsSelect` is missing, and maybe something else as well.

See https://github.com/AbsaOSS/spline-spark-agent/issues/256#issuecomment-865420765

[2021-06-24 14:03] dhineshns opened #261 "Is there way to get the value of --name provided in spark-submit into the spline-spark-agent's payload"
I took look at the payload that spline-spark-agent sends to the server and it looks like it doesn't have the job name. Is there a way to get the job name into the payload?

[2021-06-24 14:29] cerveada commented on #261
You can implement a filter and add anything you need into payload.
Take a look at: https://github.com/AbsaOSS/spline-spark-agent#filters

[2021-06-24 15:31] wajda commented on #261
Are you running Spark in a cluster mode?
Actually, the agent does capture the app name via `sparkContext.appName` (which in turn takes value from `spark.app.name` property), and it stores it in the `executionPlan.extraInfo.appName` (and also in `executionPlan.name` since ver. 0.6.0)

If you don't see it being captured then it could probably be a cluster mode specific behavior. For example, see thi

[2021-06-24 19:04] mfrictionless opened #262 "Windowing functions cause errors in lineage harvesting"
Spline Team,

Testing some windowing functions in CTEs and temporary tables and we get the errors while processing. I've attached my sample notebook.  The first two insert commands work fine.  The final two fail.

- spark-3.1-spline-agent-bundle_2.12-0.6.1
- Databricks Runtime 8.3

[spline-test-windowing-function.ipynb.txt](https://github.com/AbsaOSS/spline-spark-agent/files/6711564/spline-test-wi

[2021-06-25 02:59] mfrictionless commented on #256
Following up on this,

I think you were correct in your original assessment of this being related to Delta in Databricks.  The attached test code works perfectly with Parquet tables.

[spline-test-delta-tables.ipynb.txt](https://github.com/AbsaOSS/spline-spark-agent/files/6713235/spline-test-delta-tables.ipynb.txt)

21/06/25 02:49:09 DEBUG LineageHarvester: Harvesting lineage from class org.apache

[2021-06-28 08:51] cerveada commented on #259
Duplicate of #191

[2021-06-28 09:28] #259 closed, assigned to cerveada

[2021-06-30 07:02] KeyboardMonkey221 opened #263 "Attempting to codeless initialisation causes Databricks cluster to Terminate"
My goal is to implement a similar cloud structure as https://intellishore.dk/data-lineage-from-databricks-to-azure-purview/ though with the latest versions of spline and using codeless initialization.

Unfortunately, each time I try to configure the cluster with spark configuration, the cluster terminates with the following error log.

[code]

Here is a description of my setup:

- spline .jar file

[2021-06-30 07:53] cerveada commented on #263
`spark-3.0-spline-agent-bundle_2.12-0.6.1.jar` is ready to use bundle, you don't need to build anything it is available here:
https://mvnrepository.com/artifact/za.co.absa.spline.agent.spark/spark-3.0-spline-agent-bundle_2.12/0.6.1

The bundle jar file must be on a class path for spark to be able to initialize the agent. Docker will not help with this.

Now to put the jar on a classpath in a norma

[2021-06-30 08:10] wajda commented on #263
@KeyboardMonkey221, that is Databricks issue - it loads libraries too late, making codeless init impossible.

Please refer this Hiw-To draft - https://github.com/AbsaOSS/spline-getting-started/blob/feature/spline-getting-started-5/spline-on-databricks/README.md

[2021-07-01 06:22] KeyboardMonkey221 commented on #263
Perfect - thank you for the tip @cerveada for the maven package, and thank you for explaining why it doesn't work on Databricks @wajda.

Things are resolved on my end with this issue.

[2021-07-01 06:22] #263 closed, assigned to nobody

[2021-07-01 23:12] mfrictionless commented on #261
@cerveada,

Would it be possible for you to post a simple example of a post processing filter.  I would really like to get some extra info out of Databricks and attach it to the Spline outputs and I'm having some trouble getting started with the implementation.

Thanks,

Michael

[2021-07-02 01:59] rsaw4 opened #264 "At least one operation defines output schema [#2], while some terminal input operations lack of it [#3]"
using spark-2.4-spline-agent-bundle_2.11-0.6.1.jar, spark 2.4, spline ui and rest-server 0.6, arangodb:3.7.10. spline components using docker quickstart
[code]

some data does get sent to spline ui, but the spark job exits after the stack trace. i wonder if its related to having an inline query (ie `select 1 as col`) ie no `FROM TABLE...` or if due to one df going to multiple outputs

UPDATE:
conf

[2021-07-02 02:30] rsaw4 opened #265 "Cannot send lineage data to (SocketTimeoutException: Read timed out)"
using spark-2.4-spline-agent-bundle_2.11-0.6.1.jar, spark 2.4, spline ui and rest-server 0.6, arangodb:3.7.10. spline components using docker quickstart

some data does go to spline ui but then at the end it give this error:
[code]

[2021-07-02 02:36] rsaw4 commented on #265
related to https://github.com/AbsaOSS/spline/issues/925 error comes at same time

[2021-07-02 07:09] cerveada commented on #261
Sure, for example take a look at [DataSourcePasswordReplacingFilter.scala](https://github.com/AbsaOSS/spline-spark-agent/blob/release/0.6/core/src/main/scala/za/co/absa/spline/harvester/postprocessing/DataSourcePasswordReplacingFilter.scala) It's a ready to use filter implementation provided by us.

Also take a look at [spline.default.properties](https://github.com/AbsaOSS/spline-spark-agent/blob/

[2021-07-02 08:03] cerveada commented on #265
This might be just the server not responding, because of that issue on the server.

[2021-07-13 01:14] mfrictionless commented on #256
This is likely a separate issue but I wanted to raise on this thread because it applied to Delta file support.

Versions tested

- 0.6.1
- Bundle spark-2.4-spline-agent-bundle_2.11
- Databricks DBR 6.4

In this scenario lineage is generated but is missing table identifier elements from operation output that I get with Parquet in the same scenario.

With Parquet I get:

[code]

With Delta i get not

[2021-07-14 12:32] cerveada opened #266 "DataSourceV2 byName attribute order"
### Problem
Spark has two methods how to match a dataframe columns to columns of the output.
- by order (first column in df is first in table, second is second etc) (`insertInto`)
- by name (the column "a" in df corresponds to column "a" in table "b" corresponds to "b" etc) (`saveAsTable`)

The by name is potentially problematic for us because Spline does not store the column metadata or write ope

[2021-07-14 12:33] cerveada commented on #191
Related issue: DataSourceV2 byName attribute order #266

[2021-07-15 13:27] alessandromas opened #267 "java.lang.ClassNotFoundException: za.co.absa.spline.harvester.listener.SplineQueryExecutionListener"
I'm having a ClassNotFoundException while trying to catch a linage with Spline ( Server A ) running a Spark-shell on a different server ( Server B ).
I tried the status check from Server B on Server A using curl, it seems works correctly

[code]

When i try to run the spark-shell i get the following error:

[code]

Here follow some detail about the enviroment:
[code]

The launch command detail:
[c

[2021-07-15 14:22] cerveada commented on #267
This is a problem with Spline agent initialization. Spline server is not even contacted in this case and is not therefore important to solve this issue.

The agent bundle must be available in the spark classpath. I am not sure why it is not happening for you.

Could you try to use `--packages` to fetch the bundle? If this doesn't work, could you try a programmatic initialization?
https://github.co

[2021-07-19 09:21] wajda commented on #267
Also see this comment - https://github.com/AbsaOSS/spline-spark-agent/issues/152#issuecomment-727595033
(it's about another missing class, but the problem could be the same)

[2021-07-19 13:54] wajda opened #268 "Drop support for Spark 2.x and Scala 2.11"
Spark 2.x version series has reached end-of-life and Spark 3.x requires Scala 2.12. So for the sake of lessening code complexity and maintenance burden we decided to drop support for Spark 2.x and Scala 2.11 starting from Spline 1.0 release.

[2021-07-20 19:03] elisabetao opened #269 "Spark-spline-agent 0.6.0-SNAPSHOT significant memory footprint on the Spark driver"
Hello,

We noticed while using Spark-spline-agent 0.6.0-SNAPSHOT that it had a memory significant footprint of over 1G on the Spark driver. We would like to deploy the Spline agent harvester on an existing system that already have preconfigured application driver and executor memory configuration, but if enabling the Spline agent on top, the applications require driver memory increase, else they s

[2021-07-20 23:41] wajda commented on #269
Hi @elisabetao, thanks for reporting this.
Can you give us more details on your setup?
What lineage dispatcher are you using, how complex is your Spark job (sharing the Spark job source code would be ideal).

[2021-07-21 01:30] elisabetao commented on #269
Hi Alex,

Thanks for the quick reply. I have tried the HTTP dispatcher and Kafka dispatcher and if I do not increase the driverMemory to 2GB (from the default 1GB), this basic insert fails  and container gets killed in yarn due to the fact that the container is running beyond the 'PHYSICAL' memory limit, no matter the dispatcher.
[code]
Thanks in advance

[2021-07-21 10:42] wajda commented on #269
I cannot reproduce it. Spline agent is a lightweight library that processes the executed Spark plan and sends it over the dispatcher. So unless your Spark job is crazy complex (producing exec plans with thousands of operations and complex expressions) the footprint of the agent should hardly be noticeable. Can you please use some profiler and get more insight on your memory dump?
I would suspect t

[2021-07-21 14:02] alessandromas commented on #267
Unfortunately, due to environmental policy, I cannot use the packages but as you suggested i tryed the programmatic initialization and i'm getting this result:

[code]

[code]

it looks like spark-shell is not loading the classes from the --jars, what do you think about?
Is that a client error ( where spark-shell run ) or a server error ( where Spline run )?

[2021-07-21 14:43] wajda commented on #219
fixed in #248

[2021-07-21 14:46] wajda commented on #267
The `java.lang.ClassNotFoundException: org.apache.commons.configuration.Configuration` issue has been resolved in the agent ver. 0.6.1 (see #248)
For 0.5.6 you can use the following workaround - https://github.com/AbsaOSS/spline-spark-agent/issues/219#issuecomment-834665815

[2021-07-21 16:25] wajda opened #270 "UNION should propagate identical input attributes to its output"
Consider the following case:
[code]

The `UNION` combines two data frames that are created from the same shared data frame `(a, b, c)` by applying different transformation chains.

To preserve both left and right paths in the resulting `(a', b', c')` data frame lineage we create new synthetic attributes for the `UNION` output, and connecting those attributes to all corresponding attributes in the

[2021-07-27 08:33] cerveada commented on #256
This should be fixed by #191

[2021-07-27 14:45] mfrictionless commented on #256
Thanks Adam,

Happy to test this.  I don't have the tools to build this locally right now but if there's a test build available in JAR format for the agent I'm happy to get a head start looking at it.

Cheers,

MIchael

[2021-07-28 07:21] cerveada commented on #256
I build it for you.

[spark-3.0-spline-agent-bundle_2.12-0.6.2-SNAPSHOT.zip](https://github.com/AbsaOSS/spline-spark-agent/files/6891052/spark-3.0-spline-agent-bundle_2.12-0.6.2-SNAPSHOT.zip)

[spark-3.1-spline-agent-bundle_2.12-0.6.2-SNAPSHOT.zip](https://github.com/AbsaOSS/spline-spark-agent/files/6891067/spark-3.1-spline-agent-bundle_2.12-0.6.2-SNAPSHOT.zip)

Please rename *.zip to *.jar. GitHu

[2021-07-29 07:51] wajda opened #272 "Duplicated attribute IDs"
**UPDATE**: A temporary workaround - https://github.com/absaoss/spline-spark-agent/issues/272#issuecomment-895947366

The issue was found in and causing AbsaOSS/spline#925

See JSON sample in https://github.com/AbsaOSS/spline/issues/925#issuecomment-874263960

minimal code to replicate the issue:
[code]
Happens on Spark 3.1, 2.4 and probably all others as well

[2021-07-29 14:33] wajda commented on #265
if it's caused by another issue it should not fail with timeout.

[2021-07-29 14:52] wajda commented on #272
@kuhnen, can you share a Spark job source code that reproduces the issue please?
We could reconstruct it from the execution plan JSON, but with the source code it would be much easier. Thank you!

[2021-07-29 16:34] wajda commented on #272
Observation:

The sample JSON above contains 3 `Read` operations that read from the same data source. Each of them emits its own set of attributes (same name and type, but different IDs). Then there are 3 `Project` operations each follows one of those reads and outputs an attribute `cast(total_commission) AS commission`. For some reason all those `commission` attributes are given the same ID!! (in

[2021-07-29 17:49] kuhnen commented on #272
@wajda I can, but the problem is that it might be hard to follow,  We created a framework for our business case, so it might not be that easy to understand the flow of the job :(.

[code]

[2021-08-02 09:13] wajda commented on #264
Will be fixed in AbsaOSS/spline#931

[2021-08-02 09:15] wajda commented on #256
@mfrictionless Can we close this one?

[2021-08-03 09:13] kuhnen commented on #272
@wajda @cerveada thanks for looking into it, is there any way I can help on this?  Maybe if you give the direction which class should I start to look at so that I can try to help?
Thanks a lot.

[2021-08-03 09:51] cerveada commented on #272
The key to fixing this is to create a Spark code that I could run and reproduce the issue. I was so far not successful in reproducing the issue myself.

From the json I was able to find some information:

The duplicated attribute is `comission` it is read from the data source as `total_comission` then cast to data type
 `Decimal(19, 3)` and then renamed to `commission`. This happens three times in

[2021-08-04 09:30] kuhnen commented on #272
@cerveada let me try.   I hope to give you the code this week. Thanks a lot.

[2021-08-04 14:45] cerveada commented on #272
@kuhnen thank you, It may be the only way. I tried a few more attempts to replicate the issue, but even though I am able to produce very similar lineage, the duplicated attribute just doesn't occur for me.

I found another duplicate attribute and there is a pattern:
[code]
The input attributes are read several times from what seems to be the same parquet file. Each read creates its own set of inpu

[2021-08-05 06:17] kuhnen commented on #272
@cerveada thanks a lot :). Since I was not able to have the code ready, let me give you answer for the three points above.
  * We are  not using UDFs (not on this code.  100% sure)
  * No direct RDD manipulation either (only spark Dataframes)
  * I run it locally (the idea in the future is to run on  AWS ERM). I mean, we run on AWS ERM, but for developing purposes and evaluate spline I was running

[2021-08-05 06:41] cerveada commented on #272
Could it be the renaming? We use lots of renaming to build the datamarts for the analytics people.

Maybe, If I will be able to debug any code example that is causing the issue I am sure I will be able to find the cause, but without it, it's just guessing.

Yes, 0.6.1

[2021-08-05 07:28] cerveada commented on #265
@wajda isn't this fixed by https://github.com/AbsaOSS/spline/issues/925 ?

[2021-08-05 08:50] xgboosted opened #278 "Certain Python execution plans aren't captured on Databricks"
As I understand, the Spline UI shows the execution events once we write to a file. I am writing to a CSV file using the below code but Spline UI is not showing anything. There are several cells of SQL transformation happening before writing to CSV, but nothing is getting captured. Anyway to resolve this issue?

[code]

[2021-08-05 09:10] wajda commented on #265
I don't think they are related. A bug 925 causes server to return status 500, so it should not cause any read time out.

@rsaw4 can you give us more input? How long does it wait before throwing the error?
What the server and the database are doing at the time the error is thrown? Are they busy or idle?
Can you also share the JSON that is sent to the server and fails?

[2021-08-05 09:28] tooptoop4 commented on #265
@wajda

the logs immediately before the stacktrace are:

[code]

server and database are not too busy. i can't see the json?

[2021-08-05 10:08] wajda commented on #265
You can get JSON by either enabling TRACE log level for Spark, or by using a composite lineage dispatcher.

[code]

(see - https://github.com/AbsaOSS/spline-spark-agent/blob/release/0.6.1/core/src/main/resources/spline.default.properties#L53)

[2021-08-05 10:14] mohanajuhi166 opened #277 "Google BigQuery Plugin"
We have a requirement to add google Bigquery support  as part of the Plugin API support: https://github.com/AbsaOSS/spline-spark-agent#plugins.

Is there a possibility for this to be added as a feature?
I have did some development on my own as well regarding Bigquery.

Thanks & Regards.

[2021-08-05 10:17] wajda commented on #265
[code]
The agent waits for 30 seconds and then times out. Does AbsaOSS/spline#925 error happen inside that 30 seconds waiting time interval or after the agent times out?

[2021-08-05 10:27] wajda commented on #278
Please verify that the Spline agent is enabled and listens to Spark event.
If everything is done correctly you should see something like the following in Spark logs:
[code]

[2021-08-05 10:29] tooptoop4 commented on #265
seems like 20 seconds not 30. #925 error is 2 hours earlier

[2021-08-05 10:51] wajda commented on #277
Sure, why not.
I would recommend you to create a plugin first, make it working on your side, and then create a PR when it's ready. Please also write some integration tests.
Thank you.

[2021-08-05 10:55] wajda commented on #265
Ok, 20 seconds :)

Now I'm confused. You said both errors happen at the same time, and now you are saying the server one happens 2 hours earlier? How could they be related then?

[2021-08-05 11:45] wajda commented on #262
The Spark code that I've extracted from the log above.

[code]

[2021-08-05 12:25] xgboosted commented on #278
Here is what I am seeing in the Driver logs, and it looks like similar to what you mentioned above:

![image](https://user-images.githubusercontent.com/1528712/128349030-e38d6b90-47e2-49a0-8b5f-cad78383107d.png)

Please note that I am saving the transformed files in CSV format, is that the reason why the lineage is not showing up? Should I save files in Parquet format instead?

[2021-08-05 12:27] tooptoop4 commented on #265
I don't have the original logs for #925 anymore, but I did numerous spline runs over the day.

[2021-08-05 14:57] wajda commented on #278
No, the format should not matter.
Is there any error messages in logs?
Try to enable logging dispatcher and see if it prints some JSON to logs.
[code]

[2021-08-05 15:15] wajda commented on #265
Can you try it again with Spline 0.6.1 server and the latest snapshot agent build from the `release/0.6` branch?https://teamcity.jetbrains.com/buildConfiguration/OpenSourceProjects_AbsaOSS_SplineAgentSpark_AutoBuildSpark24scala211/3570967?buildTab=artifacts#%2Fbundle-2.4

If there is a timeout, try to see what's server is doing at that moment. And if there is an exception on the server then how it

[2021-08-05 15:16] xgboosted commented on #278
Should I enable it in the Spark config, or add it at the beginning of the notebook?

And, where would this logging information be written if enabled?

[2021-08-05 15:20] wajda commented on #278
In the Spark config, the same place where the rest of Spline settings are put.

A lineage JSON should be printed to the Spark logs - the same logs where you've seen those Spline INFO messages

[2021-08-05 15:27] wajda commented on #278
What Spark version are you using?

[2021-08-05 15:29] xgboosted commented on #278
Spark 3.1.1 and Scala 2.12. Please note that I'm writing the CSV file using Python.

I should add that the example Scala code given in the Spline Databricks guide works perfectly.

[2021-08-05 15:31] wajda commented on #256
I'm closing the ticker assuming it is fixed. Please feel free to reopen it if the issue repeats.

[2021-08-05 15:31] #256 closed, assigned to nobody

[2021-08-05 15:34] wajda commented on #278
Ok, we'll investigate.
Could you please send the entire Spark log file? Or check for the messages like:
[code]

[2021-08-06 05:06] xgboosted commented on #278
I have emailed you, please check.

[2021-08-06 07:43] tooptoop4 commented on #265
using the new versions get this error:

[code]

maybe this is the sparksql breaking spline:
[code]

odd that the json is exactly 40000 lines long:

16699  2021-08-06 07:26:28,394 [main] TRACE za.co.absa.spline.harvester.dispatcher.HttpLineageDispatcher - sendJson http://redact:8080/producer/execution-plans :
 57000  2021-08-06 07:26:28,547 [main] ERROR za.co.absa.spline.harvester.listener.SplineQu

[2021-08-06 09:18] wajda commented on #265
It's this issue - #272. We are still investigating. Thanks for the info.

[2021-08-06 09:25] wajda commented on #272
Another code snippet that potentially reproduces it (see https://github.com/AbsaOSS/spline-spark-agent/issues/265#issuecomment-894070863):
[code]

[2021-08-06 11:40] wajda commented on #278
I was able to (sort of) reproduced the issue.
It looks like a Databrcks issue. In certain cases the Spline agent does not receive any events from the Databricks runtime about the performed operation. The odd thing is that the issue is intermittent. At some point it starts working and then after some time idling it stops.

I was playing with different code snippets both on Databricks and my local P

[2021-08-06 11:41] cerveada commented on #262
Databricks Runtime 8.3 uses Apache Spark 3.1.1.

I Tested it on Spark 3.1.1 and 3.1.2 without any issues.
Maybe there is some change only present on Databricks that is causing this.

I will probably have to test this on an actual databricks instance to find the issue.

Spark Scala code I used for testing:
[code]

[2021-08-06 11:51] xgboosted commented on #278
The notebook I have is SQL, so the Transformations are happening in SQL before writing the results in Python. Do you think I should try with writing the CSVs in Scala? What's is the best solution for this issue in your opinion?

[2021-08-06 11:56] wajda commented on #278
For some reason I cannot reproduce it anymore. Maybe it actually worked to me all the time, but the logs were slow to update, that's why I didn't see the captured events. I'm not sure :\

At this point I cannot suggest anything in particular, Try to use different Databricks runtime versions, and if that doesn't help, try performing the write in Scala.

[2021-08-06 13:04] xgboosted commented on #278
Which Databricks runtime do you recommend for Spline 0.6.1 version? I'm using 8.2 currently.

[2021-08-06 14:06] wajda commented on #278
I tested on 8.3

[2021-08-06 14:42] cerveada commented on #265
Is `schema_validated_failed` data read from `s3`?

[2021-08-06 15:17] tooptoop4 commented on #265
its another spark df from s3 (not hive table) but constructed from several other spark dfs (each having same column names). ie df1 is read (ie created) from s3 and has 20 cols, df2 is read from df1 and has 20 cols, df3 is read from df1 and df2 and has 20 cols, schema_validated_failed is read from df3, then schema_validated_failed result is written out to s3.

[2021-08-06 15:32] kuhnen commented on #272
@wajda thanks a lot :). @cerveada   please let me know if you still need my code. Sorry, so many meetings this week,

[2021-08-09 02:31] xgboosted commented on #278
Is this syntax correct? The Spark Config text box takes only Key-Value pairs (else, an error is detected).

Anyway, I have written the below parameters for Spark Config but the `http` value pair is getting vanished automatically and I don't see any execution in the Spline UI. Once I remove the `logging` value pair, execution events are captured again (`http` value pair is not getting vanished in t

[2021-08-09 06:08] xgboosted commented on #278
I have now tried writing files in Parquet format, still no sign of the lineage being captured.

[2021-08-09 06:15] xgboosted commented on #278
What does this error mean? It seems to be related to the Spline agent installed in Databricks (this is for Runtime 8.0, includes Apache Spark 3.1.1, Scala 2.12):
[code]

[2021-08-09 09:37] wajda commented on #278
It might be the cause.
The bug is already opened here - #262

[2021-08-09 09:40] wajda commented on #262
@GolamRashed can you share the code to reproduce the issue please?

[2021-08-09 12:41] kuhnen commented on #272
@wajda @cerveada ,  I created a new project spark project to help with this task.  But now I am getting this error:
[code]
any idea how to solve it or why it began to happen?

[2021-08-09 12:53] cerveada commented on #272
It could be Scala version mismatch. Do you use the same Scala version for everything?

[2021-08-09 13:05] kuhnen commented on #272
@cerveada thanks. I found the issue,  I mean, I could solve it,  but I do not understand why 😂 .    At least I can work and hopefully give you guys a code that recreates the issue 🙌 .

[2021-08-09 20:03] elisabetao commented on #269
I ran some profiling but I couldn't find anything specific, however what I noticed is that without spline certain basic  queries can run with a driver of 512m, while with spark-spline-agent enabled  it requires 1700m and more.
On your side, are you able to use the lineage with default Spark memory driver of 1g?

Thanks a lot

[2021-08-09 21:54] wajda commented on #269
Are you talking about heap or non-heap memory?
I've tested with `spark-shell --driver-memory 512m` and it works with no issues at all.

Below is a memory monitoring screenshot for a continuous run of about 1000 jobs (with Spline tracking) in a client mode on my local PC.

![image](https://user-images.githubusercontent.com/795479/128779279-f7807863-48e6-4f62-a68d-6fe3c746ab12.png)

[2021-08-09 22:19] wajda commented on #269
and this is without Spline - pure Spark

![image](https://user-images.githubusercontent.com/795479/128781350-337eae48-8851-4198-b4ed-51f54d07e796.png)

As you can see the difference is negligible.

[2021-08-09 22:39] wajda commented on #269
I've also tried running Spline examples in a Docker container with RAM limit of 1200mb and it worked. But this is a memory limit for the entire container including OS and Maven (Spark examples are run by Maven inside the container).

I would say that 512m heap size is the absolute minimum for a Spark driver alone to be able to run. Plus a couple of hundred mb of non-heap space, plus every addition

[2021-08-10 07:29] kuhnen commented on #272
@cerveada @wajda   I have a piece of code, without any external dependencies that shows the problem.
Please let me know if you can use it.  I will try to find the exactly line in the mean time:

[code]

[2021-08-10 07:37] cerveada commented on #272
I will try it out, thanks a lot!

[2021-08-10 07:39] kuhnen commented on #272
Sorry about this line ```("hive.imetastoreclient.factory.class", "com.amazonaws.glue.catalog.metastore.AWSGlueDataCatalogHiveClientFactory")```. for sure you do not need that

[2021-08-10 08:20] cerveada commented on #272
The duplicates are there, now I can finally try to fix this.

[2021-08-10 10:03] kuhnen commented on #272
@cerveada great :).  I was trying to simplify even more the code.  Is there a way I can long the name of the attributes?  I can only see this: ```Cannot send lineage data to http://localhost:8080/producer/execution-plans. HTTP Response: 400 Duplicated attribute IDs: 33, 26```

[2021-08-10 10:22] cerveada commented on #272
You can use this config
[code]
The `console` dispatcher will log the json in the console instead of trying to send it.

Or I just use debug breakpoint in LineageHarvester.Scala Line 150. Where I can see the plan object directly in the IDE.

[2021-08-10 11:21] kuhnen commented on #272
@cerveada quick update from my side :)
If I add **localCheckpoint** here
[code]
The duplicated ids are solved.  Maybe this helps with your debugging 👍

[2021-08-10 22:04] tomassatka opened #280 "spark 3.1.2 readstream"
Hi team

Does spline 0.6.1 connector support spark 3.1.2 readstream?

I have 2 examples. One taken from your java example repo.

configuration setup:
[code]
java example reading csv by read() and writing to another csv by write()

[code]
This emits messages to kafka topic

But when tried streaming with readstream&writestream i dont see anything to be emitted.

[code]
Do i do something wrong or is

[2021-08-11 01:40] mfrictionless commented on #256
Starting testing this week.  I'll be able to tell you by EOW.

On Thu, Aug 5, 2021 at 8:31 AM Alex Vayda ***@***.***> wrote:

[2021-08-11 08:44] wajda commented on #280
Spline agent doesn't support structured streaming at the moment. It's on our roadmap and the priority has been raised recently, so we should start looking into it soon. Follow the issue #41

[2021-08-11 08:48] #280 closed, assigned to nobody

[2021-08-11 12:19] jbadeau commented on #143
Hello, did u ever manage integrate with atlas using the agent

[2021-08-11 12:44] nevi-me commented on #143
@jbadeau no, I had bigger issues with Atlas at the time, so I abandoned the work. I was making slow progress though, so it should be feasible.

What I would recommend is to do the integration using Scala. I used Kotlin out of familiarity, and I was hitting compatibility issues between things like Kotlin lists vs Scala iterables.

[2021-08-12 15:56] cerveada commented on #262
I can replicate this on Databricks 8.3.
So it's Databricks specific issue. It seems to be caused by any Spark Window.

[2021-08-12 23:09] xgboosted commented on #262
What could be the solution for this? Should I contact Databricks or Apache Spark dev team?

[2021-08-13 09:04] cerveada commented on #262
The problem is Databricks changed some code in Spark that we relay on. Now we will have to implement special handling for that in Spline. This is further complicated by the fact that Databricks is closed source, so we can't just look at the code and see the difference.

But we are working on it.

[2021-08-13 09:06] xgboosted commented on #262
I have raised a ticket through Azure Databricks. Just to confirm, is the issue confined to `spark.sql.queryExecutionListeners`?

[2021-08-13 09:19] cerveada commented on #262
No, It's not a bug in Azure, they simply differ from Spark. I tried to explain it in the previous comment.

[2021-08-13 09:32] xgboosted commented on #262
I understand what you mean, Azure is now contacting Databricks to find a solution for this. But my question is, is this issue related to `spark.sql.queryExecutionListeners` module?

[2021-08-13 11:22] cerveada commented on #262
Spline Agent itself is `QueryExecutionListener` so in that sense it is.

[2021-08-13 11:50] wajda commented on #262
It would be awesome if Databricks folks contribute to Spline and added a proper support for their closed source stuff. Otherwise it will always be trial-and-error approach.

@GolamRashed, could you perhaps refer this issue in the Databricks ticket that you created?

[2021-08-13 11:54] xgboosted commented on #262
Great thinking, would be awesome if Databricks contributes! I have included the link for this thread in the support ticket. Spline could be a very good Data Lineage solution for the company.

[2021-08-13 14:13] cerveada commented on #265
Solved by #272

[2021-08-13 14:13] #265 closed, assigned to nobody

[2021-08-13 14:23] cerveada commented on #262
Output from ObjectStructureDumper for Databricks Window
[code]

[2021-08-16 09:37] #226 closed, assigned to cerveada

[2021-08-16 09:37] #191 closed, assigned to cerveada

[2021-08-16 09:37] #266 closed, assigned to cerveada

[2021-08-16 09:39] #264 closed, assigned to cerveada

[2021-08-16 09:39] #272 closed, assigned to cerveada

[2021-08-16 09:57] wajda commented on #262
@GolamRashed, @mfrictionless can you please test the following agent build?
https://teamcity.jetbrains.com/repository/download/OpenSourceProjects_AbsaOSS_SplineAgentSpark_AutoBuildSpark31scala212/3581929:id/bundle-3.1/target/spark-3.1-spline-agent-bundle_2.12-0.6.2-SNAPSHOT.jar

[2021-08-16 13:33] xgboosted commented on #262
@wajda Tried it, same error persists -

[code]

[2021-08-16 14:36] wajda commented on #262
can you show the stack trace please?

[2021-08-16 14:40] xgboosted commented on #262
This?

[code]

[2021-08-16 15:13] wajda commented on #262
Thanks. Hm, I see that the fix doesn't actually address this error for some reason. I guess Adam faced another issue while trying to reproduce it and fixed that one, but not the original one. I can take a look at it. It would be great if you could assist me with testing, as the Databricks Community Cloud that I'm using seems to be down for the last couple of days - creating a cluster takes an hour

[2021-08-16 16:17] wajda commented on #262
@GolamRashed please try this one
https://teamcity.jetbrains.com/repository/download/OpenSourceProjects_AbsaOSS_SplineAgentSpark_AutoBuildSpark31scala212/3582567:id/bundle-3.1/target/spark-3.1-spline-agent-bundle_2.12-0.6.2-SNAPSHOT.jar

[2021-08-17 09:02] xgboosted commented on #262
It seemed to be working, there were no errors and the related lineage was captured in Spline UI. Does it mean the bug was in Spline agent, not in Databrciks? If yes then I need to close the ticket with Azure/Databrciks. I am more than happy to test Spline in Databricks for you guys!

[2021-08-18 01:19] whocanhu commented on #226
Alex Vayda ***@***.***>于2021年8月16日 周一下午5:37写道：

spark2.4.6 and scala 2.11.12

[2021-08-18 08:23] wajda commented on #262
Thanks Rashed!
There was no bug per se. It's a mismatch between the open Spark and the Databricks code. I have added an additional check that filters out expressions that don't extend `NamedExpression` trait. It eliminates an error and works as a workaround. But since I can't see inside their code I cannot be sure that this doesn't break the computational lineage correctness. The best way to fix i

[2021-08-18 08:27] xgboosted commented on #262
Can you please detail the issue with specifics so that I can forward it to Databricks? I didn't quite get it from your explanation above.

[2021-08-18 09:43] wajda commented on #262
This is a definition of the `Window` operation in the open Spark - https://github.com/apache/spark/blob/master/sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/basicLogicalOperators.scala#L982
Particularly we are interested in the `windowExpressions` that is defined as a sequence of `NamedExpression`.

[code]

But as you can see from the debug info here - https://github.com/

[2021-08-18 09:57] wajda commented on #226
agent version?

[2021-08-18 09:58] wajda commented on #226
Could you please try this one?
https://teamcity.jetbrains.com/buildConfiguration/OpenSourceProjects_AbsaOSS_SplineAgentSpark_AutoBuildSpark24scala211/3584762?buildTab=artifacts

[2021-08-18 14:23] xgboosted commented on #262
Thank you @wajda , I will forward this to Databricks.

Just a request regarding the Spline UI. Is it possible to add an option to have each lineage capture event be named after the Table/file name that is written? Right now, it just says Databricks Shell.

[2021-08-18 18:49] mfrictionless commented on #262
Update on my side.  WIth the SNAPSHOT bundle provided above, I now see success capturing plans with Windowing functions!  It sounds like the above is still an issue due to the closed source nature of Databrick's implementation of the Windowing function.

I'll celebrate success for the moment as this clears a significant hurdle for broad use.

<img width="1251" alt="Screen Shot 2021-08-18 at 11 43

[2021-08-19 02:22] mfrictionless commented on #256
Using the Spark 3.0 bundle you provided in the thread.

Catalog: AWS Glue
Databricks Runtime: 7.3
Spark: 3.0.1
Scala: 2.1.2

[code]

Plan:

[code]

Results:

[code]

[2021-08-19 08:39] wajda commented on #262
Thank you all guys, I'm closing the ticket as resioved then.

Not sure I get it. It also shows a target destination, both a short name and full path.
Anyway, that's an unrelated topic. Please create another ticket for that. (for UI stuff there is a *spline-ui* repo)

[2021-08-19 08:39] #262 closed, assigned to cerveada

[2021-08-19 09:18] wajda opened #285 "Best-effort ObjectStructureDumper"
Errors inside `ObjectStructureDumper` should be handled gracefully and not protrude into the main logic. The dumper output is still useful even if it's not complete, so the reflection errors should be caught as early as possible allowing the rest properties to be analyzed.

[code]

[2021-08-19 09:20] wajda commented on #256
This one is important
[code]
The other error is mostly a noise in this case. I've created a ticket for that - #285

[2021-08-19 09:28] wajda opened #286 "Support for `AppendData` node"
ref https://github.com/AbsaOSS/spline-spark-agent/issues/256#issuecomment-901558208

[2021-08-19 09:29] wajda opened #287 "Support for `InsertIntoTable` node"
similar to #286

[2021-08-19 09:29] wajda commented on #256
filed a separate ticket

[2021-08-19 12:26] #285 closed, assigned to wajda

[2021-08-19 18:56] mfrictionless commented on #256
For some good news this command is working with the above configuration:

[code]

21/08/19 18:50:42 DEBUG LineageHarvester: Harvesting lineage from class org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand

[2021-08-23 14:33] cerveada commented on #286
This doesn't seems to be really `AppendData` issue that is already implemented. But another problem with Databricks classes.

spark.spline.mode BEST_EFFORT
[code]

spark.spline.mode REQUIRED
[code]

[2021-08-23 14:40] cerveada opened #289 "Redesing the behaviour when Write command is not recognized"
- Currently, the message that appears in logs differs depending on spline mode, which is confusing.
- When there is an error, it could be a good idea to try to use structure dumper (but catch any errors form there)
- generaly make the logs the same in the same sittuation (only additional details hould be added / missing)

This happens in #286

[2021-08-24 09:00] cerveada commented on #287
There is no `InsertIntoTable` command in Spark or Delta. So I am not really sure what this issue is about?

Sql like: `INSERT INTO aaa VALUES ('a925eaf2-e342-497b-85fb-773e81bf57f5')` into DSV2 table will actually generate `AppendData` command.

[2021-08-24 10:52] wajda commented on #287
It's not a `Command`, it's a `LogicalPlan` and just like `AppendData` it also has a `query` field. And because `AppendData` not being a command still appears in the top of the execution plan I thought that maybe there is a similar case for the `InsertIntoTable`.

[2021-08-24 10:55] wajda commented on #287
Well I just figured that the doc says the `InsertIntoTable` only exists in unresolved plans. So I suppose we can safely ignore it.

[code]

[2021-08-24 11:00] #287 closed, assigned to cerveada

[2021-08-24 11:11] cerveada commented on #287
It was removed in Spark 3: https://github.com/apache/spark/pull/25763.

That and the fact that GitHub doesn't allow searching anywhere else than in HEAD explains why I was not able to find it.

[2021-08-25 15:06] cerveada opened #290 "Conversion to Json Error (scala.MatchError: MethodType(TypeRefType ... )"
[code]

Code to reproduce:
[code]

[2021-08-25 20:31] mohanajuhi166 commented on #277
Thank you @wajda ,
was working on the plugin and noticed that JDBCPlugin may work in this case for bigquery.
An example below:-
`spark.sqlContext.read.format("jdbc").option("url", "jdbc:googlebigquery:DataSetId=MyDataSetId;ProjectId=MyProjectId;").option("dbtable","Orders").option("driver","cdata.jdbc.googlebigquery.GoogleBigQueryDriver").load()`

Any thoughts on the same? Thank you.

[2021-08-27 17:42] wajda commented on #277
I have nothing to add. If it works it works :)

[2021-08-28 17:57] mohanajuhi166 commented on #277
PR raised : https://github.com/AbsaOSS/spline-spark-agent/pull/292

[2021-08-30 07:55] mohanajuhi166 commented on #277
Raised a PR @wajda . I am not entirely sure what kind of integration tests i can write for bigquery.

[2021-08-30 09:32] wajda commented on #277
Can we create a test account and use Google free tier for automated testing purposes?

[2021-08-30 18:04] diegoeche opened #295 "Adding a Postprocessing filter (starting from scratch)"
## Background [Optional]
I'm working on a POC for spline where we want to add metadata using a Postprocessing filter.

* I'm using Docker.
* I have knowledge of the Scala language

This is probably a silly question out of the fact I haven't used java in ages, and I lost touch with the ecosystem :P

## Question

I have a Scala source code for a Postprocessing filter `CustomFilter.scala`.

I'm unsur

[2021-08-30 18:19] diegoeche commented on #295
Probably I should have posted in the spline-agent repository and not on this one. Any pointers would be really appreciated though.

[2021-08-30 19:23] #295 closed, assigned to nobody

[2021-09-02 10:45] wajda opened #297 "Document versioning strategy"
The README should make it clean what versioning strategy is in use.
The compatibility matrix should also describe the compatible server versions.

[2021-09-02 16:46] wajda opened #298 "Make docker image smaller"
ref AbsaOSS/spline#889

[2021-09-03 08:18] #298 closed, assigned to wajda

[2021-09-03 15:40] mpindado opened #302 "Problems with spark-3.0-spline-agent-bundle_2.12:0.6.2"
Hi, so I just need to attach the agent into a spark-shell and print out the data into a console.
My configuration is a local spark-shell running in ubuntu:

Spark 3.0.1, scala 2.12.10.

First I tried this:

[code]
This fails because it cannot find these libraries (maybe a firewall issue?):
[code]
So I cloned the repo and generated the bundle myself:
**spark-3.0-spline-agent-bundle_2.12-0.6.2.jar**

[2021-09-03 16:54] wajda commented on #302
What JVM are you using?

[2021-09-03 19:25] mpindado commented on #302
Very good point....I am using JRE openJDK 11 for starting the spark-shell, and compiled the bundle with adopt JDK 11, although I see a setting in scala-maven-plugin to use 1.8 for target.

Should I compile the bundle and run the shell with 1.8?

[2021-09-03 19:26] wajda commented on #302
Yes, please use 1.8

[2021-09-03 19:35] wajda opened #303 "Add a note about required Java version"
As Spark 3.0 supports Java 11 users often use it with Spline and run into issues.

E.g. #302

[2021-09-03 20:32] mpindado commented on #302
That was it, although spark 3 runs on jdk11, switching my local spark-shell to run over JDK8 made the same jar work without problems.

Thank you so much, nice work.

[2021-09-03 20:32] #302 closed, assigned to nobody

[2021-09-03 21:27] #303 closed, assigned to wajda

[2021-09-03 21:41] #290 closed, assigned to cerveada

[2021-09-03 21:41] #286 closed, assigned to cerveada

[2021-09-03 21:41] #289 closed, assigned to cerveada

[2021-09-06 12:44] xgboosted commented on #262
@wajda Databricks team replied through Azure support that they have opened an internal ticket for the engineering team to make the Spline library work with DBR. I hope this is good news for the Spline Dev team, and I will keep you posted with updates from Databricks.

[2021-09-06 16:20] #250 closed, assigned to wajda

[2021-09-06 20:16] wajda opened #308 "Error when running with Java 11"
When running on Spark shell 3 + Java 11 the following error is thrown - classgraph/classgraph#553

[2021-09-09 10:35] wajda commented on #302
#309 should fix the issue.
Compilation still requires Java 1.8, but runtime can be any Java version supported but Spark.

[2021-09-16 10:01] #277 closed, assigned to nobody

[2021-09-16 10:01] #308 closed, assigned to wajda

[2021-09-17 07:49] cerveada opened #314 "KafkaDispatcher: set max.in.flight.requests.per.connection to 1 by default to avoid reordering"
kafka docs:

retries are allowed by default.

[2021-09-28 17:55] lbiddau68 opened #318 "problem with SPARK-SQL"
we are not able to feed spline with lineage with SPARK-SQL
lacunching a scala job with SPARK-SUBMIT everything is ok.

we are running on HDP-3.1.5.0

spline 0.5.6
spark 2.3.2
hive 3.1

[code]

we receiving this error:

[code]

[2021-09-28 21:23] wajda commented on #318
I'll double check tomorrow, but judging from the error message (`java.lang.ClassNotFoundException`) it doesn't seem like a Spline problem. `spark-sql` just doesn't see Spline classes. There could be several reasons: a bug in a `spark-sql` or a broken JAR. There could also be another masked error, buried somewhere in logs that you didn't notice, occurred during one of Spline classes static initiali

[2021-10-06 13:37] wajda opened #319 "CreateDatabaseCommand not implemented error"
Spark **3.1.2**
Scala **2.12**
Job `DeltaDSV2Job`

Missing lineage for `dsv2.owbep`

[code]

[2021-10-12 11:10] wajda opened #323 "Support for multiple types of ID"
# Motivation

At the moment almost all IDs generated by the agent are random (UUID v4), excepts for the operation ID which is a sequential number. This poses some challenges on further processing on the server side, like the following:
1. Random IDs are useless for sorting, so it's impossible to guess, for instance, how distant any two nodes in the graph are by looking at their IDs, which is often

[2021-10-12 11:12] wajda opened #324 "Add a business ID property"
See AbsaOSS/spline#978

[2021-10-14 23:21] wajda opened #326 "Logging: Spline init errors in BEST_EFFORT mode should be logged as WARN"
![image](https://user-images.githubusercontent.com/795479/137408241-4df53896-773b-474a-b5e6-9242f53d51e8.png)

[2021-10-15 07:28] cerveada commented on #326
I am not sure the log severity should change depending on the mode.

As a user I might use some log analysing tool and see there are 0 errors and some warnings from spline agent => Ok that means agent works, right?

It should be quite easy to filter out spline logs from the rest of spark logs if you really don't care about the agent.

[2021-10-15 09:21] wajda commented on #326
After giving it a second thought I agree with you. The log severity should indeed be chosen from the Spline perspective, not from the hosting app perspective.
Closing the ticket.

[2021-10-15 09:21] #326 closed, assigned to nobody

[2021-10-15 12:19] #297 closed, assigned to wajda

[2021-10-15 13:44] cerveada commented on #319
First of all `CreateDatabaseCommand` is not really implemented, that command is currently ignored by Spline. So that error is expected and not a bug. (Maybe it should be just warning?)

The problem was that lineage for DeltaDSV2Job`s dsv2.owbep write was not created.

Unfortunately for me it works on
Spark 3.1.2
Scala 2.12
Java 8.0.265-amzn and 11.0.8-amzn

[2021-10-15 21:37] #314 closed, assigned to cerveada

[2021-10-18 13:47] wajda opened #328 "Lineage harvester output is not deterministic"
After implementing #323 and using UUID version 5 by default, it's expected the `Harverster` output to be deterministic.
In fact it isn't for certain example jobs:
- ExampleJob2 (stage 1)
- ExampleJob3
- WindowFunctionJob

[2021-10-18 13:55] wajda commented on #328
I've found three sources of the non-deterministic behavior for the aforementioned jobs:
1. Non-deterministic topological graph sorting algorithm. (Fixed in AbsaOSS/commons#85)
2. Spline captures Spark `ExprId` entities that contain random UUIDs in the `jvmId` property.
3. `WindowFunctionJob` writes to a random output file.

[2021-10-18 21:22] #328 closed, assigned to wajda

[2021-10-18 21:35] #323 closed, assigned to wajda

[2021-10-19 06:50] cerveada opened #330 "make log level independent on spline mode"
We already established we don't want the log levels to differ depending on the spline mode.
The rest of the agent logs should behave this way as well.

[2021-10-19 07:46] cerveada commented on #330
I just noticed that there is a different behaviour when lineage recognition fails. When in required mode, the exception is thrown only to be captured a few levels higher and just logged anyway.

We should think about what the mode should actually do and if it should be just for initialization or do more.

[2021-10-19 09:01] wajda commented on #330
The main purpose of the mode is to control a) if Spline should be activated at all, and if yes then b)  if the failure of lineage tracking should interrupt the main Spark job.

In other words, it's less related to the error logging, but rather to the error handing and initialization.

[2021-10-19 09:37] cerveada commented on #330
Let's discuss this tomorrow.

[2021-10-19 10:24] wajda opened #331 "PostProcessingFilter with a default constructor"
There is no reason for the `PostProcessingFilter` to require a custom constructor. Default constructor should also be supported

[2021-10-20 10:32] cerveada opened #332 "When "command To Be Implemented" is caught it should log only warning"
currently, they throw an error.

[2021-10-20 10:53] cerveada commented on #330
After discussion, we agreed that SplineMode should matter only during initialization of the agent.
When errors happen when agent is capturing a lineage it will be caught and logged (independent on a mode) and the agent will continue processing any following lineages.

[2021-10-20 11:00] cerveada commented on #319
Cannot reproduce

[2021-10-20 11:01] #319 closed, assigned to cerveada

[2021-10-20 11:06] wajda commented on #199
It doesn't seem to occur from the comments we receive from the community. Taking into account that the issue was only reported against Spline+YARN combination I conclude that it's either caused by improper usage of YARN or a bug in certain YARN versions that was fixed later. Thus I'm closing the issue as "cannot reproduce"

[2021-10-20 11:06] #199 closed, assigned to cerveada

[2021-10-21 10:50] #169 closed, assigned to cerveada

[2021-10-22 08:01] cerveada opened #335 "Remove deprecated UserExtraMetadataProvider"
- UserExtraMetadataProvider is depricated some time already
- We have DeclarativeExtraInjectingFilter as a replacement

[2021-10-22 08:02] cerveada commented on #335
@wajda should this be done in 1.0.0 ?

[2021-10-22 13:08] wajda commented on #335
Yep, please remove it :+1:

[2021-10-22 13:58] cerveada commented on #331
I think the same can be said about `LineageDispatcher` and `IgnoredWriteDetectionStrategy`. I will just make the default constructor option available for them as well.

[2021-10-26 06:24] cerveada opened #342 "Support attribute and expression level lineage for MapElements, SerializeFromObject, DeserializeToObject"
Lineages generated from code showed in [discussions/341](https://github.com/AbsaOSS/spline-spark-agent/discussions/341) are missing connections between attributes and expressions.

Let's add support for that.

[2021-10-28 19:11] elymberopoulos commented on #33
Hello, I'm just wondering what the state of this issue is? Is it actively in progress?

[2021-10-28 20:10] wajda commented on #33
No, it's not a priority at the moment, but is still on the road map.

[2021-10-29 20:16] carpe-erin commented on #342
@cerveada what do you think is the priority on getting this implemented?

[2021-11-01 15:28] cerveada commented on #181
### Current support for Scala UDFs in Spline
Now Scala UDFs are captured and stored as expressions, they seem to have correct input and output. There are not many details about the function itself. For example UDF that consists of several expressions will be represented as just one UDF expression. From lineage point of view this seems to be still a lot of detail, since even expression level lineag

[2021-11-01 18:24] wajda opened #346 "Unexpected error using spline agent 0.7 with AWS Glue 3.0"
### Discussed in https://github.com/AbsaOSS/spline-spark-agent/discussions/345

<div type='discussions-op-text'>

<sup>Originally posted by **araujo-joao** October 29, 2021</sup>
Hi guys,

I've been using a custom version of the spline agent for collecting data lineage from AWS Glue spark jobs.
Now AWS Glue released a new version that uses spark 3.1 so I decided to try to update the spline agent t

[2021-11-02 19:17] wajda commented on #342
`MapElements` is created from the RDD style method `map(fn)`, where `fn` is a lambda, so no attribute lineage can be inferred automatically.

We might try to solve it using custom annotations on the model case classes for instance to carry the missing compile time information to the runtime, but this isn't something that can be done quickly. I'd say this is a nice feature request that could be add

[2021-11-02 19:56] wajda commented on #342
I didn't quite get about `SerializeFromObject` and `DeserializeToObject`, what is missing there?

[2021-11-02 21:04] wajda opened #348 "Capture more details about object data types"
Currently any object data type is captured with the name being just `"object"`:
[code]

Spark `DataType` class has a method `simpleString` that for object types gives more details about what the type actually is.
[code]

[2021-11-03 16:46] #348 closed, assigned to nobody

[2021-11-03 16:47] #346 closed, assigned to nobody

[2021-11-05 06:16] carpe-erin commented on #342
The lineage of the example in this discussion: https://github.com/AbsaOSS/spline-spark-agent/discussions/341 currently outputs 5 operations:

1. LogicalRelation
2. DeserializeToObject
3. MapElements
4. SerializeFromObject
5. InsertIntoHadoopFsRelationCommand

I am not too certain on the details of what occurs in the DeserializeToObject and SerializeFromObject to be honest. When I dug into the coll

[2021-11-05 10:50] wajda commented on #342
That's because the connections between fields in `MapElements` aren't visible at runtime, neither to Spline nor to Spark. The transformation happens in a lambda function, and the only thing we know about it at runtime is that it takes one object as an input and returns another objects as an outputs. How exactly the fields of that object are computed is covered with the darkness of bytecode.

[2021-11-05 14:24] carpe-erin commented on #342
@wajda Ah okay. So it sounds like it isn't possible to create this feature?

[2021-11-05 15:16] wajda commented on #342
Well, it's _practically_ impossible to do it automatically. In theory we could try to decompile and reverse engineer the bytecode in attempts to recover the tracing between the fields, but you know, the amount of work is significant and the outcome is not really predictable or guaranteed. So I would prefer not going that route.
What _is_ possible however is to create a few annotations or a DSL tha

[2021-11-05 15:33] carpe-erin commented on #342
@wajda ah I see. Looking at that outer feature request, while it isn't the most ideal solution, I think we could make that work for us. So I am fine with closing out this request for now.

[2021-11-05 16:26] wajda commented on #342
Leave it open please, for ease of tracking.

[2021-11-08 15:02] DhananjayPunekar opened #351 "Support for lineage, transformations on unmanaged table in Azure Databricks"
Hi,

I was testing out the latest spline tool. (from here: https://mvnrepository.com/artifact/za.co.absa.spline.agent.spark/spark-3.1-spline-agent-bundle_2.12/0.7.1)

I am using a databricks runtime version 9.1 to work with.

I am not able to track lineage for unmanaged tables in Databricks.
The code I am trying to run on databricks is:

[code]

I also saw that there was a similar issue reported e

[2021-11-08 15:52] cerveada commented on #351
Hello, could you please set the logger level to `trace` for package `za.co.absa.spline`, run the example again and post the log here?

[2021-11-11 21:13] wajda opened #353 "Spark 3.2 support"
Check the changes in the Spark internal API and the dependecies, and create a separate bundle for Spark 3.2 if 3.1 doesn't suit

[2021-11-12 01:03] wajda opened #354 "OpenLineage API dispatcher"
Add a new dispatcher that would send lineage metadata in the [OpenLineage](https://openlineage.io/) format.

OpenLineage JSONSchema:
https://github.com/OpenLineage/OpenLineage/blob/main/spec/OpenLineage.json

[2021-11-14 10:57] ganeshnikumbh opened #356 "Can't send lineage data from databricks to azure function"
Hi,

I am getting below error message when sending lineage data from azure databricks to azure function. Any idea why?

[code]

[2021-11-15 00:04] wajda commented on #356
The error is on the server side, that if I guess it correctly is your Azure function, so try to debug it.

[2021-11-23 09:51] cerveada commented on #353
Spark 3.2 supports Scala 2.13, but there are still many libraries we use that don't:
spark-excel, spark-cassandra-connector, mongo-spark-connector, spark-cobol (cobrix), delta-core

[2021-11-23 10:05] wajda commented on #353
Ok, so let's only add Spark 3.2 for Scala 2.12 support for now

[2021-11-23 20:29] wajda opened #359 "Improve programmatic initialization API"
The programmatic init API should provide a concise and elegant way to pass config properties, filters, dispatchers and other components to the Spline context.

[code]

[2021-11-25 21:46] #356 closed, assigned to nobody

[2021-11-27 10:54] ganeshnikumbh opened #361 "Optionally capture memory only actions like `collect()`, `count()` etc"
Hi,

I have code where I am collecting the spark DF rows into a variable and then iterating over those rows to insert in Cosmos DB graph. When I run this notebook I expect to see some lineage generated in driver logs (I tried setting the dispatcher to console as well as logging). But I do not see anything.
But I replace the collect action with writing to a file in Azure datalake, then I can see th

[2021-11-28 22:53] wajda commented on #361
This is as designed - only persistent actions lineage is captured. The reason is that the data stored into memory doesn't have any stable identifier, so the lineage of it might only be useful temporarily, but not quite in a long term perspective.

On the other hand, when thinking about it after some time passed I acknowledge the existing of a valid use case for that.
I think about adding a configu

[2021-11-29 09:16] ganeshnikumbh commented on #361
@wajda , thanks for clarifying. I hope to see the feature soon :)..

[2021-12-06 16:30] cerveada commented on #354
- OpenLineage requires two messages, one for start of a run and the other for complete with times of those events. In Spline the times are only in `ExecutionEvent` but we want to also include the lineage from `ExecutionPlan` so the dispatcher will have to combine those two.
- Currently, the dispatcher API is tight to classes defined and generated from Spline producer API. In case of supporting alt

[2021-12-14 14:56] wajda opened #364 "Upgrade to classgraph-4.8.138"

[2021-12-14 19:08] jakecomp opened #365 "Issue with configuring spline with pyspark"
Hello there,

I am currently trying to display some lineage on my console with pyspark however I am running into some issues with configuring spline. I am using the spark-spline-agent and I have followed the configuration as shown here:

![pyspark_problem](https://user-images.githubusercontent.com/44540913/146061801-064f5c62-3324-47ac-b4df-b94ed07fec37.PNG)

When I try running my spark job I get t

[2021-12-15 09:03] cerveada commented on #365
That is because Spark does not know the property without s and will basically ignore it. So Spline is not used at all.
The property is correct.

Since you are using Spline **3.1** you should use `spark-3.1-spline-agent-bundle_2.12` not **3.0**.

Can you try again with the correct bundle?

[2021-12-15 09:53] jakecomp commented on #365
Hey @cerveada ,

So I went ahead and tried spark-spline 3.1 bundle and it appears I am running into the same issue. What is interesting is when exactly the error is occurring. It appears that spline tries to initialize but I get the error when I try reading in my csv file.

The full error message is shown below:

![image](https://user-images.githubusercontent.com/44540913/146163717-8e964bc4-c575-4

[2021-12-16 11:17] wajda commented on #365
This is my log for comparison. Spark 3.1.2, Python 3.10.0. Everything is by default (excepts for turning on the shell INFO logging in log4j.properties).
Everything looks fine, I don't see any errors.

Try to double check your setup.

[code]

[2021-12-16 16:00] cerveada commented on #365
Are you sure it does happen only when using Spline? If you run the same code without
`--conf "spark.sql.queryExecutionListeners=za.co.absa.spline.harvester.listener.SplineQueryExecutionListener" ` Does it throws the exception?

Could it be this issue:
https://stackoverflow.com/questions/38912879/win7-pyspark-sql-utils-illegalargumentexception

[2021-12-16 23:39] jakecomp commented on #365
Hey @wajda and @cerveada,

I removed --conf "spark.sql.queryExecutionListeners=za.co.absa.spline.harvester.listener.SplineQueryExecutionListener"  and I did not get any errors and my code ran properly (with the exception of no lineage being captured).

I then also tried the solution mentioned in the link above with regards to adding the sql warehouse and added the sql listener configuration back i

[2021-12-17 10:15] cerveada commented on #365
I am trying to figure out what is happening. It seems that an exception is thrown during spline initialization, but unfortunately in python no exception details are shown. We know it is `IllegalArgumentException` but no message, no stack trace from JVM. It's hard to find out what is wrong from that.

Also, not sure why is there `: <exception str() failed>`. Maybe exception when processing another

[2021-12-17 16:38] jakecomp commented on #365
@cerveada my apologies,

This is my first issue I've created so sorry for that! Unfortunately adding `--conf "spark.sql.pypsark.jvmStacktrace.enabled=true"` doesn't show an additional error message. One thing I'm going to explore is try using spline in a juypter notebook.

Given how the configuration is working for everyone else I'm wondering if the underlying issue is somehow connected to the fac

[2021-12-21 21:00] 97nitt opened #368 "Database password is included in execution plans with JDBC data sources"
I was doing some local testing (using v0.7.1 of the agent) to see what execution plans look like for different data sources, standing up a backend that simply logs the requests from the Spline agent. When running a Spark job that reads from a JDBC source, all of the connection parameters were included in the `params` of the read operation, including the password, which should probably be redacted.

[2021-12-21 21:49] wajda commented on #368
There is a `DataSourcePasswordReplacingFilter` that removes sensitive information from the agent output. The filter isn't enabled by default, so you need to enable it explicitly via agent configuration. For example:
[code]
See https://github.com/AbsaOSS/spline-spark-agent/blob/release/0.7.1/core/src/main/resources/spline.default.properties#L104 for details.

I think, we need to enabled it by defau

[2021-12-21 21:51] #368 closed, assigned to nobody

[2021-12-22 11:07] wajda opened #370 "Spark Config :: Arrays properties don't work"
I'm having trouble getting the composite filter working with two user-defined filters. I'm doing the Spline configuration in my PySpark application, so I have code that now looks like this:
[code]
where `password` is the `DataSourcePasswordReplacingFilter`, and `mcd` is another custom filter I've built.

When I run the Spark application the Spline agent initialization fails with:
[code]
Seems the

[2021-12-22 17:08] #370 closed, assigned to wajda

[2021-12-22 17:35] 97nitt commented on #370
Awesome. Thanks for the quick turnaround @wajda!

[2021-12-22 18:56] wajda opened #372 "Exceptions are swallowed in AgentBOM.postProcessingFilter"
[code]

[2021-12-22 19:10] wajda opened #373 "Make `DataSourcePasswordReplacingFilter` enabled by default"

[2021-12-23 06:24] ashishprmodi opened #374 "Unable to rebuild the bundle on local machine"
Hi,

We are trying to build spline bundle after changing the lineage dispatcher. We are able to build the bundle. Once we deployed the bundle on our databricks cluster getting below mentioned error.

"SecurityException: Invalid signature file digest for Manifest main attributes"

<img width="858" alt="image" src="https://user-images.githubusercontent.com/26406633/147197691-b2cb968e-d689-4bd0-8d51-

[2021-12-23 09:38] #374 closed, assigned to nobody

[2021-12-27 16:29] wajda opened #376 "Kafka Dispatcher :: Producer API multi-version support"
Similarly to the `HttpLineageDispatcher`, `KafkaLineageDispatcher` should be able to send output in different Producer API versions. The required version number should be set in the dispatcher configuration defaulting to the current supported version (1.2).

[2021-12-28 13:00] wajda opened #378 "Custom labels support"
According to AbsaOss/spline#737 we need to add ability to specify custom labels in the execution plan and the execution event entities.
_Labels_ semantically differ from _Extras_ as while the later can represents _any_ additional user metadata that is not analyzed by Spline in a any way, the former is specifically used for grouping and filtering the lineage metadata.

[2022-01-09 15:42] mothukur opened #382 "Error while preparing the lineage"
I am having NoSuchMethodError while testing the spline agent with spark 3.1.2. Below is the stacktrace. can someone help me ?

[code]

I tried with agent core and the spline agent bundle jar. Both ways giving the same error.

[code]

[2022-01-10 00:31] wajda commented on #382
Make sure you use Scala 2.12

[2022-01-11 08:05] samwong1990 commented on #353
Hello, happy user of spline here.

Would it be possible to get 3.2 support out sooner? Part of our pipeline has started relying on 3.2 features, we had to exclude them from spline at the moment.

Thanks!
Sam

[2022-01-11 22:54] wajda commented on #353
There seems to be a lot of changes in Catalyst and dependencies. It might take some time to sort everything out. Spark 3.2 is not a priority for us at the moment, but we'll try to create a branch with passing integration tests at least, so that you can take it and test further.

[2022-01-14 06:54] ChopperChen opened #383 "Cannot perform operation after producer has been closed"
I build a spark job that copy data from a hive table to another table using agent-core_2.12-0.7.2.jar.Job is success,but spark log contains 'Caused by: java.lang.IllegalStateException: Cannot perform operation after producer has been closed'.
My code :
[code]
Did I take some mistakes?

[2022-01-14 07:28] cerveada commented on #383
- Can you share the whole error message?
- Was anything send to kafka's data-topic?

[2022-01-14 07:30] ChopperChen commented on #383
the whole error message:
[code]
@cerveada
nothing is send to kafka.

[2022-01-14 07:34] ChopperChen commented on #383
I think that producer was close by _za.co.absa.spline.harvester.dispatcher.KafkaLineageDispatcher.scala:51_.
spark executor exit and shut down kafka's producer.

[2022-01-14 07:56] cerveada commented on #383
Yes, most likely. The lineage capturing code used to be called in the same thread in the older versions of spark. Now it's on a different one, so that is probably the cause, or one of them.

Which version of Spark were you using?

[2022-01-14 08:01] ChopperChen commented on #383
The version of spark is 3.0.1，version of spline-spark-agent is 0.7.2.

[2022-01-14 08:32] samwong1990 commented on #353
Not sure how feasible it is to self-serve here, after looking at the test results and the subsequent commits above, can't really say I understand what we are trying to fix here.

If it is something that takes less time to explain than to do, I am happy to help.

Thanks!
-Sam

[2022-01-16 23:22] wajda commented on #353
Thank you for offering help, but to explain the problem we need to understand it ourselves first. Something has changed in the Spark internal representation of attribute dependencies that makes some integration tests to fail. There are also breaking changes in the version of the Json4s library that Spark 3.2 uses.

[2022-01-19 16:28] wajda opened #390 "Extension API: life-cycle management and dependency injection"
Objectives:
1. Plugins, Filters, Dispatchers and other components have to share the same convention and mechanism to create instances and manage their life cycle.
2. All components to optionally implement `Closeable` and `AutoCloseable` interfaces
3. Plugins to support configuration via the standard configuration stack (same as other components).

[2022-02-04 01:24] wajda opened #396 "HttpLineageDispatcher to not expect Spline server on the other end"
From AbsaOSS/spline#1015 it might be useful if the user could configure `HttpLineageDispatcher` to not negotiate the protocol version and use a fixed one instead.
For example (similar to `KafkaLineageDispatcher`):
[code]

[2022-02-09 13:03] #383 closed, assigned to cerveada

[2022-02-09 21:54] matt12eagles commented on #102
Hello, does anyone have a work around on this besides updating spark? @wajda trying to see if we can have a work around on this from the spline agent side so we dont have to upgrade all apps to spark 2.4.5+ Thanks!

[2022-02-09 22:15] wajda commented on #102
I would try replacing `scalaj` with another Http client in the `HttpLineageDispatcher` class.

[2022-02-09 22:39] wajda opened #398 "Docker container won't stop on Ctrl+C"
The samples container runs the shell as PID 1 which doesn't forward SIGTERM to the child java process.

[code]

[2022-02-10 13:35] matt12eagles commented on #102
thank you @wajda we will give that a try! Will look into other options for http clients, hope to get it working!

[2022-02-15 07:42] abhineet13 opened #401 "Is it possible to get count of records for data sources?"
## Background [Optional]
Similar to spark UI which shows count of records for each stage, would like to understand if counts can be available for spline lineage.

## Question
Hi, Is it possible to get count of records for data sources and before/after transformations like filter, join?

[2022-02-15 13:19] wajda commented on #401
Execution metrics are only available in a [physical](https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/execution/SparkPlan.scala) plan while Spline's main focus is a [logical](https://github.com/apache/spark/blob/master/sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/LogicalPlan.scala) one.
There is no direct correlation between both,

[2022-02-15 15:20] DhananjayPunekar commented on #351
Hi @cerveada ,
Sorry for the delayed response.
This was an issue with my code/version control and not with this library.

Hence closing this issue.

[2022-02-15 15:20] #351 closed, assigned to nobody

[2022-02-16 05:00] abhineet13 commented on #401
Thanks, combined read/write metrics will be helpful.

[2022-02-16 13:15] wajda commented on #401
combined ones are already there

[2022-02-17 17:17] muaragon opened #402 "How to attach extra metadata to the data lineage using a code-less configuration?"
### Version
**spark**: apache-spark@3.1.2
**spline-agen**t:za.co.absa.spline.agent.spark:spark-3.1-spline-agent-bundle_2.12:0.6.1

### Background
After following the steps in the following blog https://www.capitalone.com/tech/software-engineering/spline-spark-data-lineage/, I've been able to extract data lineage from spark and upload it to the spline server. The next thing I want to do is inject m

[2022-02-18 11:21] wajda commented on #402
The filter needs to be enabled in order to take effect.
[code]
or, if you want to enable other filters at the same time
[code]

[2022-02-18 11:25] #402 closed, assigned to nobody

[2022-02-21 02:51] Taurus-Le opened #405 "ElasticSearch :: No lineage is captured"
**Environment**
Apache Tomcat 9.0.58
Delta Lake 1.0.0
Elasticsearch-7.13.4
hadoop-3.2.2
Java-11.0.10
spark-3.1.2-bin-hadoop3.2
spark-3.1-spline-agent-bundle_2.12-0.7.3
spline-web-ui-0.7.3
spline-rest-server-0.7.5

**Logs**
[stderr_from_yarn.log](https://github.com/AbsaOSS/spline-spark-agent/files/8105677/stderr_from_yarn.log)
[localhost_access_log.2022-02-21.txt](https://github.com/AbsaOSS/spline-

[2022-02-21 03:07] Taurus-Le commented on #405
What's driving me crazy is that I ran the examples from the source with spline.producer.url pointed to `http://h8:9090/spline-rest/producer` and the lineage data just appeared on the spline web. Below is the command I executed.
[code]

[2022-02-21 08:54] cerveada commented on #405
It is possible that the write was not recognized. Could you please set the logger level to trace for package za.co.absa.spline, run the example again and post the log here?

Also, you can try to configure the console dispatcher to see what the agent is sending directly in the logs. To see whether the agent is sending the linage or the problem is elsewhere.

[2022-02-21 10:08] wajda commented on #405
See #394

[2022-02-22 03:55] Taurus-Le commented on #405
@cerveada
Hi, thanks for your suggestion. I set the log level to trace and reran the example. Below is the log.
[ExcelJob.log](https://github.com/AbsaOSS/spline-spark-agent/files/8113328/ExcelJob.log)
Also I switched the dispatcher to console. Below is the log files.
[console_dispatcher_stderr.log](https://github.com/AbsaOSS/spline-spark-agent/files/8113543/console_dispatcher_stderr.log)
[console_

[2022-02-22 07:31] Taurus-Le commented on #405
And I found there are many sections which contains `OBJECT DUMP BEGIN`. So the reason that no lineage data is generated is the command is unrecognized, is it? And am I supposed to open an issue for every text block?

[2022-02-22 08:38] cerveada commented on #405
No, Spark generates some events that are supposed to be ignored by Spline, that is expected. This log is there to just find if there is some operation that was ignored, but should not be.

So I think this issue is enough for now.

[2022-02-22 08:53] cerveada commented on #405
In this case, I suspect that `CreateViewCommand` with `ViewType` == `PersistedView` maybe responsible for storing the data.

@Taurus-Le Can you share the code that you use to store the data into Elasticsearch? Shortest code that produces the issue is the best.

[2022-02-22 09:30] Taurus-Le commented on #405
@cerveada
[code]
FYI.
The code is very simple. I just used spark-elasticsearch connector. Here is the maven artifact cordinates
[code]

If you need more code, please let me know. Thanks again for your help. I could attach the whole project if you need.